/* base.scss (START) */

@import '../config';

body, html {
	width: 100%;
	height: 100%;
	position: relative;
	font-size: 10px;
	line-height: 10px;
	letter-spacing: .5px;
	margin: 0;
	box-sizing: border-box;
}

h1 {
	font-size: 3.6rem;
	line-height: 4rem;
}

h2 {
	font-size: 2.8rem;
	line-height: 3.2rem;
	color: #000;
}

h3 {
	font-size: 2.2rem;
	line-height: 2.8rem;
}

h4 {font-size: 3rem;}
h5 {font-size: 2rem; font-weight: bold;}
h6 {font-size: 1rem; font-weight: bold;}

h1, h2, h3, h4, h5, h6 {
	line-height: 1em;
	font-weight: normal;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
}

p {
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
}

img {
	height: auto;
  	max-width: 100%;
	vertical-align: top;
	box-sizing: border-box;
}

div {vertical-align: top;}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

ol {
	padding: 0;
	margin: 0 0 0 20px;

	li {
		margin-bottom: $b-gut;
	}
}

table {
	width: 100%;
	border: 3px solid #e4e8eb;

	thead {
		font-size: 1.4rem;
		color: $disable;

		tr:hover {
			background: #fff;
		}
	}

	thead, tr {
		border-bottom: 3px solid #e4e8eb;
	}

	tr {
		transition: $t;

		&:hover {
			cursor: default;
			background: #e4e8eb;
		}
	}

	td {
		padding: 7px $t-gut;
		border-left: 3px solid #e4e8eb;
	}
}

quote {
	font-family: Arial;
	font-style: italic;
	font-size: 1.8rem;
	line-height: 2.4rem;
	color: #000;
	border-left: 6px solid $blue;
	display: block;
	padding: 15px 20px;
	margin-bottom: 20px;
}

// :focus {
// 	outline: 1px solid transparent;
// }

a {

	transition: $t;
	line-height: 1em;
	text-decoration: none;
	color: $blue-b;

	&:hover {
		color: $red;
		text-decoration: none !important;
	}

	&:focus {
		outline: 1px transparent;
		outline-color: transparent;
		outline-style: none;
	}

	&:active {
		color: $red;
	}

	&:visited {

	}

	&:link {

	}

}

/* base.scss (END) */