/* common.scss (START) */

/* SEO friendly hiding */

.hidden {
    position: absolute;
    top: -9999;
    left: -9999;
}

.visible {
    position: static;
    top: inherit;
    left: inherit;
}

/* Simple hiding */

.show {
	display: inherit;
}

.hide {
	display: none;
}

/* Fixed */

.fixed {
	position: fixed;
	z-index: 1000;
}

/* Filters */

img.grayscale {
    filter: gray;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(100%);
}

/* common.scss (END) */