/* forms.scss (START) */

@import '../config';

input,
textarea,
select {
	border: 0;
	width: auto;
	box-sizing: border-box;

	resize: none;
	transition: $t;
	// outline: none;

	// appearance: none;

	// &:focus {
	// 	outline: 1px solid transparent;
	// 	border: 1px solid transparent;
	// }

	&[placeholder] {}

	&[disabled] {
		resize: none;
		opacity: .5;
		cursor: default;
	}

	&.invalid {
		border: 1px solid #cb5a5a !important;
	}
}

label {
	cursor: pointer;
}

input[type="radio"] {}

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"] {

	width: auto;
	// outline: 1px transparent;
	box-sizing: border-box;
	transition: $t;

	// appearance: none;

}

select {
	appearance: none;
	border: 1px solid #d4dade;
	border-radius: 3px;
	padding: 12px 15px;
	line-height: 1em !important;
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0%, rgba(238,241,243,1) 100%);
	cursor: pointer;
	transition: $t;
	outline:0;
	max-width: 400px;

	&:hover {
		box-shadow: 0 0 7px 3px rgba(8, 81, 142, .1);
	}

	&:focus {
		box-shadow: 0 0 7px 3px rgba(8, 81, 142, .1);
	}
}

input[type="number"] {
	font-size: 1.8rem;
	width: 70px !important;
	padding-right: 5px !important;
	padding-top: 10px;
	padding-bottom: 10px;
}

input[type=checkbox]:not(old),
input[type=radio]:not(old){
  width: 28px;
  margin: 0;
  padding: 0;
  opacity: 0;
  cursor: pointer;
}

input[type=checkbox]:not(old) + label,
input[type=radio]:not(old) + label{
	display: inline-block;
	margin-left: -28px;
	padding-left: 28px;
	line-height: 24px;
	transition: 0.3s;
	cursor: pointer;
	position: relative;
	left: -5px;
}

input[type=checkbox]:not(old) + label {
	background: url('../img/icons/icon__checkbox.png') no-repeat 2px 0;
}

input[type=checkbox]:not(old):hover + label {
	background: url('../img/icons/icon__checkbox--hover.png') no-repeat 2px 0;
}

input[type=checkbox]:not(old):checked + label{
	background: url('../img/icons/icon__checkbox--active.png') no-repeat 2px 0;
}

input[type=radio]:not(old) + label {
	background: url('../img/icons/icon__radio.png') no-repeat 0 1px;
}
input[type=radio]:not(old):checked + label, input[type=radio]:hover + label {
	background: url('../img/icons/icon__radio--active.png') no-repeat 0 1px;
}

input, textarea {
	border: 1px solid #d4dade;
	border-radius: 4px;
	padding: 12px 20px;
	outline: 2px solid transparent;
	box-sizing: border-box;
	max-width: 700px;
	&:required {
		border: 1px solid #d4dade;
	}

	&:hover {
		box-shadow: 0 0 7px 3px rgba(8, 81, 142, .1);
	}

	&:focus {
		box-shadow: 0 0 7px 3px rgba(8, 81, 142, .1);
		border: 1px solid #0884ec;

		&:required {

			&:valid {
				border: 1px solid #0884ec;
				transition: .3s;
			}

			&:invalid {
				border: 1px solid #cb5a5a;
				transition: $t;
			}

		}

	}

}

/* forms.scss (END) */