/* typography.scss (START) */

/* font-family: "OpenSans" */

@font-face {
    font-family: "OpenSansRegular";
    src: url("../css/fonts/OpenSansRegular/OpenSansRegular.eot");
    src: url("../css/fonts/OpenSansRegular/OpenSansRegular.eot?#iefix")format("embedded-opentype"),
         url("../css/fonts/OpenSansRegular/OpenSansRegular.woff") format("woff"),
         url("../css/fonts/OpenSansRegular/OpenSansRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "OpenSansBold" */

@font-face {
    font-family: "OpenSansBold";
    src: url("../css/fonts/OpenSansBold/OpenSansBold.eot");
    src: url("../css/fonts/OpenSansBold/OpenSansBold.eot?#iefix")format("embedded-opentype"),
         url("../css/fonts/OpenSansBold/OpenSansBold.woff") format("woff"),
         url("../css/fonts/OpenSansBold/OpenSansBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* typography.scss (END) */