append config
	- jquery = true
	- slick = false
	- featherlight = false
	- equalheight = false

extends template/template.jade

block title
	| 404

block content

	.error
		.logotype
			a.logotype__link(href='dashboard.html')
				img.logotype__image(src="img/logotype.png", width="151", height="43", title="Перейти на главную страницу Личного кабинета", alt="")

		.error__message
			h1.error__num 404
			.error__title Страница не найдена
			.error__text Запрашиваемая вами страница не найдена. Возможно она была перемещана или удалена.
			a.error__back(href="#") Вернуться в кабинет
