append config
	- jquery = true
	- slick = false
	- featherlight = false
	- equalheight = false

extends template/template.jade

block title
	| 500

block content

	.error
		.logotype
			a.logotype__link(href='dashboard.html')
				img.logotype__image(src="img/logotype__manager.png", width="151", height="43", title="Перейти на главную страницу Личного кабинета", alt="")

		.error__message
			h1.error__num.error__num--500 500
			.error__title Ошибка сервера
			.error__text В данный момент на сервере проводятся технические работы, но мы скоро все восстановим.
			a.error__back.error__back--500(href="#") Перезагрузить страницу
