append config
	- jquery = true

extends template/template.jade

block title
	| Внутренняя страница

block content

	//- Sidebar

	include ./include/sidebarA.jade

	section.content

		//- Navigation

		include ./include/navigation.jade

		.base
			.container
				.section__header
					h1.section__title Как разблокировать карту водителя?
					.section__action
						.action
							.action__list
								.action__item
									a.action__link.action__link--back(href="#") К базе знаний
								.action__item
									a.action__link.action__link--add(href="#") Создать заявку

				.section__content
					.row
						.s9.col
							.article
								.article__content

									quote Вопрос, который имеет сейчас большую популярность среди большенства перевозчиков.
									p Итак, для начала определимся, какая у вас карта: ЕСТР, СКЗИ или карта водителя для тахографа без блока СКЗИ (Технический регламент).

									p Все карты ЕСТР и карты по Техническому регламенту не имеют паролей. С ними проблем быть не должно. Если эти <a href="#">карты не работают</a>, скорее всего, они вышли из строя и вам необходимо сделать новую карту.
									br
									p Если у вас <a href="#">заблокировалась карта</a> водителя СКЗИ, значит 3 раза был неправильно введен пин-код.
									br
									h2 Заголовок в несколько строк для проверки интерлиньяжа 
									br
									ol
										li найти в конверте, который был получен вами при передаче карты, лист с PIN-код и PUK-код и <span class="rouble">₽</span>
										li приехать в офис ООО «ТАХОБАНК» по адресу г.Москва, ул. Севанскаяд.29А, предоставить данные PIN-кода и PUK-кода, а также заблокированную карту специалисту технической поддержки, который в течение минуты разблокирует вам вашу карту.
									br
									h3 Длинный заголовок третьего уровня для все той же проверки межстрочных интервалов
									br
									p Если при проведении манипуляций с картой по ее разблокировке карта все равно не работает в тахографе, возможно она вышла из строя.
									br
									table
										thead
											td Тахограф
											td Свойство
											td Есть/нет
											td Сколько
										tbody
											tr
												td АТОЛ Drive-5
												td Значение 1
												td Есть
												td Нет
											tr
												td АТОЛ Drive-5
												td Значение 1
												td Есть
												td Нет
											tr
												td АТОЛ Drive-5
												td Значение 1
												td Есть
												td Нет
											tr
												td АТОЛ Drive-5
												td Значение 1
												td Есть
												td Нет
									br
									br
									p <b>Адрес для отправки карты на диагностику: тоже в несколькострок чтобы проверить</b>
									br
									p 115516, г.Москва, ул.Севанская, д.29 А.
							.back
								a.back__link(href="#") К базе знаний
						.s3.col
							.about-cabinet.block
								.block__title О личном кабинете
								.block__content
									.about-cabinet__list
										.about-cabinet__item
											a.about-cabinet__link(href="#") Порядок выплат
										.about-cabinet__item
											a.about-cabinet__link(href="#") О начислениях агентских вознаграждений
										.about-cabinet__item
											a.about-cabinet__link(href="#") Статусы заявок

							.download.list
								.list__title Материалы для скачивания
								.list__content
									.download__list
										.download__item.download__item--powerpoint
											a.download__link(href="#") Обучающий курс «Российская тахография»
											.download__info В формате .pptx, 1.2 мб
										.download__item.download__item--exel
											a.download__link(href="#") Цены на установку тахографов
											.download__info В формате .xlsx, 0.3 мб






