append config
	- jquery = true

extends template/template.jade

block title
	| База знаний

block content

	//- Sidebar

	include ./include/sidebarA.jade

	section.content

		//- Navigation

		include ./include/navigation.jade

		.base
			.container
				.section__header
					h1.section__title База знаний
					.section__action
						.action
							.action__list
								.action__item
									a.action__link.action__link--add(href="#") Создать заявку

				.section__content
					.row
						.s9.col
							.question
								.question__list
									.question__item
										a.question__link(href="article.html") Как разблокировать карту водителя?
									.question__item
										a.question__link(href="article.html") Штрафы 2016. Что изменится
									.question__item
										a.question__link(href="article.html") Считывание и анализ данных с тахогрфа. Обзор программного обеспечения.
									.question__item
										a.question__link(href="article.html") Как разблокировать карту водителя?
									.question__item
										a.question__link(href="article.html") Штрафы 2016. Что изменится
									.question__item
										a.question__link(href="article.html") Полезные ссылки по тахографам
									.question__item
										a.question__link(href="article.html") ШТРИХ. Руководство по эксплуатации
									.question__item
										a.question__link(href="article.html") Памятка «Как вести себя с инспектором ДПС». Как избежать штрафа.
									.question__item
										a.question__link(href="article.html") Устройство блока СКЗИ
									.question__item
										a.question__link(href="article.html") Виды карт тахографа

							//- Navigation

							include ./include/pagination.jade

						.s3.col
							.about-cabinet.block
								.block__title О личном кабинете
								.block__content
									.about-cabinet__list
										.about-cabinet__item
											a.about-cabinet__link(href="#") Порядок выплат
										.about-cabinet__item
											a.about-cabinet__link(href="#") О начислениях агентских вознаграждений
										.about-cabinet__item
											a.about-cabinet__link(href="#") Статусы заявок

							.download.list
								.list__title Материалы для скачивания
								.list__content
									.download__list
										.download__item.download__item--powerpoint
											a.download__link(href="#") Обучающий курс «Российская тахография»
											.download__info В формате .pptx, 1.2 мб
										.download__item.download__item--exel
											a.download__link(href="#") Цены на установку тахографов
											.download__info В формате .xlsx, 0.3 мб






