append config
	- jquery = true
	- slick = false
	- featherlight = false
	- equalheight = false

extends template/template.jade

block title
	| Дэшбоард

block content

	//- Sidebar

	include ./include/sidebarA.jade

	section.content.moderate

		.warning
			.warning__message Вы администрируете личный кабинет агента
			a.exit(href="#") Выйти из кабинета агента

		//- Navigation

		include ./include/navigation.jade

		.base
			.container
				.section__header
					h1.section__title Ваши заявки
					.section__action
						.action
							.action__list
								.action__item
									a.action__link.action__link--forward(href="#") Все заявки
								.action__item
									a.action__link.action__link--add(href="#") Создать заявку
				.section__content
					.order-list
						.order-list__header
							.order-list__item.order-list__item--warning &nbsp;
							.order-list__item.order-list__item--num
								a.order-list__sort(href="#") №
							.order-list__item.order-list__item--date
								a.order-list__sort(href="#") Дата<br />изменений
							.order-list__item.order-list__item--company
								a.order-list__sort(href="#") Наименование<br />компании
							.order-list__item.order-list__item--sum
								a.order-list__sort(href="#") Сумма<br />счета
							.order-list__item.order-list__item--reward
								a.order-list__sort(href="#") Агентское<br />вознагр.
							.order-list__item.order-list__item--status
								a.order-list__sort(href="#") Статус
							.order-list__item.order-list__item--reward-status
								a.order-list__sort(href="#") Статус выплаты<br />агентского вознагр.

						.order-list__list

							a.order-list__link(href="#")
								.order-list__content
									.order-list__item.order-list__item--warning.order-list__item--warning--n1 &nbsp;
									.order-list__item.order-list__item--num 00000
									.order-list__item.order-list__item--date 16.02.16
									.order-list__item.order-list__item--company «Стройсервис»
									.order-list__item.order-list__item--sum <span class="none">&mdash;&mdash;</span>
									.order-list__item.order-list__item--reward <span class="none">&mdash;&mdash;</span>
									.order-list__item.order-list__item--status.order-list__item--status--n1
										span.status__dfn Заявка создана
									.order-list__item.order-list__item--reward-status <span class="none">&mdash;&mdash;</span>

							a.order-list__link(href="#")
								.order-list__content
									.order-list__item.order-list__item--warning.order-list__item--warning--n2 &nbsp;
									.order-list__item.order-list__item--num 00000
									.order-list__item.order-list__item--date 16.02.16
									.order-list__item.order-list__item--company «Стройсервис»
									.order-list__item.order-list__item--sum 103 000 <span class="rouble">₽</span>
									.order-list__item.order-list__item--reward <span class="none">&mdash;&mdash;</span>
									.order-list__item.order-list__item--status.order-list__item--status--n2
										span.status__dfn Ожидает оплаты
									.order-list__item.order-list__item--reward-status <span class="none">&mdash;&mdash;</span>
							a.order-list__link(href="#")
								.order-list__content
									.order-list__item.order-list__item--warning.order-list__item--warning--n2 &nbsp;
									.order-list__item.order-list__item--num 00000
									.order-list__item.order-list__item--date 16.02.16
									.order-list__item.order-list__item--company «Стройсервис»
									.order-list__item.order-list__item--sum 123 000 <span class="rouble">₽</span>
									.order-list__item.order-list__item--reward 50 000 <span class="rouble">₽</span>
									.order-list__item.order-list__item--status.order-list__item--status--n3
										span.status__dfn Оплачено
									.order-list__item.order-list__item--reward-status <span class="none">&mdash;&mdash;</span>

				.section__content
					.dashboard.finance
						h2.finance__title Финансы
						.finance-b.block
							.finance-b__content
								.finance-b__title Доступно к выплате:
								.finance-b__balance 12 500 <span class="rouble">₽</span>
								a.finance-b__withdraw(href="#") <u>Вывести деньги</u>
							a.finance-b__addition(href="#")
								img(src="img/icons/icon__arrow--next--blue--big.png", width="", height="", title="", alt="")
						.finance-b
							.finance-b__info Выплаты можно производить не чаще одного раза в месяц. <a href="#">О порядке выплат</a>

				.section__content
					.dashboard.base
						h2.base__title База знаний
					.row
						.s9.col
							.question
								.question__list
									.question__item
										a.question__link(href="article.html") Как разблокировать карту водителя?
									.question__item
										a.question__link(href="article.html") Штрафы 2016. Что изменится
									.question__item
										a.question__link(href="article.html") Считывание и анализ данных с тахогрфа. Обзор программного обеспечения.
									.question__item
										a.question__link(href="article.html") Как разблокировать карту водителя?
									.question__item
										a.question__link(href="article.html") Штрафы 2016. Что изменится
									.question__item
										a.question__link(href="article.html") Полезные ссылки по тахографам
									.question__item
										a.question__link(href="article.html") ШТРИХ. Руководство по эксплуатации

							//- Navigation

							a.btn.btn__simple(href="#") К базе знаний

						.s3.col
							.about-cabinet.block
								.block__title О личном кабинете
								.block__content
									.about-cabinet__list
										.about-cabinet__item
											a.about-cabinet__link(href="#") Порядок выплат
										.about-cabinet__item
											a.about-cabinet__link(href="#") О начислениях агентских вознаграждений
										.about-cabinet__item
											a.about-cabinet__link(href="#") Статусы заявок

							.download.list
								.list__title Материалы для скачивания
								.list__content
									.download__list
										.download__item.download__item--powerpoint
											a.download__link(href="#") Обучающий курс «Российская тахография»
											.download__info В формате .pptx, 1.2 мб
										.download__item.download__item--exel
											a.download__link(href="#") Цены на установку тахографов
											.download__info В формате .xlsx, 0.3 мб