append config
	- jquery = true
	- slick = false
	- featherlight = true
	- equalheight = false

extends template/template.jade

block title
	| Finance

block content

	//- Sidebar

	include ./include/sidebarA.jade

	section.content

		//- Navigation

		include ./include/navigation.jade

		.base
			.container
				.section__header.finance__header
					h1.section__title Финансы

				.section__content
					.dashboard.finance
						h2.finance__title &nbsp;
						.finance-b.block
							.finance-b__content
								.finance-b__title Доступно к выплате:
								.finance-b__balance 12 500 <span class="rouble">₽</span>
								a.finance-b__withdraw(href="#") <u>Вывести деньги</u>
							a.finance-b__addition(href="#")
								img(src="img/icons/icon__arrow--next--blue--big.png", width="", height="", title="", alt="")
						.finance-b
							.finance-b__info Выплаты можно производить не чаще одного раза в месяц. <a href="#">О порядке выплат</a>

				.section__content
					h2.finance__title История начислений
					br
					br
					.order-list
						.order-list__header
							.order-list__item.order-list__item--warning &nbsp;
							.order-list__item.order-list__item--num
								a.order-list__sort(href="#") №
							.order-list__item.order-list__item--date
								a.order-list__sort(href="#") Дата<br />изменений
							.order-list__item.order-list__item--company
								a.order-list__sort(href="#") Наименование<br />компании
							.order-list__item.order-list__item--sum
								a.order-list__sort(href="#") Сумма<br />счета
							.order-list__item.order-list__item--reward
								a.order-list__sort(href="#") Агентское<br />вознагр.
							.order-list__item.order-list__item--status
								a.order-list__sort(href="#") Статус
							.order-list__item.order-list__item--reward-status
								a.order-list__sort(href="#") Статус выплаты<br />агентского вознагр.

						.order-list__list

							a.order-list__link(href="#")
								.order-list__content
									.order-list__item.order-list__item--warning.order-list__item--warning--n1 &nbsp;
									.order-list__item.order-list__item--num 00000
									.order-list__item.order-list__item--date 16.02.16
									.order-list__item.order-list__item--company «Стройсервис»
									.order-list__item.order-list__item--sum <span class="none">&mdash;&mdash;</span>
									.order-list__item.order-list__item--reward <span class="none">&mdash;&mdash;</span>
									.order-list__item.order-list__item--status.order-list__item--status--n1
										span.status__dfn Заявка создана
									.order-list__item.order-list__item--reward-status <span class="none">&mdash;&mdash;</span>

							a.order-list__link(href="#")
								.order-list__content
									.order-list__item.order-list__item--warning.order-list__item--warning--n2 &nbsp;
									.order-list__item.order-list__item--num 00000
									.order-list__item.order-list__item--date 16.02.16
									.order-list__item.order-list__item--company «Стройсервис»
									.order-list__item.order-list__item--sum 103 000 <span class="rouble">₽</span>
									.order-list__item.order-list__item--reward <span class="none">&mdash;&mdash;</span>
									.order-list__item.order-list__item--status.order-list__item--status--n2
										span.status__dfn Ожидает оплаты
									.order-list__item.order-list__item--reward-status <span class="none">&mdash;&mdash;</span>
							a.order-list__link(href="#")
								.order-list__content
									.order-list__item.order-list__item--warning.order-list__item--warning--n2 &nbsp;
									.order-list__item.order-list__item--num 00000
									.order-list__item.order-list__item--date 16.02.16
									.order-list__item.order-list__item--company «Стройсервис»
									.order-list__item.order-list__item--sum 123 000 <span class="rouble">₽</span>
									.order-list__item.order-list__item--reward 50 000 <span class="rouble">₽</span>
									.order-list__item.order-list__item--status.order-list__item--status--n3
										span.status__dfn Оплачено
									.order-list__item.order-list__item--reward-status <span class="none">&mdash;&mdash;</span>



						//- Navigation

						a.btn.btn__simple(href='#index', data-featherlight="#payout") Архив начислений

	#payout
		.payout
			.requisites
				h2.requisites__title Запрос на выплату
				.requisites__content.block
					.requisites__list
						.requisites__item
							span.requisites__disc <em>Получатель</em>
							span.requisites__value Афанасьев Петр Владимирович
						.requisites__item
							span.requisites__disc <em>Расч. счет</em>
							span.requisites__value 38717615310875165340
					a.requisites__link(href="#") Все реквизиты
					form.requisites__inputs
						label.requisites__label(for="pay") Вывести
						input.requisites__field(name="pay", id="pay", type="text", required)
						.requisites__rouble
							| <span class="rouble">₽</span>
						.requisites__price
							a.requisites__link(href="#") Все 10 450 <span class="rouble">₽</span>
					.requisites__addition
						input.btn.btn__submit.btn__submit--order(value="Создать запрос", type="submit")