append config
	- jquery = true
	- slick = false
	- featherlight = false
	- equalheight = false

extends template/template.jade

block title
	| Main

block content

	//- Sidebar

	include ./include/sidebarB.jade

	section.content

		//- Navigation

		include ./include/navigationB.jade

		.base.profile
			.container
				.row
					.s12.col
						.section__header
							h1.section__title Константинопольский Александр Валерьянович
							.section__action
								.action
									.action__list
										.action__item
											a.action__link.action__link--back(href="#") К списку агентов

						.section__content
							.profile.block
								.profile__content
									.profile__item.profile__item--photo--manager
										.profile__photo.profile__photo--manager
											img.name__image(src="img/icons/icon__nophoto.jpg", width="100", height="100", title="Нет фотографии", alt="Нет фотографии")
									.profile__item.profile__item--profile--manager
										.profile__info
											.profile__name.profile__name--phisical Константинопольский Александр Валерьянович
											.profile__other.profile__other--manager
												span.profile__disc.profile__disc--manager <em>Электронная&nbsp;почта</em>
												span.profile__value--manager mailbox@mailbox.ru
												br
												span.profile__disc.profile__disc--manager <em>Телефон</em>
												span.profile__value.profile__value--manager +7 924 541-52-72
						.profile__addition
							input.profile__submit.profile__submit--manager.btn.btn__submit.btn__submit--order(value="Зарегистрировать агента", type="submit")
							span или
							a.profile__delete(href="#") <u>удалить заявку</u>