append config
	- jquery = true
	- slick = false
	- featherlight = false
	- equalheight = false

extends template/template.jade

block title
	| Main

block content

	//- Sidebar

	include ./include/sidebarB.jade

	section.content

		//- Navigation

		include ./include/navigationB.jade

		.base.profile
			.container
				.row
					.s12.col
						.section__header.managers__title
							h1.section__title Агенты

						.section__content
							.search.block
								form.data__form(id="", method="", action="")
								.search__item
									label.search__label(for="client") Поиск агента
									input.search__field(name="client", id="client", type="text", placeholder="Поиск по номеру ID", required)
									input.search__submit.btn.btn__submit.btn__submit--order(type="submit", value="Найти")

							.newusers
								h2.newusers__title Новые заявки <sup class="green">12</sup>
								.newusers__content.block
									.newusers__list
										a.newusers__link(href="#")
										.newusers__item.newusers__item--warning.newusers__item--warning--n1 &nbsp;
										.newusers__item.newusers__item--photo
											img.name__image(src="img/user__photo.png", width="", height="", title="", alt="")
										.newusers__item.newusers__item--name
											span Константинопольский Александр Валерьянович
										.newusers__item.newusers__item--id
											| &nbsp;
										.newusers__item.newusers__item--phone
											span +7 931 315-31-51
										.newusers__item.newusers__item--date
											span 16.12.15, 12:35
								.newusers__content.block
									.newusers__list
										a.newusers__link(href="#")
										.newusers__item.newusers__item--warning.newusers__item--warning--n1 &nbsp;
										.newusers__item.newusers__item--photo
											img.name__image(src="img/user__photo.png", width="", height="", title="", alt="")
										.newusers__item.newusers__item--name
											span Константинопольский Александр Валерьянович
										.newusers__item.newusers__item--id
											| &nbsp;
										.newusers__item.newusers__item--phone
											span +7 931 315-31-51
										.newusers__item.newusers__item--date
											span 16.12.15, 12:35

							.newusers
								h2.newusers__title Зарегистрированные <sup class="blue">118</sup>
								.newusers__content.block
									.newusers__list
										a.newusers__link(href="#")
										.newusers__item.newusers__item--warning.newusers__item--warning--n2 &nbsp;
										.newusers__item.newusers__item--photo
											img.name__image(src="img/user__photo.png", width="", height="", title="", alt="")
										.newusers__item.newusers__item--name
											span Константинопольский Александр Валерьянович
										.newusers__item.newusers__item--id
											span 4442
										.newusers__item.newusers__item--phone
											span +7 931 315-31-51
										.newusers__item.newusers__item--date
											span 16.12.15, 12:35
								.newusers__content.block
									.newusers__list
										a.newusers__link(href="#")
										.newusers__item.newusers__item--warning.newusers__item--warning--n2 &nbsp;
										.newusers__item.newusers__item--photo
											img.name__image(src="img/user__photo.png", width="", height="", title="", alt="")
										.newusers__item.newusers__item--name
											span Константинопольский Александр Валерьянович
										.newusers__item.newusers__item--id
											span 4442
										.newusers__item.newusers__item--phone
											span +7 931 315-31-51
										.newusers__item.newusers__item--date
											span 16.12.15, 12:35
								.newusers__content.block
									.newusers__list
										a.newusers__link(href="#")
										.newusers__item.newusers__item--warning.newusers__item--warning--n2 &nbsp;
										.newusers__item.newusers__item--photo
											img.name__image(src="img/user__photo.png", width="", height="", title="", alt="")
										.newusers__item.newusers__item--name
											span Константинопольский Александр Валерьянович
										.newusers__item.newusers__item--id
											span 4442
										.newusers__item.newusers__item--phone
											span +7 931 315-31-51
										.newusers__item.newusers__item--date
											span 16.12.15, 12:35
								.newusers__content.block
									.newusers__list
										a.newusers__link(href="#")
										.newusers__item.newusers__item--warning.newusers__item--warning--n2 &nbsp;
										.newusers__item.newusers__item--photo
											img.name__image(src="img/user__photo.png", width="", height="", title="", alt="")
										.newusers__item.newusers__item--name
											span Константинопольский Александр Валерьянович
										.newusers__item.newusers__item--id
											span 4442
										.newusers__item.newusers__item--phone
											span +7 931 315-31-51
										.newusers__item.newusers__item--date
											span 16.12.15, 12:35

						.section__addition
							a.btn.btn__more(href='#') Показать еще