append config
	- jquery = true
	- slick = false
	- featherlight = false
	- equalheight = false

extends template/template.jade

block title
	| Main

block content

	//- Sidebar

	include ./include/sidebarB.jade

	section.content

		//- Navigation

		include ./include/navigationB.jade

		.base.profile
			.container
				.row
					.s12.col
						.section__header
							h1.section__title Константинопольский Александр Валерьянович
							.section__action
								.action
									.action__list
										.action__item
											a.action__link.action__link--back(href="#") К списку агентов

						.section__content
							.profile.block
								.profile__content
									.profile__item.profile__item--photo--manager
										.profile__photo
											img.name__image(src="img/icons/icon__nophoto.jpg", width="100", height="100", title="Нет фотографии", alt="Нет фотографии")
									.profile__item.profile__item--profile--manager
										.profile__info
											.profile__name.profile__name--legal Константинопольский Александр Валерьянович
											.profile__order.profile__order--profile--manager  Договор №31577-2 от 12.02.15
											.profile__other
												span.profile__disc <em>ИНН</em>
												span.profile__value 9411251518283884
				.section__content
					.row
						.s7.col
							.requisites
								h2.requisites__title Банковские реквизиты
								.requisites__content.block
									.requisites__list
										.requisites__item.requisites__item--noitems
											p Реквизиты не заполнены
						.s5.col
							.phones
								h2.phones__title Контакты
								.phones__content.block
									.phones__list
										.phones__item
											span.phones__disc <em>Телефон</em>
											span.phones__value +7 (912) 141-51-61
										.phones__item
											span.phones__disc <em>Эл. почта</em>
											span.phones__value af@promport.ru
						
				.profile__addition
					input.profile__submit.profile__submit--manager.btn.btn__submit.btn__submit--order(value="Подключится к кабинету агента", type="submit")