append config
	- jquery = true
	- slick = false
	- featherlight = false
	- equalheight = false

extends template/template.jade

block title
	| Создать заявку

block content

	//- Sidebar

	include ./include/sidebarA.jade

	section.content

		//- Navigation

		include ./include/navigation.jade

		.base
			.container
				.section__header
					h1.section__title Создать заявку
					.section__action
						.action
							.action__list
								.action__item
									a.action__link.action__link--back(href="#") К списку заявок

				.section__content

					.data
						h3.data__title 1. Данные клиента
						.data__content.block
							form.data__form(id="", method="", action="")
								.data__item
									label.data__label(for="client") Клиент
									input.data__field.invalid(name="client", id="client", type="text", placeholder="Фамилия Имя Отчество", required)
									//- label.data__filelabel(for="file") <u>Загрузить файл<br />с реквизитами</u>
									//- input.data__file(name="file", id="file", type="file")
								.data__item
									label.data__label(for="file") Файл с реквизитами
									input.data__field(name="file", id="file", type="file", required)
								.data__item
									label.data__label.data__label--empty &nbsp;
									span.claim__uploadinfo При необходимости загрузите файл. <br />Форматы: jpg, png, gif, pdf.
								.data__item
									label.data__label(for="name") Контактное лицо&nbsp;&nbsp;&nbsp;
									input.data__field(name="name", id="name", type="text", placeholder="Фамилия Имя Отчество", required)
								.data__item
									label.data__label(for="phone") Контактный телефон
									input.data__field(name="phone", id="phone", type="text", placeholder="0 (000) 000-00-00", required)
								.data__item
									label.data__label(for="email") Электронная почта
									input.data__field(name="email", id="email", type="text", placeholder="name@domain.ru", required)

					.info
						h3.info__title 2. Информация о заказе
						.info__content.block
							form.info__form(id="", method="", action="")
								.info__item
									label.info__label(for="tc") Кол-во ТС
									input.info__num(name="tc", id="tc", type="number", min="0", value="0")
								.info__item
									label.info__label(for="tc-name") Марка ТС
									input.info__field(name="tc-name", id="tc-name", type="text", placeholder="Укажите через запятую Марки ТС", required)
								.info__item
									label.info__label(for="speed") Спидометр
									input.info__radio(name="speed", id="speed1", type="radio", checked)
									label.info__label--radio(for="speed1") Электронный
									input.info__radio(name="speed", id="speed2", type="radio")
									label.info__label--radio(for="speed2") Механический
								.info__item
									input.info__checkbox.checkbox__call(name="way", id="way", type="checkbox")
									label.info__label--checkbox(for="way") Требуется выезд к заказчику
								#checkbox__call
									.info__item.info__item--textarea
										label.info__label(for="address") Адрес заказчика&nbsp;&nbsp;&nbsp;
										textarea.claim__message(name="address", id="address", placeholder="", rows="5", required)
									.info__item.info__item--textarea
										label.info__label(for="comment") Комментарий к&nbsp;заказу
										textarea.claim__message(name="comment", id="comment", placeholder="", rows="5", required)

					.goods
						h3.goods__title 3. Товары и услуги
						.goods__content.block
							form.goods__form(id="", method="", action="")
								.goods__item
									label.goods__label(for="theme") Вид тахографа
									.goods__select
										select.goods__field(name="theme", id="theme", required, autofocus)
											option Меркурий ТА-001
											option Другое
								.goods__item.goods__blocks
									.row
										.s3.col
											.goods-b
												label.goods-b__label(for="num1") Установка тахографа «под ключ», шт.
												input.info__num(name="num1", id="num1", type="number", min="0", value="0")
										.s3.col
											.goods-b
												label.goods-b__label(for="num2") Калибровка цифрового тахографа, шт.
												input.info__num(name="num2", id="num2", type="number", min="0", value="0")
										.s3.col
											.goods-b
												label.goods-b__label(for="num3") Калибровка шайбового тахографа, шт.
												input.info__num(name="num3", id="num3", type="number", min="0", value="0")
										.s3.col
											.goods-b
												label.goods-b__label(for="num4") Карта водителя СКЗИ, шт.
												input.info__num(name="num4", id="num4", type="number", min="0", value="0")
										.s3.col
											.goods-b
												label.goods-b__label(for="num5") Карта водителя ЕСТР, шт.
												input.info__num(name="num5", id="num5", type="number", min="0", value="0")
										.s3.col
											.goods-b
												label.goods-b__label(for="num6") Карта предприятия СКЗИ, шт.
												input.info__num(name="num6", id="num6", type="number", min="0", value="0")
										.s3.col
											.goods-b
												label.goods-b__label(for="num7") Карта предприятия ЕСТР, шт.
												input.info__num(name="num7", id="num7", type="number", min="0", value="0")
										.s3.col
											.goods-b
												label.goods-b__label(for="num8") Считыватель карт тахографа, шт.
												input.info__num(name="num8", id="num8", type="number", min="0", value="0")
								.goods__item.goods__item--checkbox
									input.goods__checkbox(name="serve", id="serve", type="checkbox")
									label.goods__label--checkbox(for="serve") Годовое обслуживание тахографа
								.goods__item.goods__item--checkbox
									input.goods__checkbox(name="complex", id="complex", type="checkbox", checked)
									label.goods__label--checkbox(for="complex") Комплексный сервис по считыванию и анализу данных с тахографа
								.goods__goods.goods__item--textarea
									label.goods__label(for="comment2") Комментарий
									textarea.claim__message(name="comment2", id="comment2", placeholder="", rows="5")
				.claim__addition
					input.claim__submit.btn.btn__submit.btn__submit--order(value="Создать заявку", type="submit")
					.claim__warning Все необходимые поля заполнены, вы можете отправить заявку