append config
	- jquery = true
	- slick = false
	- featherlight = false
	- equalheight = false

extends template/template.jade

block title
	| Заявка № 01416

block content

	//- Sidebar

	include ./include/sidebarA.jade

	section.content

		//- Navigation

		include ./include/navigation.jade

		.base
			.container
				.section__header
					h1.section__title Заявка № 01416
					h3.section__company-name ООО «Стройсервис»
					.section__action
						.action
							.action__list
								.action__item
									a.action__link.action__link--back(href="#") К заявкам
								.action__item
									a.action__link.action__link--add(href="#") Создать заявку
				.section__content
					.order
						.order__header
							.order__item.order__item--warning  &nbsp;
							.order__item.order__item--date
								a.order__sort(href="#") Дата изменений
							.order__item.order__item--status
								a.order__sort(href="#") Статус
							.order__item.order__item--sum
								a.order__sort(href="#") Сумма счета
							.order__item.order__item--reward
								a.order__sort(href="#") Агентское вознагр.
							.order__item.order__item--reward-status
								a.order__sort(href="#") Статус выплаты агентского вознагр.
						.order__list
							.order__content
								.order__item.order__item--warning.order__item--warning--n1 &nbsp;
								.order__item.order__item--date 16.12.15
								.order__item.order__item--status.order__item--status--n1 Заявка создана
								.order__item.order__item--sum &nbsp;
								.order__item.order__item--reward &nbsp;
								.order__item.order__item--reward-status &nbsp;
							.order__content
								.order__item.order__item--warning.order__item--warning--n1 &nbsp;
								.order__item.order__item--date 16.12.15
								.order__item.order__item--status.order__item--status--n1 В работе
								.order__item.order__item--sum &nbsp;
								.order__item.order__item--reward &nbsp;
								.order__item.order__item--reward-status &nbsp;
							.order__content
								.order__item.order__item--warning.order__item--warning--n2 &nbsp;
								.order__item.order__item--date 16.12.15
								.order__item.order__item--status.order__item--status--n2 Ожидает оплаты
								.order__item.order__item--sum 103 000 <span class="rouble">₽</span>
								.order__item.order__item--reward &nbsp;
								.order__item.order__item--reward-status &nbsp;
							.order__content
								.order__item.order__item--warning.order__item--warning--n2 &nbsp;
								.order__item.order__item--date 16.12.15
								.order__item.order__item--status.order__item--status--n3 Оплачена
								.order__item.order__item--sum 103 000 <span class="rouble">₽</span>
								.order__item.order__item--reward 15 000 <span class="rouble">₽</span>
								.order__item.order__item--reward-status &nbsp;
							.order__content
								.order__item.order__item--warning.order__item--warning--n3 &nbsp;
								.order__item.order__item--date 16.12.15
								.order__item.order__item--status.order__item--status--n4 Закрыта
								.order__item.order__item--sum 103 000 <span class="rouble">₽</span>
								.order__item.order__item--reward 15 000 <span class="rouble">₽</span>
								.order__item.order__item--reward-status Выплачен
					.order__cycle Цикл сделки: <span class="bigger">10 дней</span>

				.section__content
					.comments
						h2.comments__title Комментарии к заявке
						.comment.block
							.comment__header
								.comment__author <span class="name">Елена Сон</span>, <span class="prof">менеджер</span>
								.comment__avatar
									img.avatar__photo(src="img/comment__avatar.png", width="", height="", title="", alt="")
								.comment__date 10.12.15, 14:30
							.comment__content
								p Генеральный директор в отпуске, ждем согласования
						.comment.block
							.comment__header
								.comment__author <span class="name">Елена Сон</span>, <span class="prof">менеджер</span>
								.comment__avatar
									img.avatar__photo(src="img/comment__avatar.png", width="", height="", title="", alt="")
								.comment__date 10.12.15, 14:30
							.comment__content
								p В заявке неверно указано наименование компании клиента. Просьба сверить полное наименование и указать правильное.
