append config
	- jquery = true
	- slick = false
	- featherlight = false
	- equalheight = false

extends template/template.jade

block title
	| Успешно оформленная заявка

block content

	//- Sidebar

	include ./include/sidebarA.jade

	section.content

		//- Navigation

		include ./include/navigation.jade

		.base
			.container
				.section__header
					h1.section__title Заявка успешно создана
					.section__action
						.action
							.action__list
								.action__item
									a.action__link.action__link--back(href="#") К базе знаний
								.action__item
									a.action__link.action__link--add(href="#") Создать заявку
				.section__content
					.complete.block
						.complete__content
							img.complete__icon(src="img/icons/icon__complete.png", width="", height="", title="", alt="")
							.complete__title
								p Вашей заявке присвоен № 31561-03.
								p В ближайшее время она будет принята в работу.
						.complete__info
							p Мы сообщим об изменении статуса заявки по электронной почте. Вы также можете отслеживать статусы ваших заявок на <a href="#">странице списка заявок</a>.
