append config
	- jquery = true
	- slick = false
	- featherlight = false
	- equalheight = false

extends template/template.jade

block title
	| Мой профиль

block content

	//- Sidebar

	include ./include/sidebarA.jade

	section.content

		//- Navigation

		include ./include/navigation.jade

		.base.profile
			.container
				.row
					.s12.col
						.section__header
							h1.section__title Мой профиль
							.section__action
								.action
									.action__list
										.action__item
											a.action__link.action__link--change(href="#") Запрос на изменение данных

						.section__content
							.profile.block
								.profile__content
									.profile__item
										.profile__photo
											img.name__image(src="img/icons/icon__nophoto.jpg", width="100", height="100", title="Нет фотографии", alt="Нет фотографии")
									.profile__item
										.profile__info
											.profile__name.profile__name--phisical Афанасьев Валерий Петрович
											.profile__order Договор №31577-2 от 12.02.15
											.profile__other
												span.profile__disc <em>ИНН</em>
												span.profile__value 9411251518283884
				.section__content
					.row
						.s7.col
							.requisites
								h2.requisites__title Банковские реквизиты
								.requisites__content.block
									.requisites__list
										.requisites__item
											span.requisites__disc <em>Название банка</em>
											span.requisites__value СПБ ФИЛИАЛ ЗАО "БАНК РУССКИЙ СТАНДАРТ"
										.requisites__item
											span.requisites__disc <em>БИК банка</em>
											span.requisites__value 0540308472
										.requisites__item
											span.requisites__disc <em>ИНН банка</em>
											span.requisites__value 0540308472
										.requisites__item
											span.requisites__disc <em>Кор. счет банка</em>
											span.requisites__value 40101910405000000847
										.requisites__item
											span.requisites__disc <em>Расч. счет <br />получателя</em>
											span.requisites__value 40101910405000000847
						.s5.col
							.phones
								h2.phones__title Контакты
								.phones__content.block
									.phones__list
										.phones__item
											span.phones__disc <em>Телефон</em>
											span.phones__value +7 (912) 141-51-61
										.phones__item
											span.phones__disc <em>Эл. почта</em>
											span.phones__value af@promport.ru