append config
	- jquery = true
	- slick = false
	- featherlight = false
	- equalheight = false

extends template/template.jade

block title
	| Main

block content

	//- Sidebar

	include ./include/sidebarA.jade

	section.content

		//- Navigation

		include ./include/navigation.jade

		.base
			.container
				.section__header
					h1.section__title Как разблокировать карту водителя?
					.section__action
						.action
							.action__list
								.action__item
									a.action__link.action__link--back(href="#") К базе знаний
								.action__item
									a.action__link.action__link--add(href="#") Создать заявку


				.section__content