append config
	- jquery = true
	- slick = false
	- featherlight = false
	- equalheight = false

extends template/template.jade

block title
	| Обращение в техподдержку

block content

	//- Sidebar

	include ./include/sidebarA.jade

	section.content

		//- Navigation

		include ./include/navigation.jade

		.base
			.container
				.section__header
					h1.section__title Обратиться в техподдержку
					.section__action
						.action
							.action__list
								.action__item
									a.action__link.action__link--back(href="#") К списку обращений

				.section__content
					.claim.block
						.claim__content
							form.claim__form(id="", method="", action="")
								.claim__item
									label.claim__label(for="theme") Тема
									.claim__select
										select.claim__field(name="theme", id="theme", require, autofocus)
											option Изменение личных данных
											option Другое
								.claim__item
									label.claim__label(for="title") Заголовок
									input.claim__field(name="title", id="title", type="text", placeholder="Заголовок вашего обращения", require)
								.claim__item
									label.claim__label(for="phone") Сообщение
									textarea.claim__message(name="textarea", id="textarea", placeholder="Опишите ваш вопрос или проблему", rows="15", require)
								.claim__item
									label.claim__label(for="file") &nbsp;
									input.claim__file(name="file", id="file", type="file")
								.claim__item
									label.claim__label.claim__label--empty &nbsp;
									span.claim__uploadinfo При необходимости загрузите файл. <br />Форматы: jpg, png, gif, pdf.

				.claim__addition
					input.claim__submit.btn.btn__submit(value="Создать обращение", type="submit", disabled)
					.claim__warning Необходимо заполнить поля: <a>«Заголовок»</a> и <a>«Сообщение»</a>