append config
	- jquery = true
	- slick = false
	- featherlight = false
	- equalheight = false

extends template/template.jade

block title
	| Список обращений к техподдержке

block content

	//- Sidebar

	include ./include/sidebarA.jade

	section.content

		//- Navigation

		include ./include/navigation.jade

		.base
			.container
				.section__header
					h1.section__title Техподдержка
					.section__action
						.action
							.action__list
								.action__item
									a.action__link.action__link--add(href="#") Обратиться в поддержку

				.section__content
					.techsup
						h2.techsup__title Ваши текущие обращения

						.techsup__header
							.techsup__item.techsup__item--num № обращения
							.techsup__item.techsup__item--date Дата
							.techsup__item.techsup__item--theme Общие вопросы
							.techsup__item.techsup__item--name Заголовок
							.techsup__item.techsup__item--status Статус

						.techsup__list

							a.techsup__link(href="#")
								.techsup__content
									.techsup__item.techsup__item--num 345513212
									.techsup__item.techsup__item--date 10.10.10
									.techsup__item.techsup__item--theme <span class="dfn">Общие вопросы</span>
									.techsup__item.techsup__item--name <span class="dfn">Заголовок</span>
									.techsup__item.techsup__item--status.techsup__item--status--n1 Получен ответ

							a.techsup__link(href="#")
								.techsup__content
									.techsup__item.techsup__item--num 214323212
									.techsup__item.techsup__item--date 10.10.10
									.techsup__item.techsup__item--theme <span class="dfn">Изменение персональных данных</span>
									.techsup__item.techsup__item--name <span class="dfn">Прошу изменить мой адрес почты</span>
									.techsup__item.techsup__item--status.techsup__item--status--n2 Ожидает ответа

							a.techsup__link(href="#")
								.techsup__content
									.techsup__item.techsup__item--num 2155343212
									.techsup__item.techsup__item--date 10.10.10
									.techsup__item.techsup__item--theme <span class="dfn">Общие вопросы</span>
									.techsup__item.techsup__item--name <span class="dfn">Заголовок</span>
									.techsup__item.techsup__item--status.techsup__item--status--n3 Проблема решена
						a.btn.btn__simple.btn__simple--archive(href='#') Архив обращений