/* base.scss (START) */
body,
html {
	font-size: 10px;
	line-height: 10px;

	position: relative;

	-webkit-box-sizing: border-box;
	        box-sizing: border-box; 
	width: 100%;
	height: 100%;
	margin: 0;

	letter-spacing: .5px;
}

h1 {
	font-size: 3.6rem;
	line-height: 4rem;
}

h2 {
	font-size: 2.8rem;
	line-height: 3.2rem;

	color: #000;
}

h3 {
	font-size: 2.2rem;
	line-height: 2.8rem;
}

h4 {
	font-size: 3rem;
}

h5 {
	font-size: 2rem;
	font-weight: bold;
}

h6 {
	font-size: 1rem;
	font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
	line-height: 1em;

	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
}

p {
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
}

img {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box; 
	max-width: 100%;
	height: auto;

	vertical-align: top;
}

div {
	vertical-align: top;
}

ul {
	margin: 0; 
	padding: 0;

	list-style: none;
}

ol {
	margin: 0 0 0 20px; 
	padding: 0;
}
ol li {
	margin-bottom: 12px;
}

table {
	width: 100%;

	border: 3px solid #e4e8eb;
}
table thead {
	font-size: 1.4rem;

	color: #99a6b0;
}
table thead tr:hover {
	background: #fff;
}
table thead,
table tr {
	border-bottom: 3px solid #e4e8eb;
}
table tr {
	-webkit-transition: .3s;
	        transition: .3s;
}
table tr:hover {
	cursor: default;

	background: #e4e8eb;
}
table td {
	padding: 7px 22px;

	border-left: 3px solid #e4e8eb;
}

quote {
	font-family: Arial;
	font-size: 1.8rem;
	font-style: italic;
	line-height: 2.4rem;

	display: block;

	margin-bottom: 20px; 
	padding: 15px 20px;

	color: #000;
	border-left: 6px solid #06b;
}

a {
	line-height: 1em;

	-webkit-transition: .3s;
	        transition: .3s;
	text-decoration: none;

	color: #044888;
}
a:hover {
	text-decoration: none !important; 

	color: #c72411;
}
a:focus {
	outline: 1px transparent;
	outline-style: none; 
	outline-color: transparent;
}
a:active {
	color: #c72411;
}

/* base.scss (END) */

/* common.scss (START) */
/* SEO friendly hiding */
.hidden {
	position: absolute;
	top: -9999;
	left: -9999;
}

.visible {
	position: static;
	top: inherit;
	left: inherit;
}

/* Simple hiding */
.show {
	display: inherit;
}

.hide {
	display: none;
}

/* Fixed */
.fixed {
	position: fixed;
	z-index: 1000;
}

/* Filters */
img.grayscale {
	-webkit-filter: gray;
	        filter: gray;
	        filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
	-webkit-filter: grayscale(100%);
}

/* common.scss (END) */

/* forms.scss (START) */
input,
textarea,
select {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	width: auto;

	resize: none;
	-webkit-transition: .3s;
	        transition: .3s; 

	border: 0;
}
input[disabled],
textarea[disabled],
select[disabled] {
	resize: none;
	cursor: default; 

	opacity: .5;
}
input.invalid,
textarea.invalid,
select.invalid {
	border: 1px solid #cb5a5a !important;
}

label {
	cursor: pointer;
}

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"] {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	width: auto;

	-webkit-transition: .3s;
	        transition: .3s;
}

select {
	line-height: 1em !important;

	max-width: 400px; 
	padding: 12px 15px;

	cursor: pointer;
	-webkit-transition: .3s;
	        transition: .3s;

	border: 1px solid #d4dade;
	-webkit-border-radius: 3px;
	        border-radius: 3px;
	outline: 0;
	background: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(0%, white), to(#eef1f3));
	background: -webkit-linear-gradient(top, white 0%, white 0%, #eef1f3 100%);
	background:         linear-gradient(to bottom, white 0%, white 0%, #eef1f3 100%);

	-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;
}
select:hover {
	-webkit-box-shadow: 0 0 7px 3px rgba(8, 81, 142, .1);
	        box-shadow: 0 0 7px 3px rgba(8, 81, 142, .1);
}
select:focus {
	-webkit-box-shadow: 0 0 7px 3px rgba(8, 81, 142, .1);
	        box-shadow: 0 0 7px 3px rgba(8, 81, 142, .1);
}

input[type="number"] {
	font-size: 1.8rem;

	width: 70px !important;
	padding-top: 10px;
	padding-right: 5px !important;
	padding-bottom: 10px;
}

input[type=checkbox]:not(old),
input[type=radio]:not(old) {
	width: 28px;
	margin: 0;
	padding: 0;

	cursor: pointer; 

	opacity: 0;
}

input[type=checkbox]:not(old) + label,
input[type=radio]:not(old) + label {
	line-height: 24px;

	position: relative;
	left: -5px; 

	display: inline-block;

	margin-left: -28px;
	padding-left: 28px;

	cursor: pointer;
	-webkit-transition: .3s;
	        transition: .3s;
}

input[type=checkbox]:not(old) + label {
	background: url("../img/icons/icon__checkbox.png") no-repeat 2px 0;
}

input[type=checkbox]:not(old):hover + label {
	background: url("../img/icons/icon__checkbox--hover.png") no-repeat 2px 0;
}

input[type=checkbox]:not(old):checked + label {
	background: url("../img/icons/icon__checkbox--active.png") no-repeat 2px 0;
}

input[type=radio]:not(old) + label {
	background: url("../img/icons/icon__radio.png") no-repeat 0 1px;
}

input[type=radio]:not(old):checked + label,
input[type=radio]:hover + label {
	background: url("../img/icons/icon__radio--active.png") no-repeat 0 1px;
}

input,
textarea {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	max-width: 700px; 
	padding: 12px 20px;

	border: 1px solid #d4dade;
	-webkit-border-radius: 4px;
	        border-radius: 4px;
	outline: 2px solid transparent;
}
input:required,
textarea:required {
	border: 1px solid #d4dade;
}
input:hover,
textarea:hover {
	-webkit-box-shadow: 0 0 7px 3px rgba(8, 81, 142, .1);
	        box-shadow: 0 0 7px 3px rgba(8, 81, 142, .1);
}
input:focus,
textarea:focus {
	border: 1px solid #0884ec; 
	-webkit-box-shadow: 0 0 7px 3px rgba(8, 81, 142, .1);
	        box-shadow: 0 0 7px 3px rgba(8, 81, 142, .1);
}
input:focus:required:valid,
textarea:focus:required:valid {
	-webkit-transition: .3s;
	        transition: .3s; 

	border: 1px solid #0884ec;
}
input:focus:required:invalid,
textarea:focus:required:invalid {
	-webkit-transition: .3s;
	        transition: .3s; 

	border: 1px solid #cb5a5a;
}

/* forms.scss (END) */

/* normalize.scss (START) */
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
	font-family: sans-serif;
	/* 1 */

	    -ms-text-size-adjust: 100%;
	/* 2 */
	-webkit-text-size-adjust: 100%;
	/* 2 */
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
	display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
	display: inline-block;
	/* 1 */

	vertical-align: baseline;
	/* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
	display: none;

	height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
	display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
	background-color: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
	outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
	border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
	font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
	font-style: italic;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
	color: #000; 
	background: #ff0;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
	font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
	font-size: 75%;
	line-height: 0;

	position: relative;

	vertical-align: baseline;
}

sup {
	top: -.5em;
}

sub {
	bottom: -.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
	border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
	overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
	margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
	-webkit-box-sizing: content-box;
	        box-sizing: content-box;
	height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
	overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
	/* 1 */
	font: inherit;
	/* 2 */

	margin: 0;

	color: inherit;
	/* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
	overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
	text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
/* 1 */
html input[type="button"],
button,
input[type="reset"],
input[type="submit"] {
	/* 2 */
	cursor: pointer;

	-webkit-appearance: button;
	/* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
	cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
	padding: 0; 

	border: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
	line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	/* 1 */
	padding: 0;
	/* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
	/* 1 */
	-webkit-box-sizing: content-box;
	/* 2 */
	        box-sizing: content-box; 

	-webkit-appearance: textfield;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
	margin: 0 2px;
	padding: .35em .625em .75em; 

	border: 1px solid #c0c0c0;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
	/* 1 */
	padding: 0;

	border: 0;
	/* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
	overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
	font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
	border-spacing: 0; 
	border-collapse: collapse;
}

td,
th {
	padding: 0;
}

/* normalize.scss (END) */

/* typography.scss (START) */
/* font-family: "OpenSans" */
@font-face {
	font-family: "OpenSansRegular";
	font-weight: normal; 
	font-style: normal;

	src: url("../css/fonts/OpenSansRegular/OpenSansRegular.eot");
	src: url("../css/fonts/OpenSansRegular/OpenSansRegular.eot?#iefix") format("embedded-opentype"), url("../css/fonts/OpenSansRegular/OpenSansRegular.woff") format("woff"), url("../css/fonts/OpenSansRegular/OpenSansRegular.ttf") format("truetype");
}

/* font-family: "OpenSansBold" */
@font-face {
	font-family: "OpenSansBold";
	font-weight: normal; 
	font-style: normal;

	src: url("../css/fonts/OpenSansBold/OpenSansBold.eot");
	src: url("../css/fonts/OpenSansBold/OpenSansBold.eot?#iefix") format("embedded-opentype"), url("../css/fonts/OpenSansBold/OpenSansBold.woff") format("woff"), url("../css/fonts/OpenSansBold/OpenSansBold.ttf") format("truetype");
}

/* typography.scss (END) */
