/* animates.scss (START) */
@-webkit-keyframes shake {
	5%,
	95% {
		-webkit-transform: translate3d(1px, 0, 0);
		        transform: translate3d(1px, 0, 0);
	}
	10%,
	90% {
		-webkit-transform: translate3d(-1px, 0, 0);
		        transform: translate3d(-1px, 0, 0);
	}
	20%,
	80% {
		-webkit-transform: translate3d(1px, 0, 0);
		        transform: translate3d(1px, 0, 0);
	}
	40%,
	60% {
		-webkit-transform: translate3d(1px, 0, 0);
		        transform: translate3d(1px, 0, 0);
	}
}
@keyframes shake {
	5%,
	95% {
		-webkit-transform: translate3d(1px, 0, 0);
		        transform: translate3d(1px, 0, 0);
	}
	10%,
	90% {
		-webkit-transform: translate3d(-1px, 0, 0);
		        transform: translate3d(-1px, 0, 0);
	}
	20%,
	80% {
		-webkit-transform: translate3d(1px, 0, 0);
		        transform: translate3d(1px, 0, 0);
	}
	40%,
	60% {
		-webkit-transform: translate3d(1px, 0, 0);
		        transform: translate3d(1px, 0, 0);
	}
}

@-webkit-keyframes shaked {
	from,
	to {
		margin-top: -11px;

		-webkit-transform: translate3d(0, 0, 0);
		        transform: translate3d(0, 0, 0);
	}
	33% {
		-webkit-transform: translate3d(-5px, 0, 0);
		        transform: translate3d(-5px, 0, 0);
	}
	66% {
		-webkit-transform: translate3d(5px, 0, 0);
		        transform: translate3d(5px, 0, 0);
	}
	100% {
		-webkit-transform: translate3d(0px, 0, 0);
		        transform: translate3d(0px, 0, 0);
	}
}

@keyframes shaked {
	from,
	to {
		margin-top: -11px;

		-webkit-transform: translate3d(0, 0, 0);
		        transform: translate3d(0, 0, 0);
	}
	33% {
		-webkit-transform: translate3d(-5px, 0, 0);
		        transform: translate3d(-5px, 0, 0);
	}
	66% {
		-webkit-transform: translate3d(5px, 0, 0);
		        transform: translate3d(5px, 0, 0);
	}
	100% {
		-webkit-transform: translate3d(0px, 0, 0);
		        transform: translate3d(0px, 0, 0);
	}
}

/* animates.scss (END) */

/* maps.scss */
/* Gmap Style Disabler */
a[href^="http://maps.google.com/maps"],
a[href^="https://maps.google.com/maps"] {
	display: none !important;
}

.gmnoprint a,
.gmnoprint span,
.gm-style-cc {
	display: none;
}

.gmnoprint div {
	background: none !important;
}

/* scrollbar.scss */
.scroll-wrapper {
	position: relative; 

	overflow: hidden !important;

	padding: 0 !important;
}

.scroll-wrapper > .scroll-content {
	position: relative !important;
	top: 0;
	left: 0;

	overflow: scroll !important;

	-webkit-box-sizing: content-box !important;
	        box-sizing: content-box !important;
	width: auto !important; 
	max-width: none !important;
	height: auto;
	max-height: none;
	margin: 0;
	padding: 0;

	border: none !important;
}

.scroll-wrapper > .scroll-content::-webkit-scrollbar {
	width: 0; 
	height: 0;
}

.scroll-element {
	display: none;
}

.scroll-element,
.scroll-element div {
	-webkit-box-sizing: content-box;
	        box-sizing: content-box;
}

.scroll-element.scroll-x.scroll-scrollx_visible,
.scroll-element.scroll-y.scroll-scrolly_visible {
	display: block;
}

.scroll-element .scroll-bar,
.scroll-element .scroll-arrow {
	cursor: default;
}

.scroll-textarea {
	border: 1px solid #ccc;
	border-top-color: #999;
}

.scroll-textarea > .scroll-content {
	overflow: hidden !important;
}

.scroll-textarea > .scroll-content > textarea {
	position: relative !important;
	top: 0;

	overflow: scroll !important;

	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	width: 100% !important; 
	max-width: none !important;
	height: 100% !important;
	max-height: none !important;
	margin: 0;
	padding: 2px;

	border: none !important;
	outline: none;
}

.scroll-textarea > .scroll-content > textarea::-webkit-scrollbar {
	width: 0; 
	height: 0;
}

/* Scroll Theme */
.scrollbar > .scroll-element,
.scrollbar > .scroll-element div {
	position: absolute;
	z-index: 10; 

	margin: 0;
	padding: 0;

	border: none;
}

.scrollbar > .scroll-element div {
	top: 0;
	left: 0;

	display: block;

	width: 100%; 
	height: 100%;
}

.scrollbar > .scroll-element.scroll-x {
	bottom: 2px;
	left: 0;

	width: 100%; 
	height: 8px;
}

.scrollbar > .scroll-element.scroll-y {
	top: 0;
	right: 0; 

	width: 8px;
	height: 100%;
}

.scrollbar > .scroll-element .scroll-element_outer {
	overflow: hidden;
}

.scrollbar > .scroll-element .scroll-element_track,
.scrollbar > .scroll-element .scroll-bar {
	opacity: .1;
}

.scrollbar > .scroll-element .scroll-element_track {
	background-color: #e0e0e0;
}

.scrollbar > .scroll-element .scroll-bar {
	background-color: #c2c2c2;
}

.scrollbar > .scroll-element:hover .scroll-bar {
	background-color: #919191;
}

.scrollbar > .scroll-element.scroll-draggable .scroll-bar {
	background-color: #919191;
}

/* update scrollbar offset if both scrolls are visible */
.scrollbar > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_track {
	left: -12px;
}

.scrollbar > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_track {
	top: -12px;
}

.scrollbar > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size {
	left: -12px;
}

.scrollbar > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size {
	top: -12px;
}

@charset "UTF-8";
/* animates.scss */
/* Slick слайдер */
.slick-slider {
	position: relative;

	display: block;

	-webkit-box-sizing: border-box;
	        box-sizing: border-box;

	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;

	-ms-touch-action: pan-y;
	    touch-action: pan-y;
	-webkit-tap-highlight-color: transparent;
}

.slick-list {
	position: relative;

	display: block;
	overflow: hidden;

	margin: 0;
	padding: 0;
}
.slick-list:focus {
	outline: none;
}
.slick-list.dragging {
	cursor: pointer;
	cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
	-webkit-transform: translate3d(0, 0, 0);
	        transform: translate3d(0, 0, 0);
}

.slick-track {
	position: relative;
	top: 0;
	left: 0;

	display: block;
}
.slick-track:before,
.slick-track:after {
	display: table; 

	content: "";
}
.slick-track:after {
	clear: both;
}
.slick-loading .slick-track {
	visibility: hidden;
}

.slick-slide {
	display: none; 
	float: left;

	height: 100%;
	min-height: 1px;
}
[dir="rtl"] .slick-slide {
	float: right;
}
.slick-slide img {
	display: block;
}
.slick-slide.slick-loading img {
	display: none;
}
.slick-slide.dragging img {
	pointer-events: none;
}
.slick-initialized .slick-slide {
	display: block;
}
.slick-loading .slick-slide {
	visibility: hidden;
}
.slick-vertical .slick-slide {
	display: block;

	height: auto;

	border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
	display: none;
}
