/* footer.scss (START) */
/* footer.scss (END) */

/* header.scss (START) */
/* header.scss (END) */

/* layout.scss (START) */
.container {
	position: relative;

	-webkit-box-sizing: border-box;
	        box-sizing: border-box; 
	width: 100%;
	margin: 0 auto;
	padding: 0;
}

/* Grid System Sections */
.row {
	letter-spacing: -.31em;

	*letter-spacing: normal;
	*word-spacing: -.43em;
}

.col {
	display: inline-block;

	width: 100%;

	vertical-align: top;
	letter-spacing: normal;
	word-spacing: normal;

	*display: inline;
}

.s1.col {
	width: 8.33333333%;
}

.s2.col {
	width: 16.66666667%;
}

.s3.col {
	width: 25%;
}

.s4.col {
	width: 33.33333333%;
}

.s5.col {
	width: 41.66666667%;
}

.s6.col {
	width: 50.00%;
}

.s7.col {
	width: 58.33333333%;
}

.s8.col {
	width: 66.66666667%;
}

.s9.col {
	width: 75.0%;
}

.s10.col {
	width: 83.33333333%;
}

.s11.col {
	width: 91.66666667%;
}

.s12.col {
	width: 100%;
}

.off1.col {
	margin-left: 8.33333333%;
}

.off2.col {
	margin-left: 16.66666667%;
}

.off3.col {
	margin-left: 25%;
}

.off4.col {
	margin-left: 33.33333333%;
}

.off5.col {
	margin-left: 41.66666667%;
}

.off6.col {
	margin-left: 50.00%;
}

.off7.col {
	margin-left: 58.33333333%;
}

.off8.col {
	margin-left: 66.66666667%;
}

.off9.col {
	margin-left: 75.0%;
}

.off10.col {
	margin-left: 83.33333333%;
}

.off11.col {
	margin-left: 91.66666667%;
}

.off12.col {
	margin-left: 100%;
}

.container:after,
.row:after {
	display: table;
	clear: both; 

	content: "";
}

/* layout.scss (END) */

/* responsive.scss (START) */
/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
@media only screen and (max-width: 1000px) {
	body,
	html {
		min-width: auto !important;
	}
	.sidebar {
		width: 65px !important;
	}
	.content {
		padding-left: 65px !important;
	}
	.manager,
	.support,
	.logotype__image {
		display: none;
	}
	.menu__link {
		font-size: 0;

		padding: 20px 0 30px 0 !important;

		background-position: 15px 7px !important;
	}
	.btn__create {
		font-size: 0;

		padding: 32px 35px 17px 15px !important;
	}
	.btn__create:before {
		top: 12px !important;
		left: 13px !important;
	}
	.navigation .s4 {
		width: 8.33333333% !important;
		min-width: 85px;
	}
	.navigation .s2 {
		width: 16.66666667% !important;
	}
	.navigation__item--support .navigation__link {
		font-size: 0 !important;
	}
	.section__header {
		padding: 30px 0 80px 25px  !important;
	}
	.section__header .section__title {
		width: 100% !important;
	}
	.section__header .section__action {
		position: relative;
		top: 37px;
		right: 12px;
	}
	.block {
		margin-right: 25px !important;
	}
	.data__field {
		width: 100% !important;
	}
}

/* Small Devices, Tablets */
/* Extra Small Devices, Phones */
/* Custom, iPhone Retina */
/* responsive.scss (END) */

/* sidebar.scss (START) */
.sidebar {
	height: 100%; 

	background: #272c36 url("../img/sidebar__bg.png");
	background-repeat: repeat-y;
	background-position: right;
}
.sidebar__wrap {
	height: 100vh;
}
.sidebar .logotype {
	padding: 17px 0 15px 0; 

	background: url("../img/logo__bg.png");
	background-repeat: no-repeat;
	background-position: top center;
}
.sidebar .logotype--manager {
	padding-bottom: 60px;
}
.sidebar .logotype__link {
	margin-left: 34px;
}
.sidebar .create {
	margin-top: 42px;

	text-align: center;
}
.sidebar .menu {
	margin-bottom: 20px; 

	border-top: 1px solid #1e2128;
	border-bottom: 1px solid #353842;
}
.sidebar .menu__item {
	border-top: 1px solid #353842;
	border-bottom: 1px solid #1e2128;
}
.sidebar .menu--manager .menu__link--dashboard:hover,
.sidebar .menu--manager .menu__link--dashboard.active {
	color: #fff;
	background-image: url("../img/icons/icon__home--hover--manager.png");
}
.sidebar .menu--manager .menu__link--orders:hover,
.sidebar .menu--manager .menu__link--orders.active {
	color: #fff;
	background-image: url("../img/icons/icon__orders--hover--manager.png");
}
.sidebar .menu--manager .menu__link--profile:hover,
.sidebar .menu--manager .menu__link--profile.active {
	color: #fff;
	background-image: url("../img/icons/icon__profile--hover--manager.png");
}
.sidebar .menu--manager .menu__link--finance {
	background-image: url("../img/icons/icon__statistic--manager.png");
}
.sidebar .menu--manager .menu__link--finance:hover,
.sidebar .menu--manager .menu__link--finance.active {
	color: #fff;
	background-image: url("../img/icons/icon__statistic--hover--manager.png");
}
.sidebar .menu--manager .menu__link--support:hover,
.sidebar .menu--manager .menu__link--support.active {
	color: #fff;
	background-image: url("../img/icons/icon__support--hover--manager.png");
}
.sidebar .menu__link {
	font-weight: bold;

	position: relative;

	display: block;

	padding: 19px 0 17px 90px;

	color: #8f9093;
	background-repeat: no-repeat;
	background-position: 32px 7px;
}
.sidebar .menu__link:hover,
.sidebar .menu__link.active {
	background-color: #232832;
}
.sidebar .menu__link--dashboard {
	background-image: url("../img/icons/icon__home.png");
}
.sidebar .menu__link--dashboard:hover,
.sidebar .menu__link--dashboard.active {
	color: #fff;
	background-image: url("../img/icons/icon__home--hover.png");
}
.sidebar .menu__link--orders {
	background-image: url("../img/icons/icon__orders.png");
}
.sidebar .menu__link--orders:hover,
.sidebar .menu__link--orders.active {
	color: #fff;
	background-image: url("../img/icons/icon__orders--hover.png");
}
.sidebar .menu__link--profile {
	background-image: url("../img/icons/icon__profile.png");
}
.sidebar .menu__link--profile:hover,
.sidebar .menu__link--profile.active {
	color: #fff;
	background-image: url("../img/icons/icon__profile--hover.png");
}
.sidebar .menu__link--finance {
	background-image: url("../img/icons/icon__finance.png");
}
.sidebar .menu__link--finance:hover,
.sidebar .menu__link--finance.active {
	color: #fff;
	background-image: url("../img/icons/icon__finance--hover.png");
}
.sidebar .menu__link--base {
	background-image: url("../img/icons/icon__base.png");
}
.sidebar .menu__link--base:hover,
.sidebar .menu__link--base.active {
	color: #fff;
	background-image: url("../img/icons/icon__base--hover.png");
}
.sidebar .menu__link--support {
	background-image: url("../img/icons/icon__support.png");
}
.sidebar .menu__link--support:hover,
.sidebar .menu__link--support.active {
	color: #fff;
	background-image: url("../img/icons/icon__support--hover.png");
}
.sidebar .manager {
	position: relative;

	margin: 50px 15px 15px 15px;
	padding: 40px 40px 20px 40px;

	text-align: center;

	color: #fff;
	-webkit-border-radius: 5px;
	        border-radius: 5px; 
	background: #2f333d;
}
.sidebar .manager__image {
	position: absolute;
	top: -20px;
	right: 0;
	left: 0;

	margin: auto;

	-webkit-border-radius: 50%;
	        border-radius: 50%;
}
.sidebar .manager__name {
	font-size: 1.6rem; 

	margin: 15px 0 10px 0;
}
.sidebar .manager__title {
	font-size: 1.4rem;

	margin-bottom: 20px; 

	color: #788288;
}
.sidebar .manager__phone {
	margin-bottom: 12px;
}
.sidebar .manager__phone,
.sidebar .manager__email {
	font-size: 1.5rem;
}
.sidebar .support {
	margin: 50px 15px 50px 15px; 

	text-align: center;

	color: #788288;
}
.sidebar .support__title {
	font-size: 1.4rem;

	margin-bottom: 20px;
}
.sidebar .support-b {
	padding: 30px 0 30px 0;

	border: 2px dashed #3d414a;
	-webkit-border-radius: 3px;
	        border-radius: 3px;
}
.sidebar .support-b__phone {
	font-size: 2.2rem;
	font-weight: bold;

	margin-bottom: 20px;

	color: #fff;
}
.sidebar .support-b__email {
	font-size: 1.5rem;
}

/* sidebar.scss (END) */
