/* index.scss (START) */
.article {
	margin-right: 20px !important; 

	background: #fff !important;
}

.base .question__item {
	margin: 0 40px 12px 0;

	-webkit-transition: .3s;
	        transition: .3s; 

	background: #f7f8f9;
	-webkit-box-shadow: 0 0 7px 0 rgba(0, 0, 0, .1);
	        box-shadow: 0 0 7px 0 rgba(0, 0, 0, .1);
}
.base .question__item:hover {
	-webkit-box-shadow: 0 0 7px 3px rgba(8, 81, 142, .2);
	        box-shadow: 0 0 7px 3px rgba(8, 81, 142, .2);
}

.base .question__link {
	font-family: Tahoma;
	font-size: 1.8rem;
	line-height: 2.6rem;

	position: relative;

	display: block; 

	padding: 15px 50px 15px 20px;

	color: #044888;
}
.base .question__link:after {
	position: absolute;
	top: 50%;
	right: 20px;

	margin: auto;
	margin-top: 2px; 

	content: url("../img/icons/icon__arrow--next--blue.png");
	-webkit-transform: translate(0, -50%);
	    -ms-transform: translate(0, -50%);
	        transform: translate(0, -50%);

	color: #044888;
}

.base .about-cabinet__item {
	margin-bottom: 20px;
}
.base .about-cabinet__item:last-child {
	margin-bottom: 0;
}

.base .about-cabinet__link {
	font-family: Arial;
	font-size: 1.5rem;
}

.base .download__item {
	margin-bottom: 12px;
	padding: 20px 24px; 

	background: #eff1f3;
}
.base .download__item:before {
	position: absolute; 

	content: "";
}
.base .download__item--powerpoint:before {
	content: url(../img/icons/icon__powerpoint.png);
}
.base .download__item--exel:before {
	content: url(../img/icons/icon__exel.png);
}

.base .download__link {
	font-family: Tahoma;
	font-size: 1.5rem;
	line-height: 1.8rem;

	display: block; 
	overflow: hidden;

	margin-bottom: 12px;
	margin-left: 45px;
}

.base .download__info {
	margin-left: 45px;

	color: #99a6b0;
}

/* index.scss (END) */

/* index.scss (START) */
.base .question__item {
	margin: 0 40px 12px 0;

	-webkit-transition: .3s;
	        transition: .3s; 

	background: #f7f8f9;
	-webkit-box-shadow: 0 0 7px 0 rgba(0, 0, 0, .1);
	        box-shadow: 0 0 7px 0 rgba(0, 0, 0, .1);
}
.base .question__item:hover {
	-webkit-box-shadow: 0 0 7px 3px rgba(8, 81, 142, .2);
	        box-shadow: 0 0 7px 3px rgba(8, 81, 142, .2);
}

.base .question__link {
	font-family: Tahoma;
	font-size: 1.8rem;
	line-height: 2.6rem;

	display: block; 

	padding: 15px 50px 15px 20px;

	color: #044888;
}
.base .question__link:after {
	position: absolute;
	top: 50%;
	right: 20px;

	margin: auto;
	margin-top: 2px; 

	content: url("../img/icons/icon__arrow--next--blue.png");
	-webkit-transform: translate(0, -50%);
	    -ms-transform: translate(0, -50%);
	        transform: translate(0, -50%);

	color: #044888;
}
.base .question__link:hover:after {
	-webkit-animation: shaked .5s;
	        animation: shaked .5s;
}

.base .about-cabinet__item {
	margin-bottom: 20px;
}
.base .about-cabinet__item:last-child {
	margin-bottom: 0;
}

.base .about-cabinet__link {
	font-family: Arial;
	font-size: 1.5rem;
}

.base .download__item {
	margin-bottom: 12px;
	padding: 20px 24px; 

	background: #eff1f3;
}
.base .download__item:before {
	position: absolute; 

	content: "";
}
.base .download__item--powerpoint:before {
	content: url(../img/icons/icon__powerpoint.png);
}
.base .download__item--exel:before {
	content: url(../img/icons/icon__exel.png);
}

.base .download__link {
	font-family: Tahoma;
	font-size: 1.5rem;
	line-height: 1.8rem;

	display: block; 
	overflow: hidden;

	margin-bottom: 12px;
	margin-left: 45px;
}

.base .download__info {
	line-height: 1.3em;

	margin-left: 45px;

	color: #99a6b0;
}

.warning {
	position: relative; 
	z-index: 1000;

	width: 100%;
	height: 50px;

	text-align: center;

	color: #fff;
	background: #db4747;
}
.warning__message {
	line-height: 52px;
}
.warning__message:before {
	position: relative;
	bottom: -8px; 

	margin-right: 15px;

	content: url("../img/icon__warning.png");
}
.warning .exit {
	position: absolute;
	z-index: 1000;
	top: 50%;
	right: 0;

	margin: auto;
	margin-right: 10px; 
	padding: 8px 15px 7px 15px;

	-webkit-transform: translate(0, -50%);
	    -ms-transform: translate(0, -50%);
	        transform: translate(0, -50%);

	color: #fff;
	border: 1px solid #fff;
	-webkit-border-radius: 3px;
	        border-radius: 3px;
}
.warning .exit:hover {
	color: #db4747; 
	background: #fff;
}

#checkbox__call {
	display: none;
}

.normal {
	font-style: normal;

	color: #7a7a7a;
}

/* index.scss (END) */

/* empty.scss (START) */
.dashboard.finance {
	margin-top: -50px;
}
.dashboard.finance .finance__title {
	margin-bottom: 20px;
}

.dashboard.base .base__title {
	margin-bottom: 20px;
}

.finance-b {
	position: relative;

	display: inline-block;

	min-width: 270px;
	margin-right: 0 !important; 
	padding: 25px 50px 25px 20px;
}
.finance-b.block {
	background: #fff;
}
.finance-b__title {
	font-size: 1.6rem;

	padding-bottom: 15px;
}
.finance-b__balance {
	font-family: Arial;
	font-size: 3.7rem;
	font-weight: bold;
	line-height: 1em;

	margin-bottom: 15px;

	color: #000;
}
.finance-b__withdraw {
	font-size: 1.6rem;
	font-weight: bold;
}
.finance-b__withdraw u {
	text-decoration: none;

	border-bottom: 1px dotted;
}
.finance-b__withdraw:before {
	position: relative;
	top: 9px;

	margin-right: 15px; 

	content: url("../img/icons/icon__card.png");
}
.finance-b__addition {
	font-size: 1.5rem;

	position: absolute;
	top: 0;
	right: 0; 

	width: 60px;
	height: 100%;

	background: #06b;
}
.finance-b__addition:hover {
	background: #0075d6;
}
.finance-b__addition img {
	position: absolute;
	top: 50%;
	left: 50%;

	margin: auto;

	-webkit-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
}
.finance-b__info {
	font-style: italic;
	line-height: 2.2rem;

	max-width: 200px; 
	padding-left: 15px;

	color: #788288;
}
.finance-b__info a {
	font-weight: bold;
	font-style: normal;

	display: block; 

	margin-top: 10px;
}

/* empty.scss (END) */

/* empty.scss (START) */
.featherlight .payout {
	display: block;
}

.payout {
	display: none; 

	padding: 10px 20px 10px 20px;
}
.payout .requisites__title {
	font-size: 28px;
	font-weight: bold;

	margin-bottom: 25px; 

	letter-spacing: -.5px;

	color: #048;
}
.payout .requisites__list {
	margin-bottom: 10px;
}
.payout .requisites__item {
	font-size: 1.5rem;

	margin-bottom: 15px;
}
.payout .requisites__link {
	font-size: 1.5rem;
	font-weight: bold;
	line-height: 1em;

	display: inline-block;

	margin-top: 15px;

	text-decoration: none;

	color: #06b; 
	border-bottom: 1px dotted;
}
.payout .requisites__inputs {
	margin-top: 35px;
}
.payout .requisites__label {
	font-size: 1.5rem;

	display: inline-block;

	min-width: 75px;

	color: #788288;
}
.payout .requisites__value {
	color: #000;
}
.payout .requisites__field {
	font-size: 1.8rem;
	font-weight: bold;

	display: inline-block;

	max-width: 180px; 

	color: #000;
}
.payout .requisites__rouble {
	font-size: 1.5rem;
	line-height: 1em;

	display: inline-block;

	margin-left: 10px; 

	vertical-align: middle;
}
.payout .requisites__price {
	position: relative;

	display: inline-block;

	margin-top: 2px; 
	margin-left: 15px;
}
.payout .requisites__addition {
	margin-top: 35px;
}
.payout .block {
	min-width: 460px; 
	margin: 0;
	padding: 0;

	background: #fff;
	-webkit-box-shadow: none;
	        box-shadow: none;
}

/* empty.scss (END) */

/* managers.scss (START) */
.profile__item--photo--manager {
	width: 10%; 
	min-width: 125px;
}

.profile__item--profile--manager {
	width: 78%;
}

.profile__order--profile--manager {
	padding-bottom: 25px;
}

/* managers.scss (END) */

/* order.scss (START) */
.section__company-name {
	font-size: 2.4rem;
	line-height: 2.2rem;

	margin-top: 23px; 

	color: #1d2028;
}

.order-list {
	margin: 0 40px 55px 0;
}
.order-list__header {
	line-height: 1.8rem; 

	margin-bottom: 15px;

	*zoom: 1;
}
.order-list__header:before,
.order-list__header:after {
	display: table; 

	content: "";
}
.order-list__header:after {
	clear: both;
}
.order-list__header .order-list__item {
	padding: 7px 0 5px 0;
}
.order-list__header .order-list__sort {
	cursor: default; 

	border-bottom: 1px dotted;
	border-bottom: 0;
}
.order-list__header .order-list__sort:hover {
	color: #000 !important;
}
.order-list__header .order-list__item--warning {
	border-left: 0;
}
.order-list__header .order-list__item--reward-status {
	font-weight: normal;
}
.order-list__link {
	display: block;

	width: 100%;
}
.order-list__content {
	margin-bottom: 7px;

	-webkit-transition: .3s;
	        transition: .3s; 

	background: #fff;
	-webkit-box-shadow: 0 0 7px 0 rgba(0, 0, 0, .1);
	        box-shadow: 0 0 7px 0 rgba(0, 0, 0, .1);

	*zoom: 1;
}
.order-list__content:before,
.order-list__content:after {
	display: table; 

	content: "";
}
.order-list__content:after {
	clear: both;
}
.order-list__content:hover {
	-webkit-box-shadow: 0 0 7px 3px rgba(8, 81, 142, .2);
	        box-shadow: 0 0 7px 3px rgba(8, 81, 142, .2);
}
.order-list__content--paid {
	opacity: .5;
}
.order-list__content--paid:hover {
	opacity: 1;
}
.order-list__date {
	position: relative;

	min-width: 80px; 
	margin-bottom: 20px;

	text-align: center;
}
.order-list__date:before {
	position: absolute;
	z-index: 0;
	top: 5px;
	right: 0;
	left: 0;

	width: 100%;
	height: 2px;

	content: "";

	background: #d6dbdf;
}
.order-list__date .order-list__date--m-y {
	font-weight: bold; 

	position: relative;
	z-index: 1;

	display: inline-block;

	padding: 0 25px;

	color: #044888;
	background: #e4e8eb;
}
.order-list__item {
	font-size: 1.4rem;

	float: left;

	padding: 20px 0 18px 0;

	color: #000;
}
.order-list__item .order-list__sort {
	color: #788288;
}
.order-list__item .order-list__sort:hover {
	color: #c72411;
}
.order-list__item .none {
	color: #c1c8ce;
}
.order-list__item--warning {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	width: 2%; 

	border-left: 7px solid;
}
.order-list__item--warning--n1 {
	border-color: #06b !important;
}
.order-list__item--warning--n2 {
	border-color: #ec7516 !important;
}
.order-list__item--warning--n3 {
	border-color: #b4b9be !important;
}
.order-list__item--warning--n4 {
	border-color: #ea311c !important;
}
.order-list__item--num {
	width: 8%;
}
.order-list__item--date {
	width: 10%;

	color: #788288;
}
.order-list__item--company {
	width: 18%;
}
.order-list__item--status {
	font-size: 1.4rem;

	position: relative;

	width: 17%;
	min-height: 15px;
}
.order-list__item--status .status__dfn {
	line-height: 1.4rem; 

	position: absolute;
	top: 50%;

	display: block;

	margin: auto;

	-webkit-transform: translate(0, -50%);
	    -ms-transform: translate(0, -50%);
	        transform: translate(0, -50%);
}
.order-list__item--status--n1 {
	color: #06b !important;
}
.order-list__item--status--n2 {
	color: #ec7516 !important;
}
.order-list__item--status--n3 {
	color: #1db07e !important;
}
.order-list__item--status--n4 {
	color: #b4b9be !important;
}
.order-list__item--status--n5 {
	color: #ea311c !important;
}
.order-list__item--sum {
	width: 12%;
}
.order-list__item--reward {
	width: 12%;
}
.order-list__item--reward-status {
	width: 20%;

	color: #b4b9be;
}
.order-list__item--reward-status--n1 {
	color: #1db07e;
}
.order-list__sort {
	line-height: 0;
}

.order {
	margin: 0 40px 22px 0;
}
.order__header {
	line-height: 1.8rem; 

	margin-bottom: 15px;

	*zoom: 1;
}
.order__header:before,
.order__header:after {
	display: table; 

	content: "";
}
.order__header:after {
	clear: both;
}
.order__header .order__item {
	padding: 7px 0 5px 0;
}
.order__header .order__sort {
	color: #788288; 
	border-bottom: 1px dotted;
}
.order__header .order__item--warning {
	border-left: 0;
}
.order__header .order__item--reward-status {
	font-weight: normal;
}
.order__content {
	margin-bottom: 7px;

	cursor: default; 
	-webkit-transition: .3s;
	        transition: .3s;

	background: #fff;
	-webkit-box-shadow: 0 0 7px 0 rgba(0, 0, 0, .1);
	        box-shadow: 0 0 7px 0 rgba(0, 0, 0, .1);

	*zoom: 1;
}
.order__content:before,
.order__content:after {
	display: table; 

	content: "";
}
.order__content:after {
	clear: both;
}
.order__content:hover {
	-webkit-box-shadow: 0 0 7px 3px rgba(8, 81, 142, .2);
	        box-shadow: 0 0 7px 3px rgba(8, 81, 142, .2);
}
.order__list {
	padding-bottom: 2px;
}
.order__item {
	font-size: 1.4rem;

	float: left;

	padding: 18px 0 18px 0;

	color: #000;
}
.order__item--warning {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box; 
	width: 2%;

	border-left: 7px solid;
}
.order__item--warning--n1 {
	border-color: #06b !important;
}
.order__item--warning--n2 {
	border-color: #ec7516 !important;
}
.order__item--warning--n3 {
	border-color: #b4b9be !important;
}
.order__item--date {
	width: 19%;
	min-width: 80px; 

	color: #788288;
}
.order__item--status {
	font-size: 1.4rem; 

	width: 19%;
}
.order__item--status--n1 {
	color: #06b !important;
}
.order__item--status--n2 {
	color: #ec7516 !important;
}
.order__item--status--n3 {
	color: #1db07e !important;
}
.order__item--status--n4 {
	color: #b4b9be !important;
}
.order__item--sum {
	width: 20%;
}
.order__item--reward {
	width: 20%;
}
.order__item--reward-status {
	font-weight: bold; 

	width: 20%;

	color: #b4b9be;
}
.order__cycle {
	display: inline-block; 

	padding: 14px 28px 12px 28px;

	color: #fff;
	background: #06b;
}
.order__cycle:hover {
	color: #fff;
}
.order__cycle .bigger {
	font-size: 1.6rem;
	font-weight: bold;

	margin-left: 10px;
}

.comments__title {
	margin-bottom: 23px; 

	color: #000;
}

.comments .comment {
	width: 50%;
	padding: 25px 23px;
}
.comments .comment__header {
	position: relative;

	margin-bottom: 20px;
}
.comments .comment__content {
	line-height: 2.2rem; 

	color: #000;
}
.comments .comment__author {
	display: inline-block; 

	color: #06b;
}
.comments .comment__author .name {
	font-weight: bold;
}
.comments .comment__author .prof {
	font-style: italic;
}
.comments .comment__avatar {
	display: inline-block;

	margin-top: -14px;
	margin-left: 10px;
}
.comments .comment__avatar .avatar__photo {
	-webkit-border-radius: 50%;
	        border-radius: 50%;
}
.comments .comment__date {
	font-style: italic;

	position: absolute;
	top: -7px;
	right: 0;

	color: #99a6b0;
}
.comments .comment__date:before {
	position: relative;
	top: 2px;
	right: 5px; 

	content: url("../img/icons/icon__date--small.png");
}

.complete {
	padding: 25px 50px 25px 25px;
}
.complete__content {
	margin-bottom: 25px; 

	*zoom: 1;
}
.complete__content:before,
.complete__content:after {
	display: table; 

	content: "";
}
.complete__content:after {
	clear: both;
}
.complete__icon {
	float: left;

	margin-right: 20px;
}
.complete__title {
	font-family: Tahoma;
	font-size: 1.8rem;
	line-height: 2.8rem;

	margin-top: 7px; 

	color: #000;
}
.complete__info {
	font-family: Arial;
	font-size: 1.8rem;
	line-height: 2.4rem;

	width: 75%; 

	color: #858d96;
}

.data {
	margin-bottom: 35px;
}
.data__title {
	margin-bottom: 25px;

	color: #000;
}
.data__content {
	line-height: 1em; 

	position: relative;

	padding: 30px 50px 25px 25px;
}
.data__content.block {
	background: #fff;
}
.data__item {
	margin-bottom: 20px;

	*zoom: 1;
}
.data__item:before,
.data__item:after {
	display: table; 

	content: "";
}
.data__item:after {
	clear: both;
}
.data__label {
	float: left;

	width: 15%;
	margin-top: 6px;
	margin-bottom: 12px;

	color: #06b;
}
.data__field {
	float: left; 

	width: 85%  !important;
}
.data__file {
	display: none;
}
.data__filelabel {
	font-size: 1.4rem;
	font-weight: bold;
	line-height: 1.8rem;

	position: relative;
	top: 7px;

	display: inline-block;

	margin-left: 40px;

	-webkit-transition: .3s;
	        transition: .3s; 

	color: #06b;
}
.data__filelabel:hover {
	color: #c72411;
}
.data__filelabel u {
	text-decoration: none;

	border-bottom: 1px dotted;
}

.info {
	margin-bottom: 35px;
}
.info__content.block {
	background: #fff;
}
.info__item {
	margin-bottom: 20px;

	*zoom: 1;
}
.info__item:before,
.info__item:after {
	display: table; 

	content: "";
}
.info__item:after {
	clear: both;
}
.info__item--textarea {
	margin-bottom: 5px;
}
.info__field {
	float: left; 

	width: 85% !important;
}
.info__label {
	line-height: 1.8rem; 

	float: left;

	width: 15%;
	margin-top: 15px;
	margin-bottom: 12px;

	color: #06b;
}
.info__label--radio {
	font-size: 1.6rem;

	margin-top: 12px;
	margin-right: 15px;

	color: #000;
}
.info__label--checkbox {
	font-size: 1.6rem;

	padding-left: 40px !important; 

	color: #000;
}
.info__title {
	margin-bottom: 25px;

	color: #000;
}
.info__content {
	line-height: 1em; 

	position: relative;

	padding: 30px 50px 25px 25px;
}

.goods {
	margin-bottom: 35px;
}
.goods__title {
	margin-bottom: 25px;

	color: #000;
}
.goods__content {
	line-height: 1em; 

	position: relative;

	padding: 30px 50px 25px 25px;
}
.goods__content.block {
	background: #fff;
}
.goods__item {
	margin-bottom: 20px;

	*zoom: 1;
}
.goods__item:before,
.goods__item:after {
	display: table; 

	content: "";
}
.goods__item:after {
	clear: both;
}
.goods__item--checkbox {
	margin-bottom: 5px;
}
.goods__item--textarea {
	margin-top: 25px;
}
.goods__label {
	float: left;

	width: 15%;
	margin-top: 15px;
	margin-bottom: 12px;

	color: #06b;
}
.goods__label--checkbox {
	font-size: 1.6rem;

	padding-left: 40px !important; 

	color: #000;
}
.goods__field {
	float: left; 

	width: 85% !important;
}
.goods__select:after {
	position: absolute;
	top: 45px;

	margin-left: -30px;

	content: url("../img/icons/icon__arrow--bottom--blue.png");
}
.goods__blocks {
	margin-top: 40px;
}
.goods-b {
	margin-bottom: 40px;
}
.goods-b__label {
	line-height: 1.8rem; 

	display: block;

	max-width: 175px;
	margin-bottom: 12px;

	color: #06b;
}

/* order.scss (END) */

@charset "UTF-8";
/* empty.scss (START) */
.profile .block {
	background: #fff !important;
}

.profile__content {
	position: relative; 

	padding: 30px 0 25px 25px;
}

.profile__photo {
	margin-right: 25px;
}
.profile__photo:before {
	position: absolute;
	top: 0;
	left: 0; 

	width: 125px;
	height: 9px;

	content: "";

	background: #06b;
}
.profile__photo--manager:before {
	position: absolute;
	top: 0;
	left: 0; 

	width: 125px;
	height: 9px;

	content: "";

	background: #1db07e;
}

.profile__item {
	font-family: Arial; 

	display: inline-block;
}

.profile__name {
	font-size: 2.2rem;
	line-height: 3rem;

	margin-bottom: 12px;
}
.profile__name--phisical:after {
	font-size: 1.4rem;
	font-weight: bold;
	line-height: 1.8rem;

	position: relative;
	top: -2px; 

	margin-left: 25px;
	padding: 8px 12px;

	content: "Физ. лицо";
	white-space: nowrap;

	color: #fff;
	background: #06b;
}
.profile__name--legal:after {
	font-size: 1.4rem;
	font-weight: bold;
	line-height: 1.8rem;

	position: relative;
	top: -2px; 

	margin-left: 25px;
	padding: 8px 12px;

	content: "Юр. лицо";
	white-space: nowrap;

	color: #fff;
	background: #1db07e;
}

.profile__order {
	font-size: 1.5rem;
	line-height: 1.8rem;

	color: #06b;
}

.profile__other {
	position: absolute;
	bottom: 25px;
}
.profile__other--manager {
	position: static;

	margin-top: 15px;
}

.profile__disc {
	display: inline-block;

	width: 100px;

	color: #99a6b0;
	background: url("../img/icons/dotted.png");
	background-repeat: repeat-x;
	background-position: bottom;
}
.profile__disc--manager {
	width: 200px;
}
.profile__disc em {
	font-style: normal;

	background: #fff;
}

.profile__value {
	display: inline-block;
}
.profile__value--manager {
	line-height: 2em;
}

.profile__addition {
	position: relative;
	top: -20px;

	margin-left: 25px;

	color: #788288;
}

.profile__submit--manager {
	margin-right: 25px;
}

.profile__delete {
	font-family: Arial;
	font-size: 1.5rem;

	display: inline-block;

	margin-left: 25px;

	color: #f13b3b;
	border: 0;
	background: transparent;
	-webkit-box-shadow: none;
	        box-shadow: none;
}
.profile__delete u {
	text-decoration: none; 

	border-bottom: 1px dotted #f13b3b;
}
.profile__delete u:hover {
	border: 0;
}
.profile__delete:after {
	position: relative;
	top: 2px; 

	display: inline-block;

	margin-left: 10px;

	content: "✖";

	color: #c0c5c9;
}

.requisites__title,
.phones__title {
	font-family: Tahoma;

	margin-bottom: 20px; 

	color: #000;
}

.requisites__content,
.phones__content {
	padding: 30px 50px 25px 25px;
}

.requisites__disc,
.phones__disc {
	display: inline-block;

	width: 50%;

	color: #99a6b0;
	background: url("../img/icons/dotted.png");
	background-repeat: repeat-x;
	background-position: bottom;
}
.requisites__disc em,
.phones__disc em {
	font-style: normal;
	line-height: 1em; 

	background: #fff;
}

.requisites__value,
.phones__value {
	line-height: 1em; 

	display: inline-block;

	width: 50%;
}

.requisites__item,
.phones__item {
	margin-bottom: 20px;
}
.requisites__item--noitems,
.phones__item--noitems {
	text-align: center;

	color: #788288;
}
.requisites__item:last-child,
.phones__item:last-child {
	margin-bottom: 0;
}

/* empty.scss (END) */

@charset "UTF-8";
/* responsive.scss (START) */
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1380px) {
	.claim__form .claim__select .claim__field {
		width: 100% !important;
	}
	.claim__form .claim__item .claim__field {
		width: 100% !important;
		max-width: 400px;
	}
	.claim__form .claim__message {
		width: 100% !important;
	}
	.claim__form .claim__item:last-child label {
		display: none;
	}
	.claim__form .claim__item:nth-child(4) label {
		display: none;
	}
}

@media only screen and (max-width: 1125px) {
	.warning {
		text-align: left;
	}
	.warning__message {
		padding-left: 25px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 1000px) {
	textarea {
		line-height: 1.1em;
	}
	body,
	html {
		min-width: 320px !important;
	}
	.sidebar {
		width: 65px !important;
	}
	.content {
		padding-left: 65px !important;
	}
	.manager,
	.support,
	.logotype__image {
		display: none;
	}
	.menu__link {
		font-size: 0;

		padding: 20px 0 30px 0 !important;

		background-position: 15px 7px !important;
	}
	.btn__create {
		font-size: 0;

		padding: 32px 35px 17px 15px !important;
	}
	.btn__create:before {
		top: 12px !important;
		left: 13px !important;
	}
	.navigation .s4 {
		width: 8.33333333% !important;
		min-width: 85px;
	}
	.navigation .s2 {
		width: 16.66666667% !important;
	}
	.navigation__item--support .navigation__link {
		font-size: 0 !important;
	}
	.section__header {
		padding: 30px 0 80px 25px  !important;
	}
	.section__header .section__title {
		width: 100% !important;
	}
	.section__header .section__action {
		position: relative;
		top: 37px;
		right: 12px;
	}
	.block {
		margin-right: 20px !important;
	}
	.data__field {
		width: 100% !important;
		max-width: 100% !important;
	}
	.data__label--empty {
		display: none;
	}
	.claim__uploadinfo {
		padding-left: 0 !important;
	}
	.data__content {
		padding: 30px 25px 25px 25px !important;
	}
	.info__label {
		min-width: 100px;
	}
	.order-list {
		margin: 0 25px 55px 0;
	}
	.order-list__item--reward,
	.order-list__item--reward-status {
		display: none;
	}
	.order-list__header .order-list__item--status {
		text-align: center;
	}
	.order-list__item--num,
	.order-list__item--date,
	.order-list__item--company,
	.order-list__item--sum,
	.order-list__item--status {
		font-size: 1.3rem; 

		text-align: center;
	}
	.order-list__item--num {
		min-width: 50px;
	}
	.order-list__item--date {
		min-width: 75px;
	}
	.order-list__item--company {
		min-width: 125px;
	}
	.order-list__item--sum {
		min-width: 80px;

		white-space: nowrap;
	}
	.order-list__item--status {
		min-width: 73px;
		padding-left: 15px; 

		text-align: left;
	}
	.finance-b__info {
		display: none;
	}
	.order-list__item--company {
		width: 28% !important;
	}
	.order-list__item--date {
		width: 13% !important;
	}
	.order-list__item--sum {
		width: 21% !important;
	}
	.order-list__item--num {
		width: 10%;
	}
	.dashboard.finance .finance-b:last-child {
		display: none;
	}
	.base .s9,
	.base .s3 {
		width: 100%;
	}
	.base .question__item {
		margin: 0 25px 12px 0;
	}
	.btn__simple {
		margin-bottom: 25px;
	}
	.pagination {
		padding-right: 25px;
	}
	.list {
		margin: 0 20px 12px 0 !important;
	}
	.base.profile .s7,
	.base.profile .s5 {
		width: 100%;
	}
	.base.profile .profile__content {
		padding: 30px 0 25px 0;
	}
	.base.profile .profile__name--phisical:after {
		position: absolute;
		top: 0;
		right: 0;
	}
	.base.profile .profile__other {
		line-height: 1em; 

		position: static;
	}
	.base.profile .profile__order {
		margin-bottom: 10px;
	}
	.base.profile .name__image {
		display: none;
	}
	.base.profile .profile__item.profile__item--photo--manager {
		width: 0 !important;
		min-width: 0 !important;
		padding-left: 25px;
	}
	.back {
		margin-bottom: 20px;
	}
	.error__message {
		width: auto !important;
	}
	.error__title {
		line-height: 1em;
	}
	.error__back {
		white-space: nowrap;
	}
	.back__link {
		display: block !important;

		margin-right: 20px; 

		text-align: center;
	}
	.finance__header {
		padding-bottom: 35px !important;
	}
	.info__field {
		width: 100% !important;
		max-width: inherit !important;
	}
	.info__content.block {
		padding: 30px 25px 25px 25px !important;
	}
	.info__content.block .claim__message {
		width: 100% !important;
		max-width: inherit !important;
	}
	.info__content.block .info__label {
		display: block;
		float: none;

		margin-bottom: 10px;
	}
	.info__content.block .info__radio {
		display: block;
	}
	.info__content.block .info__label--radio {
		margin-left: 4px;
		padding-left: 41px;
	}
	.goods .goods__label {
		display: block; 
		float: none;
	}
	.goods .goods__field {
		width: 100% !important;
	}
	.goods .goods__select:after {
		top: 100px;
	}
	.goods .s3 {
		width: 33.33333333%;
	}
	.goods .goods__content {
		padding: 30px 25px 25px 25px !important;
	}
	.claim__warning {
		line-height: 1em; 

		width: 80%;
		margin: 0 auto;
	}
	.profile__name--legal:after {
		position: absolute;
		top: 0; 
		right: 0;
	}
	.newusers .name__image {
		display: block !important;
	}
	.managers__title {
		padding-bottom: 30px !important;
	}
	.btn__more {
		white-space: nowrap;
	}
	.comments .comment {
		width: auto !important;
	}
	.order {
		margin: 0 20px 22px 0 !important;
	}
	.claim__file {
		width: 100%;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width: 775px) {
	.search.block .search__label {
		display: block;

		margin-top: 5px;
		margin-bottom: 20px;

		text-align: center;
	}
	.search.block .search__field {
		width: 100% !important;
		margin-bottom: 17px;
	}
	.search.block .search__submit {
		width: 100%; 
		margin-left: 0;
	}
	.newusers__item--photo {
		display: none;
	}
	.goods .s3 {
		width: 50%;
	}
	.newusers__list {
		position: relative;
	}
	.newusers__item--name {
		position: absolute !important;
		top: -7px;
		left: 25px; 

		width: 95% !important;
	}
	.newusers__item--id {
		display: none;
	}
	.newusers__item--warning {
		min-width: 25px !important;
		max-width: 25px !important;
	}
	.newusers__item--phone,
	.newusers__item--date {
		width: 44% !important; 
		margin-top: 15px;
	}
	.newusers__item--phone span,
	.newusers__item--date span {
		top: 64% !important;
	}
	.newusers__item {
		padding-bottom: 0 !important;
	}
	.order__item {
		font-size: 1.3rem; 

		text-align: center;
	}
	.techsup {
		font-size: 1.2rem !important; 

		margin: 0 25px 55px 0 !important;
	}
	.techsup__item--theme .dfn,
	.techsup__item--name .dfn {
		padding-right: 10px;
	}
	.warning .exit {
		font-size: 0;
	}
	.warning .exit:before {
		font-size: 1.4rem;
		line-height: 1em; 

		content: "✕";
	}
}

@media only screen and (max-width: 620px) {
	.goods .s3 {
		width: 50%;
	}
	.profile__addition span {
		display: none;
	}
	.profile__delete {
		display: block;

		margin-top: 18px;
		margin-left: 3px;
	}
	section .section__action .action__link--change:after {
		right: 7px  !important;
	}
	.claim__select:after {
		position: absolute !important;
		top: 88px !important;
		right: 83px !important;

		display: none;
	}
	.techsup__header {
		display: none;
	}
	.techsup__title {
		margin-bottom: 25px !important;
	}
	.techsup__item--num,
	.techsup__item--date,
	.techsup__item--theme,
	.techsup__item--status,
	.techsup__item--theme,
	.techsup__item--name {
		width: 100% !important;
		padding-right: 0 !important;
		padding-left: 0 !important;

		-webkit-transform: translate(0, 0) !important;
		    -ms-transform: translate(0, 0) !important;
		        transform: translate(0, 0) !important; 
		text-align: center;

		border-bottom: 1px dotted #ccc;
	}
	.techsup__item--theme .dfn,
	.techsup__item--name .dfn {
		position: static !important;

		padding-right: 0 !important;
		padding-left: 0 !important;

		-webkit-transform: translate(0, 0) !important;
		    -ms-transform: translate(0, 0) !important;
		        transform: translate(0, 0) !important; 
		text-align: center;
	}
}

@media only screen and (max-width: 580px) {
	h2 {
		font-size: 2.5rem;
	}
	.navigation .s5 {
		width: 0;
	}
	table {
		display: none !important;
	}
	.data__label {
		width: 100%;
	}
	.navigation__item--name {
		display: none;
	}
	.section__action .action__item .action__link {
		padding: 11px 35px 10px 17px !important;
	}
	.section__action .action__item .action__link--add {
		padding: 11px 15px 10px 40px !important;
	}
	.section__action .action__item .action__link--back {
		padding: 11px 25px 10px 40px !important;
	}
	.order-list__header {
		display: none;
	}
	.order-list__item--warning {
		font-size: 0 !important;

		width: 100%;
		padding: 0 !important; 

		border-top: 3px solid;
		border-left: 0;
	}
	.order-list__item--num,
	.order-list__item--date {
		width: 50% !important;
	}
	.order-list__item--company,
	.order-list__item--sum,
	.order-list__item--status {
		font-size: 2rem !important; 

		width: 100% !important;
	}
	.order-list__item--status {
		padding-bottom: 30px; 
		padding-left: 0 !important;

		text-align: center;
	}
	.order-list__item--status .status__dfn {
		position: static;
	}
	.btn__simple {
		width: 100% !important;
		padding-right: 0 !important;
		padding-left: 0 !important;

		text-align: center !important;
	}
	.search {
		padding: 15px 15px !important;
	}
	.complete__icon {
		display: block; 
		float: none !important;

		margin: 0 auto;
	}
	.complete__title {
		text-align: center;
	}
	.complete.block {
		padding: 25px 25px 25px 25px;
	}
	.complete__info {
		width: 100%;

		text-align: center;
	}
	.order-list__date .order-list__date--m-y {
		line-height: 1em;

		background: transparent;
	}
}

@media only screen and (max-width: 536px) {
	.profile__value--manager {
		display: block;
	}
	.profile__disc {
		background: none;
	}
	.order__header {
		display: none;
	}
	.order__item--warning {
		font-size: 0 !important;

		width: 100%;
		padding: 0 !important;

		border-top: 3px solid;
		border-left: 0;
	}
	.order__item--date,
	.order__item--status,
	.order__item--sum,
	.order__item--reward {
		width: 100% !important;

		border-bottom: 1px dotted #ccc;
	}
	.order__item--reward-status {
		width: 100%;
	}
	.comment__avatar {
		display: none !important;
	}
	.order__cycle {
		display: block;

		margin-right: 20px;

		text-align: center;
	}
	.warning__message {
		font-size: 0;

		position: relative;
		top: 3px;
	}
}

@media only screen and (max-width: 505px) {
	h1 {
		font-size: 3.3rem;
	}
	.pagination__prev {
		margin-bottom: 10px;
	}
	.pagination__next {
		margin-top: 10px;
	}
	.pagination__prev,
	.pagination__next {
		display: block !important;
	}
}

@media only screen and (max-width: 450px) {
	.finance-b.block {
		min-width: 220px !important;
	}
	.section__action .action__link {
		font-size: 1.1rem  !important;
	}
	.section__action .action__item .action__link--back {
		padding: 11px 22px 10px 37px !important;
	}
	.section__header.managers__title {
		padding-bottom: 30px !important;
	}
	.comments .comment__date {
		font-size: 1rem;

		margin-top: 8px;
	}
	.comments .comment__date:before {
		content: "";
	}
	.claim__select {
		position: relative;
	}
	.claim__content {
		padding: 30px 18px 25px 18px !important;
	}
}

@media only screen and (max-width: 446px) {
	.profile__info {
		padding-left: 25px;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 400px) {
	h1 {
		font-size: 2.6rem;
	}
	.section__header {
		padding: 30px 0 80px 15px !important;
	}
	.finance__header {
		padding-bottom: 35px !important;
	}
	.section__content {
		padding: 0 0 35px 15px !important;
	}
	.article {
		margin-right: 15px !important;
	}
	.article__content {
		padding: 20px 15px !important;
	}
	.section__action .action__item .action__link {
		font-size: 1.1rem !important;
	}
	.sidebar {
		display: none;
	}
	.content {
		padding-left: 0 !important;
	}
	.block {
		margin-right: 15px !important;
	}
	.list {
		margin: 0 15px 12px 0 !important;
	}
	.back__link {
		margin-right: 15px !important;
	}
	.order-list {
		margin: 0 15px 55px 0 !important;
	}
	.goods .s3 {
		width: 100%;

		text-align: center;
	}
	.goods .goods-b__label {
		margin: 0 auto 17px auto;
	}
	.goods .goods__select:after {
		top: 87px !important;
	}
	.goods .goods__label {
		width: auto;

		text-align: center;
	}
	.goods .goods__label--checkbox {
		margin-left: 3px;
	}
	.goods .claim__message {
		width: 100% !important;
	}
	.profile__name--phisical:after {
		font-size: 1.2rem;

		padding: 4px 8px;
	}
	.profile__addition {
		margin-left: 15px; 
		padding-right: 15px;
	}
	.profile__addition .btn__submit--order {
		font-size: 1.5rem; 

		width: 100%;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 360px) {
	.profile__addition .btn__submit--order {
		padding: 15px 10px 13px 10px;
	}
	.phones__content,
	.requisites__content {
		padding: 15px 15px 15px 15px;
	}
	.requisites__list {
		font-size: 1.2rem;
	}
}

@media only screen and (max-width: 340px) {
	.info__content.block .info__label--checkbox {
		margin-left: 3px;
	}
}

/* responsive.scss (END) */

/* static.scss (START) */
body,
html {
	font-family: "Arial", "Roboto", sans-serif;

	min-width: 960px;
	max-width: 1920px;

	letter-spacing: 0; 

	color: #333;
	background: #fff;
}

body {
	display: table;
}

/* Webkit disable scrollbar */
/* Colors */
/* Extends */
.rouble {
	font-family: "Roboto", sans-serif;
}

.sidebar {
	position: fixed; 

	width: 260px;
	min-height: 100vh;
}

.content {
	display: table-cell;

	width: 100%;
	min-height: 100vh;
	padding: 0 0 50px 0; 
	padding-left: 260px;

	background: -webkit-gradient(linear, left top, left bottom, from(#c1c8ce), color-stop(13%, #e4e8eb));
	background: -webkit-linear-gradient(top, #c1c8ce 0%, #e4e8eb 13%);
	background:         linear-gradient(to bottom, #c1c8ce 0%, #e4e8eb 13%);
}

.btn {
	display: inline-block;
}
.btn__create {
	font-weight: bold;

	position: relative;

	padding: 17px 35px 17px 65px;

	color: #e4e4e4;
	border-top: 1px solid #3385c9;
	-webkit-border-radius: 5px;
	        border-radius: 5px;
	background: url("../img/icons/btn__normal.png");
	background-repeat: repeat-x;
	background-position: center;
}
.btn__create:before {
	font-size: 2.4rem;
	line-height: 1em;

	position: absolute;
	top: 13px;
	left: 17px;

	width: 25px;
	height: 25px;

	content: "+";
	-webkit-transition: .3s;
	        transition: .3s;
	letter-spacing: 0 !important; 

	color: #0b589e;
	-webkit-border-radius: 50%;
	        border-radius: 50%;
	background: rgba(255, 255, 255, .2);
}
.btn__create:hover {
	color: #fff;
	background: url("../img/icons/btn__hover.png");
	-webkit-box-shadow: 0 0 7px 3px rgba(8, 81, 142, .2);
	        box-shadow: 0 0 7px 3px rgba(8, 81, 142, .2);
}
.btn__create:hover:before {
	background: rgba(255, 255, 255, .4);
}
.btn__create:active {
	color: #e4e4e4; 
	background: url("../img/icons/btn__active.png");
}
.btn__archive,
.btn__more {
	font-family: Arial;
	font-size: 1.4rem;
	font-weight: bold;

	position: absolute;
	left: 50%;

	margin: auto;
	margin-top: -25px; 
	padding: 10px 60px 10px 75px;

	-webkit-transform: translate(-50%, 0);
	    -ms-transform: translate(-50%, 0);
	        transform: translate(-50%, 0);

	color: #044888;
	background: rgba(255, 255, 255, .5);
}
.btn__archive:before,
.btn__more:before {
	position: absolute;
	top: 50%;

	margin: auto;
	margin: auto;
	margin-left: -30px;

	content: url("../img/icons/icon__archive--small.png"); 
	-webkit-transform: translate(0, -50%);
	    -ms-transform: translate(0, -50%);
	        transform: translate(0, -50%);
}
.btn__archive:hover,
.btn__more:hover {
	background: #fff;
}
.btn__more:before {
	content: url("../img/icons/icon__arrow--bottom--grey.png");
}
.btn__tickets {
	font-family: Arial;
	font-size: 1.4rem;
	font-weight: bold;

	position: relative;

	margin-top: 15px; 
	padding: 10px 60px 10px 75px;

	color: #044888;
	background: rgba(255, 255, 255, .5);
}
.btn__tickets:before {
	position: absolute;
	top: 50%;

	margin: auto;
	margin: auto;
	margin-left: -30px;

	content: url("../img/icons/icon__archive--small.png"); 
	-webkit-transform: translate(0, -50%);
	    -ms-transform: translate(0, -50%);
	        transform: translate(0, -50%);
}
.btn__tickets:hover {
	background: #fff;
}
.btn__submit {
	font-family: Arial;
	font-size: 1.8rem;
	font-weight: bold;

	padding: 15px 40px 13px 40px; 

	color: #fefefe;
	background: url("../img/icons/btn__hover.png");
}
.btn__submit--order {
	background: url("../img/icons/btn__normal.png");
}
.btn__submit[disabled] {
	background: url("../img/icons/btn__normal--grey.png");
}
.btn__submit[disabled]:hover {
	background: url("../img/icons/btn__normal--grey.png");
}
.btn__submit:hover {
	color: #fff;
	background: url("../img/icons/btn__hover.png");
	-webkit-box-shadow: 0 0 7px 3px rgba(8, 81, 142, .2);
	        box-shadow: 0 0 7px 3px rgba(8, 81, 142, .2);
}
.btn__submit:hover:before {
	background: rgba(255, 255, 255, .4);
}
.btn__submit:active {
	color: #e4e4e4; 
	background: url("../img/icons/btn__active.png");
}
.btn__simple {
	font-family: Arial;
	font-size: 1.4rem;
	font-weight: bold;

	position: relative;

	margin-top: 15px;
	padding: 13px 95px 12px 95px;

	white-space: nowrap; 

	color: #044888;
	background: rgba(255, 255, 255, .5);
}
.btn__simple:hover {
	color: #044888; 
	background: #fff;
}
.btn__simple--archive:before {
	position: absolute;
	top: 50%;

	margin: auto;
	margin: auto;
	margin-left: -30px;

	content: url("../img/icons/icon__archive--small.png"); 
	-webkit-transform: translate(0, -50%);
	    -ms-transform: translate(0, -50%);
	        transform: translate(0, -50%);
}
.btn__simple--archive:hover {
	background: #fff;
}

/* Default Sections */
.container {
	max-width: 1350px;
	margin: 0;
}

section {
	font-size: 1.5rem;
}
section .section__header {
	position: relative; 

	padding: 60px 0 40px 25px;
}
section .section__action {
	position: absolute;
	top: 71px; 
	right: 41px;
}
section .section__action .action__item {
	display: inline-block;

	margin-left: 12px;
}
section .section__action .action__link {
	font-family: Arial;
	font-size: 1.4rem;
	font-weight: bold;

	position: relative;

	padding: 11px 20px 10px 45px;

	color: #044888;
	background: rgba(235, 238, 239, .8);
}
section .section__action .action__link:hover {
	background: #f5f6f7;
}
section .section__action .action__link--add:before {
	font-size: 2rem;
	line-height: 15px;

	position: absolute;
	top: 10px;
	left: 15px;

	-webkit-box-sizing: border-box;
	        box-sizing: border-box; 
	width: 17px;
	height: 17px;
	padding-top: 2px;
	padding-left: 2.5px;

	content: "+";
	-webkit-transition: .3s;
	        transition: .3s;

	color: #e8ebee;
	-webkit-border-radius: 50%;
	        border-radius: 50%;
	background: #aabeca;
}
section .section__action .action__link--back:before {
	position: absolute;
	top: 50%;

	margin: auto;
	margin: auto;
	margin-left: -25px;

	content: url("../img/icons/icon__arrow--prev--blue.png"); 
	-webkit-transform: translate(0, -50%);
	    -ms-transform: translate(0, -50%);
	        transform: translate(0, -50%);
}
section .section__action .action__link--forward {
	padding: 11px 35px 10px 20px;
}
section .section__action .action__link--forward:after {
	position: absolute;
	top: 50%;
	right: 12px;

	margin: auto;
	margin: auto;

	content: url("../img/icons/icon__arrow--next--blue.png"); 
	-webkit-transform: translate(0, -50%);
	    -ms-transform: translate(0, -50%);
	        transform: translate(0, -50%);
}
section .section__action .action__link--change {
	padding: 10px 50px 10px 20px;
}
section .section__action .action__link--change:after {
	position: absolute;
	top: 50%;
	right: 15px; 

	margin: auto;

	content: url("../img/icons/icon__change.png");
	-webkit-transform: translate(0, -50%);
	    -ms-transform: translate(0, -50%);
	        transform: translate(0, -50%);
}
section .section__title {
	font-family: Tahoma;
	font-weight: bold;

	width: 50%;
	margin: 0; 

	letter-spacing: -1px;

	color: #1d2028;
}
section .section__content {
	padding: 0 0 35px 25px;
}

.article {
	margin: 0 40px 22px 0;
	padding: 0 0 12px 0;

	background: #f7f9f9;
	-webkit-box-shadow: 0 0 7px 0 rgba(0, 0, 0, .1);
	        box-shadow: 0 0 7px 0 rgba(0, 0, 0, .1);
}
.article__content {
	font-family: Arial;
	font-size: 1.5rem;
	line-height: 2.4rem; 

	padding: 20px 24px;
}
.article__content a {
	font-weight: bold; 

	text-decoration: underline;
}

.block {
	margin: 0 40px 12px 0;

	background: #f7f9f9;
	-webkit-box-shadow: 0 0 7px 0 rgba(0, 0, 0, .1);
	        box-shadow: 0 0 7px 0 rgba(0, 0, 0, .1);
}
.block__title {
	font-family: Tahoma;
	font-size: 1.6rem;
	font-weight: bold;
	line-height: 1em;

	padding: 23px 24px;

	color: #000;
	-webkit-box-shadow: 0 5px 7px 0 rgba(0, 0, 0, .07);
	        box-shadow: 0 5px 7px 0 rgba(0, 0, 0, .07);
}
.block__content {
	padding: 20px 24px;
}

.list {
	margin: 0 40px 12px 0;
}
.list__title {
	font-family: Tahoma;
	font-size: 2.2rem;
	line-height: 2.4rem;

	padding: 23px 24px; 

	color: #000;
}

.navigation {
	position: relative; 

	background: #eff1f2;
}
.navigation__list {
	*zoom: 1;
}
.navigation__list:before,
.navigation__list:after {
	display: table; 

	content: "";
}
.navigation__list:after {
	clear: both;
}
.navigation__list .s1 {
	min-width: 160px;
}
.navigation__avatar {
	position: absolute;
	top: 50%;

	margin: auto;

	-webkit-transform: translate(0, -50%);
	    -ms-transform: translate(0, -50%);
	        transform: translate(0, -50%);

	-webkit-border-radius: 50%;
	        border-radius: 50%;
}
.navigation__item {
	padding: 15px 0 15px 0;
}
.navigation__item--support {
	padding-left: 25px;
}
.navigation__item--balance {
	max-width: 155px;

	-webkit-transition: .3s;
	        transition: .3s; 
	text-align: center;

	background: #06b;
}
.navigation__item--balance:hover {
	background: #0071cf;
}
.navigation__item--balance .navigation__link {
	font-size: 1.8rem; 

	color: #fff;
}
.navigation__item--name {
	position: relative;

	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	min-height: 50px; 
	padding-left: 17px;
}
.navigation__item--name .navigation__link {
	font-size: 1.4rem;
	font-weight: normal;
	font-style: italic;

	position: absolute;
	top: 50%;

	margin: auto;
	margin-right: 20px;

	-webkit-transform: translate(0, -50%);
	    -ms-transform: translate(0, -50%);
	        transform: translate(0, -50%); 

	color: #044888;
}
.navigation__item--exit {
	position: absolute;
	top: 0;
	right: 0;

	min-width: 40px;

	-webkit-transition: .3s;
	        transition: .3s; 
	text-align: center;

	background: #06b;
}
.navigation__item--exit--manager {
	background: #e63b3b;
}
.navigation__item--exit--manager:hover {
	background: #cd3333 !important;
}
.navigation__item--exit:hover {
	background: #0071cf;
}
.navigation__item--exit .navigation__icon {
	top: 3px; 

	margin-right: 0;
}
.navigation__icon {
	margin-right: 8px; 

	vertical-align: sub;
}
.navigation__link {
	font-size: 1.5rem; 
	font-weight: bold;
}
.navigation__link--manager {
	display: block; 

	margin-left: 55px !important;
}
.navigation__indicator {
	font-size: 1.1rem;
	font-weight: bold;
	line-height: 16px !important;

	position: relative;
	top: -12px;

	display: inline-block;

	width: 16px;
	height: 16px;

	-webkit-animation: shake .82s cubic-bezier(.36, .07, .19, .97) both infinite;
	        animation: shake .82s cubic-bezier(.36, .07, .19, .97) both infinite; 
	text-align: center;
	vertical-align: middle;

	color: #fff;
	-webkit-border-radius: 50%;
	        border-radius: 50%;
	background: #c72411;
}

.pagination {
	margin: 25px 0; 

	text-align: center;
}
.pagination__prev {
	display: inline-block;
}
.pagination__next {
	display: inline-block;
}
.pagination__list {
	display: inline-block;
}
.pagination__item {
	display: inline-block;

	margin: 0 3px; 

	background: #fafafb;
}
.pagination__item .pagination__link {
	font-family: Arial;
	font-size: 1.8rem; 

	color: #99a6b0;
}
.pagination__item .pagination__link:hover {
	color: #fff; 
	background: #06b;
}
.pagination__link {
	display: block; 

	padding: 11px 15px;
}
.pagination__link--disable {
	cursor: default; 

	color: #99a6b0 !important;
}
.pagination__link--active {
	color: #fff !important;
	background: #06b;
}

.back__link {
	font-weight: bold; 

	position: relative;

	display: inline-block;

	padding: 10px 70px;

	background: #fff;
}
.back__link:before {
	position: absolute;
	top: 50%;

	margin: auto;
	margin-left: -25px; 

	content: url("../img/icons/icon__arrow--prev--blue.png");
	-webkit-transform: translate(0, -50%);
	    -ms-transform: translate(0, -50%);
	        transform: translate(0, -50%);
}

.error {
	width: 100vw;
	height: 100vh;

	color: #fff; 
	background: #272b35;
}
.error .logotype {
	position: absolute;
	top: 50px;
	left: 35px;
}
.error__message {
	position: absolute;
	top: 50%;
	left: 50%;

	width: 500px; 
	margin: auto;

	-webkit-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
}
.error__num {
	font-family: Arial;
	font-size: 9rem;

	margin-bottom: 45px; 

	color: #2996f0;
}
.error__num--500 {
	color: #f13b3b;
}
.error__title {
	font-family: Tahoma;
	font-size: 3.6rem;
	font-weight: bold;

	margin-bottom: 35px;
}
.error__text {
	font-family: Arial;
	font-size: 1.8rem;
	line-height: 2.8rem;

	margin-bottom: 60px; 

	color: #cecfd0;
}
.error__back {
	font-family: Arial;
	font-size: 1.5rem; 
	font-weight: bold;

	padding: 15px 25px;

	color: #fff;
	background: #06b;
}
.error__back--500 {
	background: #f13b3b;
}
.error__back--500:hover {
	background: #f44e4e !important;
}
.error__back:hover {
	color: #dedede;
	background: #007ce4;
}

/* static.scss (END) */

/* techsup.scss (START) */
.techsup {
	margin: 0 40px 55px 0;
}
.techsup__title {
	margin-bottom: 5px; 

	color: #000;
}
.techsup__header {
	line-height: 1.8rem; 

	*zoom: 1;
}
.techsup__header:before,
.techsup__header:after {
	display: table; 

	content: "";
}
.techsup__header:after {
	clear: both;
}
.techsup__header .techsup__item--num,
.techsup__header .techsup__item--date,
.techsup__header .techsup__item--theme,
.techsup__header .techsup__item--name,
.techsup__header .techsup__item--status {
	color: #788288 !important;
}
.techsup__link {
	display: block;

	width: 100%;
}
.techsup__content {
	margin-bottom: 7px;

	-webkit-transition: .3s;
	        transition: .3s; 

	background: #fff;
	-webkit-box-shadow: 0 0 7px 0 rgba(0, 0, 0, .1);
	        box-shadow: 0 0 7px 0 rgba(0, 0, 0, .1);

	*zoom: 1;
}
.techsup__content:before,
.techsup__content:after {
	display: table; 

	content: "";
}
.techsup__content:after {
	clear: both;
}
.techsup__content .techsup__item--date {
	color: #8e9499;
}
.techsup__content:hover {
	-webkit-box-shadow: 0 0 7px 3px rgba(8, 81, 142, .2);
	        box-shadow: 0 0 7px 3px rgba(8, 81, 142, .2);
}
.techsup__item {
	float: left;

	padding: 20px 0 18px 0;
}
.techsup__item--num {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	width: 18%; 
	padding-left: 18px;

	color: #000;
}
.techsup__item--date {
	width: 12%;
}
.techsup__item--date,
.techsup__item--theme,
.techsup__item--name {
	color: #000;
}
.techsup__item--theme,
.techsup__item--name {
	position: relative;

	width: 25%; 
	min-height: 15px;
}
.techsup__item--theme .dfn,
.techsup__item--name .dfn {
	line-height: 1.4rem; 

	position: absolute;
	top: 50%;

	display: block;

	margin: auto;

	-webkit-transform: translate(0, -50%);
	    -ms-transform: translate(0, -50%);
	        transform: translate(0, -50%);
}
.techsup__item--status {
	width: 20%;
}
.techsup__item--status--n1 {
	font-size: 1.4rem; 
	font-weight: bold;

	color: #06b;
}
.techsup__item--status--n2 {
	font-size: 1.4rem; 
	font-weight: bold;

	color: #ec7516;
}
.techsup__item--status--n3 {
	font-size: 1.4rem; 
	font-weight: bold;

	color: #1db07e;
}

.claim.block {
	background: #fff;
}

.claim__content {
	position: relative; 

	padding: 30px 50px 25px 25px;
}

.claim__label {
	float: left;

	width: 150px;
	margin-top: 17px;
	margin-bottom: 17px; 

	color: #06b;
}

.claim__select:after {
	position: relative;
	top: 3px;
	right: 37px; 

	content: url("../img/icons/icon__arrow--bottom--blue.png");
}

.claim__form {
	*zoom: 1;
}
.claim__form:before,
.claim__form:after {
	display: table; 

	content: "";
}
.claim__form:after {
	clear: both;
}

.claim__message {
	width: 85% !important; 
	margin-bottom: 15px;
	padding-top: 17px;
}

.claim__item {
	margin-bottom: 12px;
}

.claim__file {
	font-family: Tahoma !important;
	font-size: 1.2rem !important;
}

.claim__uploadinfo {
	font-family: Arial;
	font-size: 1.4rem;
	font-style: italic;
	line-height: 1.3em;

	display: block;
	float: left; 

	padding-left: 20px;

	color: #889198;
}

.claim__submit {
	margin-top: -20px;
}

.claim__warning {
	margin-top: 20px;

	color: #000;
}
.claim__warning a {
	font-weight: bold;

	cursor: default;
}

.claim__addition {
	text-align: center;
}

/* techsup.scss (END) */

/* users.scss (START) */
.search {
	margin-bottom: 40px; 
	padding: 15px 30px;
}
.search__label {
	padding-right: 25px;

	color: #06b;
}
.search__field {
	width: 60.5% !important;
}
.search__submit {
	margin-left: 5px; 
	padding: 11px 20px 10px 20px;
}

.newusers {
	margin-bottom: 50px;
}
.newusers__title {
	font-family: Tahoma;

	margin-bottom: 25px;

	color: #000;
}
.newusers__title .blue {
	color: #06b;
}
.newusers__title .green {
	color: #1db07e;
}
.newusers__link {
	position: absolute;
	z-index: 1000; 

	display: block;

	width: 95%;
	min-height: 78px;
}
.newusers__content {
	margin-bottom: 12px;

	-webkit-transition: .3s;
	        transition: .3s; 

	background: #fff;
	-webkit-box-shadow: 0 0 7px 0 rgba(0, 0, 0, .1);
	        box-shadow: 0 0 7px 0 rgba(0, 0, 0, .1);

	*zoom: 1;
}
.newusers__content:before,
.newusers__content:after {
	display: table; 

	content: "";
}
.newusers__content:after {
	clear: both;
}
.newusers__content:hover {
	-webkit-box-shadow: 0 0 7px 3px rgba(8, 81, 142, .2);
	        box-shadow: 0 0 7px 3px rgba(8, 81, 142, .2);
}
.newusers__content--paid {
	opacity: .5;
}
.newusers__content--paid:hover {
	opacity: 1;
}
.newusers__item {
	font-size: 1.4rem;

	position: relative; 

	float: left;

	padding: 14px 0 14px 0;

	color: #000;
}
.newusers__item--warning {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	width: 2%;
	min-width: 30px; 
	max-width: 30px;
	min-height: 78px;

	border-left: 7px solid;
}
.newusers__item--warning--n1 {
	border-color: #1db07e;
}
.newusers__item--warning--n2 {
	border-color: #06b;
}
.newusers__item--photo {
	width: 10%;
	max-width: 70px;
}
.newusers__item--name {
	font-family: Arial;
	font-size: 1.5rem;
	line-height: 1em;

	width: 20%; 
	min-height: 50px;
}
.newusers__item--name span {
	position: absolute;
	top: 50%;

	margin: auto;

	-webkit-transform: translate(0, -50%);
	    -ms-transform: translate(0, -50%);
	        transform: translate(0, -50%);
}
.newusers__item--id {
	font-weight: bold; 

	width: 18%;
	min-height: 50px;

	text-align: center;
}
.newusers__item--id span {
	position: absolute;
	top: 50%;

	margin: auto;

	-webkit-transform: translate(0, -50%);
	    -ms-transform: translate(0, -50%);
	        transform: translate(0, -50%);
}
.newusers__item--phone {
	width: 24%; 
	min-height: 50px;
}
.newusers__item--phone span {
	position: absolute;
	top: 50%;

	margin: auto;

	-webkit-transform: translate(0, -50%);
	    -ms-transform: translate(0, -50%);
	        transform: translate(0, -50%);
}
.newusers__item--date {
	width: 23%;
	min-height: 50px;

	color: #8e9499;
}
.newusers__item--date span {
	position: absolute;
	top: 50%;

	margin: auto;

	-webkit-transform: translate(0, -50%);
	    -ms-transform: translate(0, -50%);
	        transform: translate(0, -50%);
}

/* users.scss (END) */
