@charset "UTF-8";
/**
 * Featherlight – ultra slim jQuery lightbox
 * Version 1.3.4 - http://noelboss.github.io/featherlight/
 *
 * Copyright 2015, Noël Raoul Bossart (http://www.noelboss.com)
 * MIT Licensed.
**/
@media all {
	.featherlight {
		/* dimensions: spanning the background from edge to edge */
		position: fixed;
		z-index: 2147483647;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;

		display: none;
		/* styling */

		cursor: pointer;
		/* z-index needs to be >= elements on the site. */
		/* position: centering content */
		text-align: center;
		/* insures that the ::before pseudo element doesn't force wrap with fixed width content; */
		white-space: nowrap;

		background: #333;
		/* IE8 "hack" for nested featherlights */
		background: transparent;
	}
	/* support for nested featherlights. Does not work in IE8 (use JS to fix) */
	.featherlight:last-of-type {
		background: rgba(7, 50, 95, .8);
	}
	.featherlight:before {
		display: inline-block;

		height: 100%;
		margin-right: -.25em; 
		/* position: trick to center content vertically */

		content: "";
		vertical-align: middle;
	}
	.featherlight .featherlight-content {
		/* make content container for positioned elements (close button) */
		position: relative;

		display: inline-block;
		/* dimensions: handling small or empty content */

		min-width: 270px;
		max-height: 95%;
		margin-right: 5%;
		/* dimensions: handling large content */
		margin-left: 5%;
		/* dimensions: cut off images */
		padding: 15px 15px 0;

		cursor: auto;
		/* position: centering vertical and horizontal */
		text-align: left;
		vertical-align: middle;
		/* reset white-space wrapping */
		white-space: normal; 

		border-bottom: 25px solid transparent;
		-webkit-border-radius: 4px;
		        border-radius: 4px;
		/* styling */
		background: #fff;
	}
	/* contains the content */
	.featherlight .featherlight-inner {
		/* make sure its visible */
		display: block !important;
	}
	.featherlight .featherlight-close-icon {
		font-family: Arial, sans-serif;
		font-size: 0;
		/* dimensions: 25px x 25px */
		line-height: 25px;
		/* position: centering vertical and horizontal */

		position: absolute;
		z-index: 9999;
		top: 2px;
		right: -50px;

		width: 25px;
		width: 36px;
		height: 36px;
		/* styling */

		cursor: pointer;
		-webkit-transition: .3s;
		        transition: .3s; 
		text-align: center;

		opacity: .7;
		color: #000;
		background: #fff;
		/* Set the background in case it overlaps the content */
		background: rgba(255, 255, 255, .3);
		background: url("../img/icon__close.png");
		background-repeat: no-repeat;
	}
	.featherlight .featherlight-close-icon:hover {
		opacity: 1;
	}
	.featherlight .featherlight-image {
		/* styling */
		width: 100%;
	}
	.featherlight-iframe .featherlight-content {
		padding: 0; 
		/* removed the border for image croping since iframe is edge to edge */

		border-bottom: 0;
	}
	.featherlight iframe {
		/* styling */
		border: none;
	}
}

/* handling phones and small screens */
@media only screen and (max-width: 1024px) {
	.featherlight .featherlight-content {
		max-height: 98%;
		margin-right: 10px;
		/* dimensions: maximize lightbox with for small screens */
		margin-left: 10px;
		padding: 10px 10px 0;

		border-bottom: 10px solid transparent;
	}
}
