/* index.scss (START) */

@import '../config';

.article {
	background: #fff !important;
	margin-right: 20px !important;
}

.base {

	.question {

		&__item {
			background: #f7f8f9;
			margin: 0 40px $b-gut 0;
			box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.1);
			transition: $t;

			&:hover {
				box-shadow: 0px 0px 7px 3px rgba(8,81,142,0.2);
			}
		}

		&__link {
			padding: 15px 50px 15px 20px;
			font-family: Tahoma;
			font-size: 1.8rem;
			line-height: 2.6rem;
			color: $blue-b;
			position: relative;
			display: block;

			&:after {
				@include absolute-center-y;
				content: url('../img/icons/icon__arrow--next--blue.png');
				color: $blue-b;
				right: 20px;
				margin-top: 2px;
			}
		}
	}

	.about-cabinet {

		&__item {
			margin-bottom: 20px;

			&:last-child {
				margin-bottom: 0;
			}
		}

		&__link {
			font-family: Arial;
			font-size: 1.5rem;
		}

	}

	.download {

		&__item {
			background: #eff1f3;
			margin-bottom: $b-gut;
			padding: 20px 24px;

			&:before {
				content: "";
				position: absolute;
			}

			&--powerpoint {
				&:before {
					content: url(../img/icons/icon__powerpoint.png);
				}
			}

			&--exel {
				&:before {
					content: url(../img/icons/icon__exel.png);
				}
			}
		}

		&__link {
			overflow: hidden;
			font-family: Tahoma;
			font-size: 1.5rem;
			line-height: 1.8rem;
			margin-left: 45px;
			margin-bottom: $b-gut;
			display: block;
		}

		&__info {
			margin-left: 45px;
			color: $disable;
		}
	}
}

/* index.scss (END) */