/* index.scss (START) */

@import '../config';

.base {

	.question {

		&__item {
			background: #f7f8f9;
			margin: 0 40px $b-gut 0;
			box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.1);
			transition: $t;

			&:hover {
				box-shadow: 0px 0px 7px 3px rgba(8,81,142,0.2);
			}
		}

		&__link {
			padding: 15px 50px 15px 20px;
			font-family: Tahoma;
			font-size: 1.8rem;
			line-height: 2.6rem;
			color: $blue-b;
			display: block;

			&:after {
				@include absolute-center-y;
				content: url('../img/icons/icon__arrow--next--blue.png');
				color: $blue-b;
				right: 20px;
				margin-top: 2px;
			}

			&:hover {
				&:after {
					animation: shaked 0.5s;
				}
			}
		}
	}

	.about-cabinet {

		&__item {
			margin-bottom: 20px;

			&:last-child {
				margin-bottom: 0;
			}
		}

		&__link {
			font-family: Arial;
			font-size: 1.5rem;
		}

	}

	.download {

		&__item {
			background: #eff1f3;
			margin-bottom: $b-gut;
			padding: 20px 24px;

			&:before {
				content: "";
				position: absolute;
			}

			&--powerpoint {
				&:before {
					content: url(../img/icons/icon__powerpoint.png);
				}
			}

			&--exel {
				&:before {
					content: url(../img/icons/icon__exel.png);
				}
			}
		}

		&__link {
			overflow: hidden;
			font-family: Tahoma;
			font-size: 1.5rem;
			line-height: 1.8rem;
			margin-left: 45px;
			margin-bottom: $b-gut;
			display: block;
		}

		&__info {
			margin-left: 45px;
			line-height: 1.3em;
			color: $disable;
		}
	}
}

.moderate {
	// padding-top: 50px !important;

}

.warning {
	height: 50px;
	text-align: center;
	background: #db4747;
	color: #fff;
	z-index: 1000;
	width: 100%;
	position: relative;

	&__message {
		line-height: 52px;

		&:before {
			content: url('../img/icon__warning.png');
			margin-right: 15px;
			position: relative;
			bottom: -8px
		}
	}

	.exit {
		z-index: 1000;
		right: 0;
		@include absolute-center-y;
		color: #fff;
		border: 1px solid #fff;
		border-radius: 3px;
		padding: 8px 15px 7px 15px;
		margin-right: 10px;

		&:hover {
			background: #fff;
			color: #db4747;
		}
	}

}

#checkbox__call {
	display: none;
}

.normal {
	font-style: normal;
	color: #7a7a7a;
}
/* index.scss (END) */