/* empty.scss (START) */

@import '../config';

.dashboard {

	&.finance {
		margin-top: -50px;

		.finance__title {
			margin-bottom: 20px;
		}
	}

	&.base {

		.base__title {
			margin-bottom: 20px;
		}

	}

}

.finance {

	&-b {

		&.block {
			background: #fff;
		}

		display: inline-block;
		padding: 25px 50px 25px 20px;
		min-width: 270px;
		position: relative;
		margin-right: 0 !important;

		&__title {
			font-size: 1.6rem;
			padding-bottom: 15px;
		}

		&__balance {
			font-family: Arial;
			font-size: 3.7rem;
			line-height: 1em;
			font-weight: bold;
			margin-bottom: 15px;
			color: #000;
		}

		&__withdraw {
			font-size: 1.6rem;
			font-weight: bold;

			u {
				text-decoration: none;
				border-bottom: 1px dotted;
			}

			&:before {
				content: url('../img/icons/icon__card.png');
				position: relative;
				top: 9px;
				margin-right: 15px;
			}
		}

		&__addition {
			position: absolute;
			background: $blue;
			font-size: 1.5rem;
			height: 100%;
			width: 60px;
			top: 0;
			right: 0;

			&:hover {
				background: #0075d6;
			}

			img {
				@include absolute-center-xy;
			}
		}

		&__info {
			color: #788288;
			line-height: 2.2rem;
			font-style: italic;
			padding-left: 15px;
			max-width: 200px;

			a {
				font-weight: bold;
				font-style: normal;
				margin-top: 10px;
				display: block;
			}
		}
	}

}

/* empty.scss (END) */