/* empty.scss (START) */

@import '../config';

.featherlight {
	.payout {
		display:block;
	}
}

.payout {
	padding: 10px 20px 10px 20px;
	display: none;

	.requisites {

		&__title {
			font-size: 28px;
			font-weight: bold;
			color: #004488;
			letter-spacing: -.5px;
			margin-bottom: 25px;
		}
		
		&__list {
			margin-bottom: 10px;
		}

		&__item {
			font-size: 1.5rem;
   			margin-bottom: 15px;
		}

		&__link {
			font-size: 1.5rem;
			line-height: 1em;
			font-weight: bold;
			text-decoration: none;
    		border-bottom: 1px dotted;
    		margin-top: 15px;
    		display: inline-block;
    		color: #0066bb;
		}

		&__inputs {
			margin-top: 35px;
		}

		&__label {
			font-size: 1.5rem;
    		min-width: 75px;
    		display: inline-block;
    		color: #788288;
		}

		&__value {
			color: #000;
		}

		&__field {
			display: inline-block;
			font-size: 1.8rem;
			font-weight: bold;
			color: #000;
			max-width: 180px;
		}

		&__rouble {
			display: inline-block;
			font-size: 1.5rem;
			line-height: 1em;
			vertical-align: middle;
			margin-left: 10px;
		}

		&__price {
			position: relative;
			display: inline-block;
			margin-left: 15px;
			margin-top: 2px;
		}

		&__addition {
			margin-top: 35px;
		}
	}

	.block {
		background: #fff;
		box-shadow: none;
		margin: 0;
		padding: 0;
		min-width: 460px;
	}
}

/* empty.scss (END) */