/* managers.scss (START) */

@import '../config';

.profile__item--photo--manager {
	min-width: 125px;
	width: 10%;
}

.profile__item--profile--manager {
	width: 78%;
}

.profile__order--profile--manager {
	padding-bottom: 25px;
}

/* managers.scss (END) */