/* order.scss (START) */

@import '../config';

.section__company-name {
	font-size: 2.4rem;
	line-height: 2.2rem;
	color: #1d2028;
	margin-top: 23px;
}

.order-list {
	margin: 0 40px 55px 0;

	&__header {
		@include clearfix;
		margin-bottom: 15px;
		line-height: 1.8rem;

		.order-list__item {
			padding: 7px 0 5px 0;
		}

		.order-list__sort {
			border-bottom: 1px dotted;
			border-bottom: 0;
			// color: #788288 !important;
			cursor: default;

			&:hover {
				color: #000 !important;
				// color: #000 !important;
			}
		}

		.order-list__item--warning {
			border-left: 0;
		}

		.order-list__item--reward-status {
			font-weight: normal;
		}
	}

	&__link {
		display: block;
		width: 100%;
	}

	&__content {
		@include clearfix;
		background: #fff;
		box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.1);
		margin-bottom: 7px;
		transition: $t;

		&:hover {
			box-shadow: 0px 0px 7px 3px rgba(8,81,142,0.2);
		}

		&--paid {
			opacity: 0.5;

			&:hover {
				opacity: 1;
			}
		}
	}

	&__date {
		position: relative;
		text-align: center;
		margin-bottom: 20px;
		min-width: 80px;

		&:before {
			position: absolute;
			z-index: 0;
			top: 5px;
			right: 0;
			left: 0;
			width: 100%;
			height: 2px;
			content: "";
			background: #d6dbdf;
		}

		.order-list__date--m-y {
			position: relative;
			z-index: 1;
			display: inline-block;
			padding: 0 25px;
			background: #e4e8eb;
			color: $blue-b;
			font-weight: bold;
		}
	}

	&__item {
		float: left;
		padding: 20px 0 18px 0;
		font-size: 1.4rem;
		color: #000;

		.order-list__sort {
			color: #788288;

			&:hover {
				color: $red;
			}
		}

		.none {
			color: #c1c8ce;
		}

		&--warning {
			border-left: 7px solid;
			box-sizing: border-box;
			width: 2%;

			&--n1 {
				border-color: $blue !important;
			}

			&--n2 {
				border-color: $orange !important;
			}

			&--n3 {
				border-color: $shadow !important;
			}

			&--n4 {
				border-color: $orange-d !important;
			}
		}

		&--num {
			width: 8%;
		}

		&--date {
			width: 10%;
			color: #788288;
		}

		&--company {
			width: 18%;
		}

		&--status {
			width: 17%;
			font-size: 1.4rem;
			position: relative;
			   min-height: 15px;

			.status__dfn {
				@include absolute-center-y;
				display: block;
				line-height: 1.4rem;
			}

			&--n1 {
				color: $blue !important;
			}

			&--n2 {
				color: $orange !important;
			}

			&--n3 {
				color: $green !important;
			}

			&--n4 {
				color: $shadow !important;
			}

			&--n5 {
				color: $orange-d !important;
			}
		}

		&--sum {
			width: 12%;
		}

		&--reward {
			width: 12%;
		}

		&--reward-status {
			width: 20%;
			color: $shadow;

			&--n1 {
				color: $green;
			}
		}
	}

	&__sort {
		line-height: 0;
	}
}


.order {
	margin: 0 40px $t-gut 0;

	&__header {
		@include clearfix;
		margin-bottom: 15px;
		line-height: 1.8rem;

		.order__item {
			padding: 7px 0 5px 0;
		}

		.order__sort {
			border-bottom: 1px dotted;
			color: #788288;
		}

		.order__item--warning {
			border-left: 0;
		}

		.order__item--reward-status {
			font-weight: normal;
		}
	}

	&__content {
		@include clearfix;
		background: #fff;
		box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.1);
		margin-bottom: 7px;
		transition: $t;
		cursor: default;

		&:hover {
			box-shadow: 0px 0px 7px 3px rgba(8,81,142,0.2);
		}
	}

	&__list {
		padding-bottom: 2px;
	}

	&__item {
		float: left;
		padding: 18px 0 18px 0;
		font-size: 1.4rem;
		color: #000;

		&--warning {
			width: 2%;
			border-left: 7px solid;
			box-sizing: border-box;

			&--n1 {
				border-color: $blue !important;
			}

			&--n2 {
				border-color: $orange !important;
			}

			&--n3 {
				border-color: $shadow !important;
			}
		}

		&--date {
			width: 19%;
			color: #788288;
			min-width: 80px;
		}

		&--status {
			width: 19%;
			font-size: 1.4rem;

			&--n1 {
				color: $blue !important;
			}

			&--n2 {
				color: $orange !important;
			}

			&--n3 {
				color: $green !important;
			}

			&--n4 {
				color: $shadow !important;
			}

		}

		&--sum {
			width: 20%;
		}

		&--reward {
			width: 20%;
		}

		&--reward-status {
			width: 20%;
			color: $shadow;
			font-weight: bold;
		}
	}

	&__cycle {
		background: $blue;
		color: #fff;
		padding: 14px 28px 12px 28px;
		display: inline-block;

		&:hover {
			color: #fff;
		}

		.bigger {
			font-size: 1.6rem;
			font-weight: bold;
			margin-left: 10px;
		}
	}
}

.comments {

	&__title {
		color: #000;
		margin-bottom: 23px;
	}

	.comment {
		width: 50%;
		padding: 25px 23px;

		&__header {
			position: relative;
			margin-bottom: 20px;
		}

		&__content {
			color: #000;
			line-height: 2.2rem;
		}

		&__author {
			color: $blue;
			display: inline-block;

			.name {
				font-weight: bold;
			}

			.prof {
				font-style: italic;
			}
		}

		&__avatar {
			display: inline-block;
			margin-top: -14px;
			margin-left: 10px;

			.avatar__photo {
				border-radius: 50%;
			}
		}

		&__date {
			position: absolute;
			top: -7px;
			right: 0;
			font-style: italic;
			color: $disable;

			&:before {
				content: url("../img/icons/icon__date--small.png");
				position: relative;
				top: 2px;
				right: 5px;
			}
		}

	}

}

.complete {
	padding: 25px 50px 25px 25px;

	&__content {
		@include clearfix;
		margin-bottom: 25px;
	}

	&__icon {
		float: left;
		margin-right: 20px;
	}

	&__title {
		@include th-t18;
		margin-top: 7px;
	}

	&__info {
		font-family: Arial;
		font-size: 1.8rem;
		line-height: 2.4rem;
		color: #858d96;
		width: 75%;
	}
}

.data {
	margin-bottom: 35px;

	&__title {
		margin-bottom: 25px;
		color: #000;
	}

	&__content {
		padding: 30px 50px 25px 25px;
		position: relative;
		line-height: 1em;

		&.block {
			background: #fff;
		}
	}

	&__item {
		margin-bottom: 20px;
		@include clearfix;

		// &:nth-child(1) {

		// 	&:after {
		// 		content: "ФИО полностью";
		// 		font-style: italic;
		// 		color: #889198;
		// 		margin-left: 40px;
		// 		display: inline-block;
		// 	}

		// }
	}

	&__label {
		margin-top: 6px;
		margin-bottom: 12px;
		// width: 125px;
		width: 15%;
		float: left;
		color: #0066bb;
	}

	&__field {
		// width: 100% !important;
		// max-width: 475px;
		// display: inline-block;
		width: 85%  !important;
		float: left;
	}

	&__file {
		display: none;
	}

	&__filelabel {
		margin-left: 40px;
		color: $blue;
		font-weight: bold;
		font-size: 1.4rem;
		line-height: 1.8rem;
		display: inline-block;
		position: relative;
		top: 7px;
		transition: 0.3s;

		&:hover {
			color: $red;
		}

		u {
		 	text-decoration: none;
		 	border-bottom: 1px dotted;
		}
	}

}

.info {
	margin-bottom: 35px;

	&__content {
		&.block {
			background: #fff;
		}
	}

	&__item {
		margin-bottom: 20px;
		@include clearfix;

		&--textarea {
			margin-bottom: 5px;
		}

		&:nth-child(2) {

			// &:after {
			// 	content: "Укажите через запятую";
			// 	font-style: italic;
			// 	color: #889198;
			// 	margin-left: 40px;
			// 	display: inline-block;
			// }

		}
	}

	&__field {
		// width: 100% !important;
		// max-width: 475px;
		// display: inline-block;
		width: 85% !important;
		float: left;
	}

	&__label {
		margin-top: 15px;
		margin-bottom: 12px;
		width: 15%;
		float: left;
		color: #0066bb;
		line-height: 1.8rem;

		&--radio {
			margin-top: 12px;
			margin-right: 15px;
			font-size: 1.6rem;
			color: #000;
		}

		&--checkbox {
			font-size: 1.6rem;
			color: #000;
			padding-left: 40px !important;
		}
	}


	&__title {
		margin-bottom: 25px;
		color: #000;
	}

	&__content {
		padding: 30px 50px 25px 25px;
		position: relative;
		line-height: 1em;
	}
}

.goods {

	margin-bottom: 35px;

	&__title {
		margin-bottom: 25px;
		color: #000;
	}

	&__content {
		padding: 30px 50px 25px 25px;
		position: relative;
		line-height: 1em;

		&.block {
			background: #fff;
		}
	}

	&__item {
		margin-bottom: 20px;
		@include clearfix;

		&--checkbox {
			margin-bottom: 5px;
		}

		&--textarea {
			margin-top: 25px;
		}
	}

	&__label {
		margin-top: 15px;
		margin-bottom: 12px;
		width: 15%;
		float: left;
		color: #0066bb;

		&--checkbox {
			font-size: 1.6rem;
			color: #000;
			padding-left: 40px !important;
		}
	}

	&__field {
		// width: 100% !important;
		// max-width: 475px;
		// display: inline-block;
		width: 85% !important;
		float: left;
	}

	&__select {

		&:after {
		    position: absolute;
    		top: 45px;
    		margin-left: -30px;
		    content: url("../img/icons/icon__arrow--bottom--blue.png");
		}
	}

	&__blocks {
		margin-top: 40px;
	}

	&-b {
		margin-bottom: 40px;

		&__label {
			margin-bottom: 12px;
			max-width: 175px;
			color: #0066bb;
			display: block;
			line-height: 1.8rem;
		}
	}
}

/* order.scss (END) */