/* empty.scss (START) */

@import '../config';

.profile {

	.block {
		background: #fff !important;

	}

	&__content {
		padding: 30px 0px 25px 25px;
		position: relative;
	}

	&__photo {
		margin-right: 25px;

		&:before {
			content: "";
			height: 9px;
			background: $blue;
			width: 125px;
			position: absolute;
			top: 0;
			left: 0;
		}

		&--manager {

			&:before {
				content: "";
				height: 9px;
				background: #1db07e;
				width: 125px;
				position: absolute;
				top: 0;
				left: 0;
			}
		}
	}

	&__item {
		display: inline-block;
		font-family: Arial;
	}

	&__name {
		font-size: 2.2rem;
		line-height: 3rem;
		margin-bottom: $b-gut;

		&--phisical {

			&:after {
				content: "Физ. лицо";
				white-space: nowrap;
				background: $blue;
				color: #fff;
				margin-left: 25px;
				font-size: 1.4rem;
				line-height: 1.8rem;
				font-weight: bold;
				padding: 8px 12px;
				position: relative;
				top: -2px;
			}
		}

		&--legal {

			&:after {
				content: "Юр. лицо";
				white-space: nowrap;
				background: #1db07e;
				color: #fff;
				margin-left: 25px;
				font-size: 1.4rem;
				line-height: 1.8rem;
				font-weight: bold;
				padding: 8px 12px;
				position: relative;
				top: -2px;
			}
		}
	}

	&__order {
		font-size: 1.5rem;
		line-height: 1.8rem;
		color: $blue;
	}

	&__other {
		position: absolute;
		bottom: 25px;

		&--manager {
			position: static;
			margin-top: 15px;
		}
	}

	&__disc {
		color: $disable;
		width: 100px;
		display: inline-block;
		background: url('../img/icons/dotted.png');
		background-repeat: repeat-x;
		background-position: bottom;

		&--manager {
			width: 200px;
		}

		em {
			font-style: normal;
			background: #fff;
		}
	}

	&__value {
		display: inline-block;

		&--manager {
			line-height: 2em;
		}
	}

	&__addition {
		position: relative;
		top: -20px;
		margin-left: 25px;
		color: #788288;
	}

	&__submit {
		&--manager {
			margin-right: 25px;
		}
	}

	&__delete {
		display: inline-block;
		font-family: Arial;
		font-size: 1.5rem;
		background: transparent;
		color: #f13b3b;
		margin-left: 25px;
		border: 0;
		box-shadow: none;

		u {
			border-bottom: 1px dotted #f13b3b;
			text-decoration: none;
			&:hover {
				border: 0;
			}
		}

		&:after {
			content: "✖";
			color: #c0c5c9;
			display: inline-block;
			margin-left: 10px;
			position: relative;	
			top: 2px;
		}
	}
}

.requisites, .phones {

	&__title {
		font-family: Tahoma;
		color: #000;
		margin-bottom: 20px;
	}

	&__content {
		padding: 30px 50px 25px 25px;
	}

	&__disc {
		color: $disable;
		width: 50%;
		display: inline-block;
		background: url('../img/icons/dotted.png');
		background-repeat: repeat-x;
		background-position: bottom;

		em {
			font-style: normal;
			background: #fff;
			line-height: 1em;
		}
	}

	&__value {
		width: 50%;
		display: inline-block;
		line-height: 1em;
	}

	&__item {
		margin-bottom: 20px;

		&--noitems {
			text-align: center;
			color: #788288;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}
}


/* empty.scss (END) */