/* responsive.scss (START) */

/* Large Devices, Wide Screens */

@media only screen and (max-width : 1920px) {
 
}

@media only screen and (max-width : 1600px) {

  

}

@media only screen and (max-width : 1500px) {
 
}

@media only screen and (max-width : 1450px) {

}

@media only screen and (max-width : 1380px) {

	.claim__form {
		.claim__select {
			.claim__field {
				width: 100% !important;
			}
		}

		.claim__item {
			.claim__field {
				width: 100% !important;
				max-width: 400px;
			}
		}

		.claim__message {
			width: 100% !important;
		}

		.claim__item {

			&:last-child {
				label {
					display: none;
				}
			}

			&:nth-child(4) {
				label {
					display: none;
				}
			}

		}
	}

}

@media only screen and (max-width : 1125px) {
	.warning {
		text-align: left;
		&__message {
			padding-left: 25px;
		}
	}
}

/* Medium Devices, Desktops */

@media only screen and (max-width : 1000px) {

	// Sidebar
	textarea {
		line-height: 1.1em;
	}
	body,
	html {
		min-width: 320px !important;
	}

	.sidebar {
	    width: 65px !important;
	}

	.content {
	    padding-left: 65px !important;
	}

	.manager,
	.support,
	.logotype__image {
		display: none;
	}

	.menu__link {
		font-size: 0;
		padding: 20px 0 30px 0 !important;
		background-position: 15px 7px !important;
	}

	.btn__create {
		font-size: 0;
		padding: 32px 35px 17px 15px !important;

		&:before {
			top: 12px !important;
    		left: 13px !important;
		}
	}

	.navigation {
		.s4 {
			width: 8.33333333% !important;
			min-width: 85px;
		}
		.s2 {
			width: 16.66666667% !important;
		}
	}

	.navigation__item--support {
		.navigation__link {
			font-size: 0 !important;
		}
	}

	// Header

	.section__header {
		padding: 30px 0 80px 25px  !important;

		.section__title {
			width: 100% !important;
		}
		.section__action {
			position: relative;
			top: 37px;
    		right: 12px;
		}
	}

	// Content

	.block {
		margin-right: 20px !important;
	}

	.data__field {
    	width: 100% !important;
    	max-width: 100% !important;
	}

	.data__label--empty {
		display: none;
	}

	.claim__uploadinfo {
		padding-left: 0 !important;
	}

	.data__content {
   		padding: 30px 25px 25px 25px !important;
	}

	.info__label {
		min-width: 100px;
	}

	// Dashboard

	.order-list {
		margin: 0 25px 55px 0;
	}

	.order-list__item--reward,
	.order-list__item--reward-status, {
		display: none;
	}

	.order-list__header {
		.order-list__item--status {
			text-align: center;
		}
	}

	.order-list__item--num,
	.order-list__item--date,
	.order-list__item--company,
	.order-list__item--sum,
	.order-list__item--status {
		text-align: center;
		font-size: 1.3rem;
	}

	.order-list__item--num {
		min-width: 50px;
	}

	.order-list__item--date {
		min-width: 75px;
	}

	.order-list__item--company {
    	min-width: 125px;
	}

	.order-list__item--sum {
		min-width: 80px;
		white-space: nowrap;
	}

	.order-list__item--status {
		min-width: 73px;
		text-align: left;
		padding-left: 15px;
	}

	.finance-b__info {
		display: none;
	}
	.order-list__item--company {
    	width: 28% !important;
	}

	.order-list__item--date {
    	width: 13%!important;
	}

	.order-list__item--sum {
   	 	width: 21% !important;
	}

	.order-list__item--num {
		width: 10%;
	}

	.dashboard {
		&.finance {
			.finance-b {
				&:last-child {
					display: none;
				}
			}
		}
	}

	.base {

		.s9, .s3 {
			width: 100%;
		}

		.question__item {
    		margin: 0 25px 12px 0;
    	}

	}

	.btn__simple {
		margin-bottom: 25px;
	}

	// Pagination

	.pagination {
	    padding-right: 25px;
	}

	.list {
    	margin: 0px 20px 12px 0 !important;
	}

	// Profile

	.base.profile {

		.s7, .s5 {
			width: 100%;
		}

		.profile__content {
   			padding: 30px 0 25px 0;
		}

		.profile__name--phisical:after {
			position: absolute;
			top: 0;
			right: 0;
		}

		.profile__other {
			position: static;
			line-height: 1em;
		}

		.profile__order{
			margin-bottom: 10px;
		}

		.name__image {
			display:none;
		}

		.profile__item.profile__item--photo--manager {
			width: 0 !important;
			min-width: 0 !important;
			padding-left: 25px;
		}

	}

	// Article

	.back {
		margin-bottom: 20px;
	}

	// Error

	.error__message {
		width: auto !important;
	}

	.error__title {
		line-height: 1em;
	}

	.error__back {
		white-space: nowrap;
	}

	.back__link {
		display: block !important;
		text-align: center;
		margin-right: 20px;
	}

	// Finance
	.finance__header {
		padding-bottom: 35px !important;
	}

	.info__field {
		width: 100% !important;
		max-width: inherit !important;
	}

	.info__content.block {

		padding: 30px 25px 25px 25px !important;

		.claim__message {
	    	width: 100% !important;
			max-width: inherit !important;
		}

		.info__label {
			float: none;
			display: block;
			margin-bottom: 10px;
		}

		.info__radio {
			display: block;
		}

		.info__label--radio {
			margin-left: 4px;
			padding-left: 41px;
		}
	}

	.goods {

		.goods__label {
			float: none;
			display: block;
		}
		.goods__field {
    		width: 100% !important;
		}
		.goods__select:after {
    		top: 100px;
    	}

		.s3 {
    		width: 33.33333333%;
		}

		.goods__content {
    		padding: 30px 25px 25px 25px !important;
		}

	}

	.claim__warning {
		width: 80%;
		margin: 0 auto;
		line-height: 1em;
	}

	.profile__name--legal:after {
		position: absolute;
   		right: 0;
   		top: 0;
	}

	.newusers {
		.name__image {
			display: block !important;
		}
	}

	.managers__title {
		padding-bottom: 30px !important;
	}

	.btn__more {
	 	white-space: nowrap;
	}

	.comments .comment {
    	width: auto !important;
	}

	.order {
    	margin: 0 20px 22px 0 !important;
	}

	.claim__file {
		width: 100%;
	}

}


/* Small Devices, Tablets */

@media only screen and (max-width : 775px) {

	.search.block {

		.search__label {
			margin-top: 5px;
			margin-bottom: 20px;
			display: block;
			text-align: center;
		}

		.search__field {
			width: 100% !important;
			margin-bottom: 17px;
		}

		.search__submit {
			margin-left: 0;
			width: 100%;
		}
	}

	.newusers__item--photo {
		display: none;
	}

	.goods {

		.s3 {
			width: 50%;
		}
	}

	.newusers__list {
		position: relative;
	}

	.newusers__item--name {
		width: 95% !important;
		position: absolute !important;
		top: -7px;
		left: 25px;
	}

	.newusers__item--id {
		display: none;
	}

    .newusers__item--warning {
		min-width: 25px !important;
		max-width: 25px !important;
    }

	.newusers__item--phone,
	.newusers__item--date  {
		margin-top: 15px;
		width: 44% !important;

		span {
    		top: 64% !important;
		}
	}

	.newusers__item {
		padding-bottom: 0 !important;
	}

	.order__item {
		text-align: center;
    	font-size: 1.3rem;
	}

	.techsup {
		margin: 0 25px 55px 0 !important;
		font-size: 1.2rem !important;
	}
	.techsup__item--theme .dfn,
	.techsup__item--name .dfn {
    	padding-right: 10px;
	}

	.warning {
		.exit {
			font-size: 0;
			&:before {
				content: '✕';
				font-size: 1.4rem;
				line-height: 1em;
			}
		}
	}

}

@media only screen and (max-width : 620px) {

	.goods {
		.s3 {
			width: 50%;
		}
	}

	.profile__addition span {
		display: none;
	}

	.profile__delete {
		display: block;
		margin-top: 18px;
		margin-left: 3px;
	}

	section .section__action .action__link--change:after {
    	right: 7px  !important;
	}

    .claim__select:after {
    	position: absolute !important;
    	top: 88px !important;
    	right: 83px !important;
    	display: none;
	}

	.techsup__header {
		display: none;
	}

	.techsup__title {
		margin-bottom: 25px !important;
	}

	.techsup__item--num,
	.techsup__item--date,
	.techsup__item--theme,
	.techsup__item--status,
	.techsup__item--theme,
	.techsup__item--name {
		width: 100% !important;
		text-align: center;
		padding-left: 0 !important;
		padding-right: 0 !important;
		border-bottom: 1px dotted #ccc;
		transform: translate(0, 0) !important;
	}

	.techsup__item--theme .dfn,
	.techsup__item--name .dfn {
		position: static !important;
		text-align: center;
		padding-left: 0 !important;
		padding-right: 0 !important;
		transform: translate(0, 0) !important;
	}
}


@media only screen and (max-width : 580px) {

	h2 {
		font-size: 2.5rem;
	}

	.navigation {
		.s5 {
			width: 0;
		}
	}

	table {
		display: none !important;
	}

	.data__label {
		width: 100%;
	}

	// Navigation
	.navigation__item--name {
		display: none;
	}

	.section__action .action__item  .action__link {
		padding: 11px 35px 10px 17px !important;
	}

	.section__action .action__item .action__link--add {
		padding: 11px 15px 10px 40px !important;
	}

	.section__action .action__item .action__link--back {
		padding: 11px 25px 10px 40px !important;
	}

	// Dashboard

	.order-list__header {
		display: none;
	}

	.order-list__item--warning {
   		width: 100%;
    	border-top: 3px solid;
    	border-left: 0;
    	font-size: 0 !important;
    	padding: 0 !important;
	}
	.order-list__item--num,
	.order-list__item--date {
		width: 50% !important;
	}

	.order-list__item--company,
	.order-list__item--sum,
	.order-list__item--status {
		width: 100% !important;
		font-size: 2rem !important;
	}

	.order-list__item--status {
		padding-left: 0 !important;
		text-align: center;
		padding-bottom: 30px;

		.status__dfn {
			position: static;
		}


	}

	.btn__simple {
		width: 100% !important;
		padding-left: 0 !important;
		padding-right: 0 !important;
		text-align: center !important;
	}

	.search {
   		padding: 15px 15px !important;
	}

	.complete__icon {
		float: none !important;
		margin: 0 auto;
		display: block;
	}

	.complete__title {
		text-align: center;
	}

	.complete.block {
		padding: 25px 25px 25px 25px;
	}

	.complete__info {
		width: 100%;
		text-align: center;
	}
	.order-list__date .order-list__date--m-y {
		line-height: 1em;
		background: transparent;
	}
}

@media only screen and (max-width : 536px) {

	.profile__value--manager {
		display: block;
	}

	.profile__disc {
		background: none;
	}

	.order__header {
		display: none;
	}

	.order__item--warning {

	}

	.order__item--warning {
    	font-size: 0 !important;
   		width: 100%;
    	padding: 0 !important;
    	border-top: 3px solid;
  		border-left: 0;
	}

	.order__item--date,
	.order__item--status,
	.order__item--sum,
	.order__item--reward {
   		width: 100% !important;
   		border-bottom: 1px dotted #ccc;
	}

	.order__item--reward-status {
		width: 100%;
	}

	.comment__avatar {
		display: none !important;
	}

	.order__cycle {
	    display: block;
	    margin-right: 20px;
	    text-align: center;
	}
	.warning {
		&__message {
			font-size: 0;
			position: relative;
			top: 3px;
		}
	}

}

@media only screen and (max-width : 505px) {
	h1 {

    	font-size: 3.3rem;
	}

	.pagination__prev {
		margin-bottom: 10px;
	}

	.pagination__next {
		margin-top: 10px;
	}

	.pagination__prev,
	.pagination__next {
		display: block !important;
	}

}

@media only screen and (max-width : 450px) {

	.finance-b.block {
		min-width: 220px !important;
	}

	.section__action .action__link {
    	    font-size: 1.1rem  !important;
	}

	.section__action .action__item .action__link--back {
    	padding: 11px 22px 10px 37px !important;
	}

	.section__header.managers__title {
		padding-bottom: 30px !important;
	}


	.comments .comment__date {
    	font-size: 1rem;
    	margin-top: 8px;
	}

	.comments .comment__date:before {
   	 	content: "";
	}

	.claim__select {
		position: relative;
	}

	.claim__content {
    	padding: 30px 18px 25px 18px !important;
	}
}

@media only screen and (max-width : 446px) { 
	.profile__info {
		padding-left: 25px;
	}
}


/* Extra Small Devices, Phones */

@media only screen and (max-width : 400px) {

	h1 {
		font-size: 2.6rem;
	}

	.section__header {
	    padding: 30px 0 80px 15px !important;
	}

	// Finance
	.finance__header {
		padding-bottom: 35px !important;
	}

	.section__content {
    	padding: 0px 0 35px 15px !important;
	}

	.article {
    	margin-right: 15px !important;

    	&__content {
    		padding: 20px 15px !important;
    	}

	}

	.section__action .action__item  .action__link {
		font-size: 1.1rem !important;
	}

	.sidebar {
		display: none;
	}

	.content {
	    padding-left: 0 !important;
	}

	.block {
  		margin-right: 15px !important;
	}

	.list {
    	margin: 0 15px 12px 0 !important;
	}

	.back__link {
    	margin-right: 15px !important;
	}

	.order-list {
    	margin: 0 15px 55px 0 !important;
	}

	.goods {

		.s3 {
			width: 100%;
			text-align: center;
		}

		.goods-b__label {
    		margin: 0 auto 17px auto;
		}

		 .goods__select:after {
    		top: 87px !important;
		}

		.goods__label {
	   	 	width: auto;
	    	text-align: center;
		}

		.goods__label--checkbox {
			margin-left: 3px;
		}

		.claim__message {
    		width: 100% !important;
		}

	}
	.profile__name--phisical:after {
    	font-size: 1.2rem;
    	    padding: 4px 8px;
	}

	.profile__addition {
		padding-right: 15px;
		margin-left: 15px;

		.btn__submit--order {
			width: 100%;
			font-size: 1.5rem;
		}

	}
 

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 360px) {

	.profile__addition .btn__submit--order {
        padding: 15px 10px 13px 10px;
    }

    .phones__content,
	.requisites__content {
	      padding: 15px 15px 15px 15px;
	}

	.requisites__list {
		font-size: 1.2rem;
	}

}

@media only screen and (max-width : 340px) {

	.info__content.block {
		.info__label--checkbox {
			margin-left: 3px;
		}
	}
 

}

@media only screen and (max-width : 320px) {

}

/* responsive.scss (END) */