/* static.scss (START) */

@import '../config';

body, html {
 	font-family: 'Arial', 'Roboto', sans-serif;
	background: #fff;
	color: #333;
	min-width: 960px;
	max-width: 1920px;
	letter-spacing: 0;
}

body {
	display: table;
}

/* Webkit disable scrollbar */

// html::-webkit-scrollbar {width: 0 !important;}

/* Colors */

/* Extends */

.rouble {
	font-family: 'Roboto', sans-serif;
}

.sidebar {
	min-height: 100vh;
	width: 260px;
	position: fixed;
}

.content {
	display: table-cell;
	padding-left: 260px;
	width: 100%;
	min-height: 100vh;
	background: linear-gradient(to bottom, #c1c8ce 0%, #e4e8eb 13%);
	padding: 0 0 50px 0;
}

.btn {
	display: inline-block;

	&__create {
		position: relative;
		color: #e4e4e4;
		font-weight: bold;
		padding: 17px 35px 17px 65px;
		border-radius: 5px;
		border-top: 1px solid #3385c9;
		// background: linear-gradient(to bottom, rgba(0,102,186,1) 0%, rgba(0,68,136,1) 100%);
		background: url('../img/icons/btn__normal.png');
		background-repeat: repeat-x;
		background-position: center;

		&:before {
			content: "+";
			background: rgba(255,255,255,0.2);
			border-radius: 50%;
			color: #0b589e;
			height: 25px;
			width: 25px;
			position: absolute;
			top: 13px;
			left: 17px;
			font-size: 2.4rem;
			line-height: 1em;
			transition: $t;
			letter-spacing: 0 !important;
		}

		&:hover {
			color: #fff;
			background: url('../img/icons/btn__hover.png');
			box-shadow: 0 0 7px 3px rgba(8, 81, 142, .2);
			// background: linear-gradient(to bottom, #0076d8 0%,#004e9c 100%);
			&:before {
				background: rgba(255,255,255,0.4);
			}
		}

		&:active {
			background: url('../img/icons/btn__active.png');
			// background: linear-gradient(to bottom, #004488 0%,#0065b9 100%);
			color: #e4e4e4;
		}
	}

	&__archive, &__more {
		@include absolute-center-x;
		font-family: Arial;
		font-size: 1.4rem;
		font-weight: bold;
		background: rgba(255, 255, 255, 0.5);
		color: $blue-b;
		padding: 10px 60px 10px 75px;
		margin-top: -25px;

		&:before {
			@include absolute-center-y;
			margin: auto;
			margin-left: -30px;
			content: url("../img/icons/icon__archive--small.png");
		}

		&:hover {
			background: #fff;
		}
	}

	&__more {
		&:before {
			content: url("../img/icons/icon__arrow--bottom--grey.png");
		}
	}
	
	&__tickets {
		font-family: Arial;
		font-size: 1.4rem;
		font-weight: bold;
		background: rgba(255, 255, 255, 0.5);
		color: $blue-b;
		padding: 10px 60px 10px 75px;
		position: relative;
		margin-top: 15px;

		&:before {
			@include absolute-center-y;
			margin: auto;
			margin-left: -30px;
			content: url("../img/icons/icon__archive--small.png");
		}

		&:hover {
			background: #fff;
		}
	}

	&__submit {
		font-family: Arial;
		font-size: 1.8rem;
		font-weight: bold;
		color: #fefefe;
		// background: linear-gradient(to bottom, rgba(191,201,208,1) 0%, rgba(170,177,183,1) 100%);
		background: url('../img/icons/btn__hover.png');
		padding: 15px 40px 13px 40px;

		&--order {
			background: url('../img/icons/btn__normal.png');
		}

		&[disabled] {
			background: url('../img/icons/btn__normal--grey.png');

			&:hover {
				background: url('../img/icons/btn__normal--grey.png');
			}
		}

		&:hover {
			color: #fff;
			background: url('../img/icons/btn__hover.png');
			// background: url('../img/icons/btn__normal--grey.png');
			box-shadow: 0 0 7px 3px rgba(8, 81, 142, .2);
			// background: linear-gradient(to bottom, #0076d8 0%,#004e9c 100%);

			&:before {
				background: rgba(255,255,255,0.4);
			}
		}

		&:active {
			background: url('../img/icons/btn__active.png');
			// background: linear-gradient(to bottom, #004488 0%,#0065b9 100%);
			color: #e4e4e4;
		}
	}

	&__simple {
		margin-top: 15px;
		font-family: Arial;
		font-size: 1.4rem;
		font-weight: bold;
		background: rgba(255, 255, 255, 0.5);
		color: $blue-b;
		padding: 13px 95px 12px 95px;
		position: relative;
		white-space: nowrap;
		
		&:hover {
			background: #fff;
			color: $blue-b;
		}

		&--archive {
			&:before {
				@include absolute-center-y;
				margin: auto;
				margin-left: -30px;
				content: url("../img/icons/icon__archive--small.png");
			}

			&:hover {
				background: #fff;
			}
		}
	}

}

/* Default Sections */

.container {
	max-width: 1350px;
	margin: 0;
}

section {
	font-size: 1.5rem;
	// line-height: 1.2em;
	// letter-spacing: 0;

	.section__header {
		padding: 60px 0 40px $gut-block;
		position: relative;
	}

	.section__action {
		position: absolute;
		right: 41px;
		top: 71px;

		.action {

			&__item {
				display: inline-block;
				margin-left: 12px;
			}

			&__link {
				font-family: Arial;
				font-size: 1.4rem;
				font-weight: bold;
				color: $blue-b;
				padding: 11px 20px 10px 45px;
				position: relative;
				background: rgba(235, 238, 239, 0.8);

				&:hover {
					background: #f5f6f7;
				}

				&--add {

					&:before {
						content: "+";
						background: #aabeca;
						border-radius: 50%;
						color: #e8ebee;
						height: 17px;
						width: 17px;
						position: absolute;
						top: 10px;
						left: 15px;
						font-size: 2rem;
						line-height: 15px;
						transition: $t;
						padding-left: 2.5px;
						padding-top: 2px;
						box-sizing: border-box;
					}
				}

				&--back {

					&:before {
						@include absolute-center-y;
						margin: auto;
						margin-left: -25px;
						content: url("../img/icons/icon__arrow--prev--blue.png");

					}
				}

				&--forward {
					padding: 11px 35px 10px 20px;

					&:after {
						@include absolute-center-y;
						margin: auto;
						right: 12px;
						content: url("../img/icons/icon__arrow--next--blue.png");

					}
				}

				&--change {
					padding: 10px 50px 10px 20px;

					&:after {
						@include absolute-center-y;
						content: url("../img/icons/icon__change.png");
						right: 15px;
					}
				}

			}
		}

	}

	.section__title {
		font-family: Tahoma;
		font-weight: bold;
		width: 50%;
		color: #1d2028;
		letter-spacing: -1px;
		margin: 0
	}

	.section__content {
		padding: 0 0 35px $gut-block;
	}

	.section__addition {
	}

	.section__text {

	}
}

.article {
	background: #f7f9f9;
	margin: 0 40px $t-gut 0;
	padding: 0 0 $b-gut 0;
	box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.1);

	&__content {
		padding: 20px 24px;
		font-family: Arial;
		font-size: 1.5rem;
		line-height: 2.4rem;

		a {
			text-decoration: underline;
			font-weight: bold;
		}
	}

}

.block {
	background: #f7f9f9;
	margin: 0 40px $b-gut 0;
	box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.1);

	&__title {
		font-family: Tahoma;
		font-size: 1.6rem;
		line-height: 1em;
		font-weight: bold;
		color: #000;
		padding: 23px 24px;
		box-shadow: 0px 5px 7px 0px rgba(0,0,0,0.07);
	}

	&__content {
		padding: 20px 24px;
	}

}

.list {
	margin: 0 40px $b-gut 0;

	&__title {
		font-family: Tahoma;
		font-size: 2.2rem;
		line-height: 2.4rem;
		color: #000;
		padding: 23px 24px;
	}

	&__content {
	}

}

.navigation {
	background: #eff1f2;
	position: relative;
	// border-bottom: 1px solid #b6bec4;

	&__list {
		@include clearfix;
		.s1 {
			min-width: 160px;
		}
	}

	&__avatar {
		@include absolute-center-y;
		border-radius: 50%;
	}

	&__item {
		padding: 15px 0 15px 0;

		&--support {
			padding-left: $gut-block;
			// width: 40%;
		}

		&--balance {
			// width: 15%;
			max-width: 155px;
			background: $blue;
			text-align: center;
			transition: $t;

			&:hover {
				background: #0071cf;
			}

			.navigation__link {
				color: #fff;
				font-size: 1.8rem;
			}
		}

		&--name {
			// width: 45%;
			padding-left: 17px;
			box-sizing: border-box;
			position: relative;
			min-height: 50px;

			.navigation__link {
				font-size: 1.4rem;
				color: $blue-b;
				font-style: italic;
				font-weight: normal;
				margin-right: 20px;
				@include absolute-center-y;
			}
		}

		&--exit {
			position: absolute;
			top: 0;
			right: 0;
			min-width: 40px;
			background: $blue;
			text-align: center;
			transition: $t;

			&--manager {
				background: #e63b3b;

				&:hover {
					background: #cd3333 !important;
				}
			}

			&:hover {
				background: #0071cf;
			}

			.navigation__icon {
    			margin-right: 0;
    			top: 3px;
			}
		}
	}

	&__icon {
		vertical-align: sub;
		margin-right: 8px;
	}

	&__link {
		font-weight: bold;
		font-size: 1.5rem;

		&--manager {
			margin-left: 55px !important;
			display: block;
		}
	}

	&__indicator {
		@include round(16px);
		line-height: 16px !important;
		font-size: 1.1rem;
		background: $red;
		color: #fff;
		position: relative;
		top: -12px;
		font-weight: bold;
		animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both infinite;
	}
}

.pagination {
	text-align: center;
	margin: 25px 0;

	&__prev {
		display: inline-block;
	}

	&__next {
		display: inline-block;
	}

	&__list {
		display: inline-block;
	}

	&__item {
		display: inline-block;
		background: #fafafb;
		margin: 0 3px;

		.pagination__link {
			color: $disable;
			font-family: Arial;
			font-size: 1.8rem;

			&:hover {
				background: $blue;
				color: #fff;
			}
		}
	}

	&__link {
		padding: 11px 15px;
		display: block;

		&--disable {
			color: $disable !important;
			cursor: default;
		}

		&--active {
			color: #fff !important;
			background: $blue;
		}
	}
}

.back {

	&__link {
		padding: 10px 70px;
		background: #fff;
		display: inline-block;
		position: relative;
		font-weight: bold;

		&:before {
			@include absolute-center-y;
			content: url('../img/icons/icon__arrow--prev--blue.png');
			margin-left: -25px;
		}
	}

}

.error {
	width: 100vw;
	height: 100vh;
	background: #272b35;
	color: #fff;

	.logotype {
		position: absolute;
		top: 50px;
		left: 35px;
	}

	&__message {
		@include absolute-center-xy;
		width: 500px;
	}

	&__num {
		font-family: Arial;
		font-size: 9rem;
		color: #2996f0;
		margin-bottom: 45px;

		&--500 {
			color: #f13b3b;
		}
	}

	&__title {
		font-family: Tahoma;
		font-weight: bold;
		font-size: 3.6rem;
		margin-bottom: 35px;
	}

	&__text {
		font-family: Arial;
		font-size: 1.8rem;
		line-height: 2.8rem;
		color: #cecfd0;
		margin-bottom: 60px;
	}

	&__back {
		background: #0066bb;
		padding: 15px 25px;
		color: #fff;
		font-family: Arial;
		font-weight: bold;
		font-size: 1.5rem;

		&--500 {
			background: #f13b3b;

			&:hover {
				background: #f44e4e !important;
			}
		}

		&:hover {
			color: #dedede;
			background: #007ce4;
		}
	}
}

/* static.scss (END) */