/* techsup.scss (START) */

@import '../config';

.techsup {
	margin: 0 40px 55px 0;

	&__title {
		color: #000;
		margin-bottom: 5px;
	}

	&__header {
		@include clearfix;
		line-height: 1.8rem;

		.techsup__item--num,
		.techsup__item--date,
		.techsup__item--theme,
		.techsup__item--name,
		.techsup__item--status {
			color: #788288 !important;
		}
	}

	&__link {
		display: block;
		width: 100%;
	}

	&__content {
		@include clearfix;
		background: #fff;
		box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.1);
		margin-bottom: 7px;
		transition: $t;
		
		.techsup__item--date {
			color: #8e9499;
		}

		&:hover {
			box-shadow: 0px 0px 7px 3px rgba(8,81,142,0.2);
		}
	}

	&__item {
		float: left;
		padding: 20px 0 18px 0;

		&--num {
			padding-left: 18px;
			box-sizing: border-box;
			color: #000;
			width: 18%;
		}

		&--date {
			width: 12%;
		}

		&--date,
		&--theme,
		&--name {
			color: #000;
		}

		&--theme,
		&--name {
			position: relative;
			min-height: 15px;
			width: 25%;

			.dfn {
				@include absolute-center-y;
				display: block;
				line-height: 1.4rem;
			}
		}

		&--status {
			width: 20%;

			&--n1 {
				color: $blue;
				font-weight: bold;
				font-size: 1.4rem;
			}

			&--n2 {
				color: $orange;
				font-weight: bold;
				font-size: 1.4rem;
			}

			&--n3 {
				color: $green;
				font-weight: bold;
				font-size: 1.4rem;
			}
		}
	}
}

.claim {

	&.block {
		background: #fff;
	}

	&__content {
		padding: 30px 50px 25px 25px;
		position: relative;
	}

	&__label {
		width: 150px;
		float: left;
		color: $blue;
		margin-top: 17px;
		margin-bottom: 17px;
	}

	&__select {

		&:after {
			content: url('../img/icons/icon__arrow--bottom--blue.png');
			position: relative;
			top: 3px;
			right: 37px;
		}
	}

	&__form {
		@include clearfix;
	}

	&__field,
	&__message,
	&__file {
		// width: 470px !important;
	}

	&__message {
		padding-top: 17px;
		margin-bottom: 15px;
		width: 85% !important;
	}

	&__item {
		margin-bottom: 12px;
	}

	&__file {
		font-family: Tahoma !important;
		font-size: 1.2rem !important;
	}

	&__uploadinfo {
		display: block;
		padding-left: 20px;
		font-family: Arial;
		font-size: 1.4rem;
		line-height: 1.3em;
		font-style: italic;
		color: #889198;
		float: left;
	}

	&__submit {
		margin-top: -20px;
	}

	&__warning {
 		margin-top: 20px;
		color: #000;

		a {
			font-weight: bold;
			cursor: default;
		}
	}

	&__addition {
		text-align: center;
	}
}

/* techsup.scss (END) */