/* users.scss (START) */

@import '../config';

.search {
	padding: 15px 30px;
	margin-bottom: 40px;

	&__label {
		padding-right: 25px;
		color: $blue;
	}

	&__field {
		width: 60.5% !important;
	}

	&__submit {
		padding: 11px 20px 10px 20px;
		margin-left: 5px;
	}
}

.newusers {
	margin-bottom: 50px;

	&__title {
		font-family: Tahoma;
    	margin-bottom: 25px;
    	color: #000;

    	.blue {
    		color: #0066bb;
    	}

    	.green {
    		color: #1db07e;
    	}
	}

	&__link {
		display: block;
		width: 95%;
		position: absolute;
		min-height: 78px;
		z-index: 1000;
	}

	&__content {
		@include clearfix;
		background: #fff;
		box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.1);
		margin-bottom: 12px;
		transition: $t;

		&:hover {
			box-shadow: 0px 0px 7px 3px rgba(8,81,142,0.2);
		}

		&--paid {
			opacity: 0.5;

			&:hover {
				opacity: 1;
			}
		}
	}

	&__item {
		float: left;
		padding: 14px 0 14px 0;
		font-size: 1.4rem;
		color: #000;
		position: relative;

		&--warning {
			border-left: 7px solid;
			box-sizing: border-box;
			width: 2%;
			min-height: 78px;
			max-width: 30px;
			min-width: 30px;

			&--n1 {
				border-color: #1db07e;
			}

			&--n2 {
				border-color: #0066bb;
			}
		}

		&--photo {
			width: 10%;
			max-width: 70px;
		}

		&--name {
			font-family: Arial;
			font-size: 1.5rem;
			line-height: 1em;
			min-height: 50px;
			width: 20%;

			span {
				@include absolute-center-y;
			}
		}

		&--id {
			width: 18%;
			text-align: center;
			min-height: 50px;
			font-weight: bold;

			span {
				@include absolute-center-y;
			}
		}

		&--phone {
			min-height: 50px;
			width: 24%;

			span {
				@include absolute-center-y;
			}
		}

		&--date {
			min-height: 50px;
			width: 23%;
			color: #8e9499;

			span {
				@include absolute-center-y;
			}
		}
	}

}

/* users.scss (END) */