block config
	include ./../include/config.jade

include ./../mixins/mixins.jade

doctype
html(lang="ru")

	head

		include ./../include/head.jade

		title
			block title
				| #{pagetitle}

	body

		if headerA
			include ./../include/headerA.jade

		if headerB
			include ./../include/headerB.jade

		block content

		include ./../include/footer.jade

		if jquery
			script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
			script.
				window.jQuery || document.write('<script src="js/jquery.min.js"><\/script>')
		if slick
			script(src='js/libs/jquery.slick.js')
			script.
				console.log("js/libs/jquery.slick.js was connected!")
		if featherlight
			script(src='js/libs/jquery.featherlight.js')
			script(src='js/libs/jquery.featherlight.gallery.js')
			script.
				console.log("js/libs/jquery.featherlight.js was connected!")
		if smoothscroll
			script(src='js/libs/jquery.smoothscroll.min.js')
			script.
				console.log("js/libs/jquery.smoothscroll.min.js was connected!")
		if equalheight
			script(src='js/libs/jquery.equalheights.min.js')
			script.
				console.log("js/libs/jquery.equalheights.min.js was connected!")
		if lazyload
			script(src='js/libs/jquery.lazyload.js')
			script.
				console.log("js/libs/jquery.lazyload.js was connected!")
		if tabs
			script(src='js/libs/jquery.tabs.js')
			script.
				console.log("js/libs/jquery.tabs.js was connected!")
		if mask
			script(src='js/libs/jquery.mask.min.js')
			script.
				console.log("js/libs/jquery.mask.min.js was connected!")
		if masonry
			script(src='js/libs/jquery.masonry.min.js')
			script.
				console.log("js/libs/jquery.masonry.min.js was connected!")
		if scrollbar
			script(src='js/libs/jquery.scrollbar.js')
			script.
				console.log("js/libs/jquery.scrollbar.js was connected!")
		if countup
			script(src='js/libs/jquery.countup.min.js')
			script.
				console.log("js/libs/jquery.countup.min.js was connected!")
		//- script(src='js/libs/angular.min.js')
		//- script(src='js/libs/google.map.js')
		//- script(src='js/libs/waypoints.min.js')
		//- script(src='js/libs/jquery.mousewheel.js')

		script(src='js/jquery.functions.js')