meta(charset='UTF-8')

//- meta(http-equiv="Cache-Control", content="no-cache")

meta(property="og:title", content="")
meta(property="og:description", content="")
meta(property="og:url", content="")
meta(property="og:image", content="")

meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, minimal-ui')

meta(http-equiv='X-UA-Compatible', content='IE=edge')

//- meta(http-equiv="content-type", content="text/html")
//- meta(name='google', value='notranslate')

meta(name='msthemecompatible', content='no')
meta(name='cleartype', content='on')
meta(name='HandheldFriendly', content='True')
meta(name='format-detection', content='telephone=no')
meta(name='format-detection', content='address=no')

meta(name='description', content="#{metaDescription}")
meta(name='author', content='#{metaAuthor}')
meta(name='keywords' content="#{metaKeywords}")
meta(name='publisher-email', content='#{metaEmail}')
meta(name='publisher-url', content='#{metaUrl}')

link(rel="shortcut icon", href="img/favicon/favicon.png")

link(rel="apple-touch-icon", sizes="57x57", href="img/favicon/apple-touch-icon-57x57.png")
link(rel="apple-touch-icon", sizes="60x60", href="img/favicon/apple-touch-icon-60x60.png")
link(rel="apple-touch-icon", sizes="72x72", href="img/favicon/apple-touch-icon-72x72.png")
link(rel="apple-touch-icon", sizes="76x76", href="img/favicon/apple-touch-icon-76x76.png")
link(rel="apple-touch-icon", sizes="114x114", href="img/favicon/apple-touch-icon-114x114.png")
link(rel="apple-touch-icon", sizes="120x120", href="img/favicon/apple-touch-icon-120x120.png")
link(rel="apple-touch-icon", sizes="144x144", href="img/favicon/apple-touch-icon-144x144.png")
link(rel="apple-touch-icon", sizes="152x152", href="img/favicon/apple-touch-icon-152x152.png")

link(rel="icon", type="image/png", href="img/favicon/favicon-32x32.png", sizes="32x32")
link(rel="icon", type="image/png", href="img/favicon/favicon-96x96.png", sizes="96x96")
link(rel="icon", type="image/png", href="img/favicon/favicon-16x16.png", sizes="16x16")

link(rel="manifest", href="img/favicon/manifest.json")
link(rel="mask-icon", href="img/favicon/safari-pinned-tab.svg")

meta(name="msapplication-TileColor", content="#da532c")
meta(name="msapplication-TileImage", content="img/favicon/mstile-144x144.png")
meta(name="theme-color", content="#ffffff")

- function timeStump(url){ return url + '?' + Date.now(); }

link(href=timeStump('css/defaults.css'), rel='stylesheet')
link(href=timeStump('css/layouts.css'), rel='stylesheet')
link(href=timeStump('css/pages.css'), rel='stylesheet')
link(href=timeStump('css/vendors.css'), rel='stylesheet')
link(href=timeStump('css/develop.css'), rel='stylesheet')

link(href='https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext,latin-ext,cyrillic', rel='stylesheet',  type='text/css')

<!--[if lt IE 9]>
script(src="js/libs/html5shiv/es5-shim.min.js")
script(src="js/libs/html5shiv/html5shiv.min.js")
script(src="js/libs/html5shiv/html5shiv-printshiv.min.js")
script(src="js/libs/respond.min.js")
<![endif]-->
