.navigation

		.navigation__list
			.row
				.s4.col
					.navigation__item.navigation__item--support
						img.navigation__icon(src="img/icons/icon__support--small.png", width="20", height="20", title="Сообщения от техподдержки", alt="")
						a.navigation__link(href="#") Техподдержка
						span.navigation__indicator 3
				.s1.col
					.navigation__item.navigation__item--balance
						img.navigation__icon(src="img/icons/icon__finance--small.png", width="20", height="20", title="Ваш баланс", alt="")
						a.navigation__link(href="#", title="Ваш баланс") 1 386 500 <span class="rouble">₽</span>
				.s5.col
					.navigation__item.navigation__item--name
						a.navigation__link(href="#") Константиновский Александр Васильевич <span class="normal">(id: 3155)</span>
					.navigation__item.navigation__item--exit
						a.navigation__link(href="#")
							img.navigation__icon(src="img/icons/icon__exit.png", width="20", height="20", title="Выйти из кабинета", alt="")