.navigation

		.navigation__list
			.row
				.s4.col
					.navigation__item.navigation__item--support
						img.navigation__icon(src="img/icons/icon__support--small.png", width="20", height="20", title="Сообщения от техподдержки", alt="")
						a.navigation__link(href="#") Техподдержка
						span.navigation__indicator 3
				.s1.col
				.s5.col
					.navigation__item.navigation__item--name
						img.navigation__avatar(src="img/manager__avatar.png", width="40", height="40", title="", alt="")
						a.navigation__link.navigation__link--manager(href="#") Елена Сон
					.navigation__item.navigation__item--exit.navigation__item--exit--manager
						a.navigation__link(href="#")
							img.navigation__icon(src="img/icons/icon__exit.png", width="20", height="20", title="Выйти из кабинета", alt="")