.pagination
	.pagination__prev
		a.pagination__link.pagination__link--disable(href="#") Предыдущая
	.pagination__list
		.pagination__item
			a.pagination__link.pagination__link--active(href="#") 1
		.pagination__item
			a.pagination__link(href="#") 2
		.pagination__item
			a.pagination__link(href="#") 3
	.pagination__next
		a.pagination__link(href="#") Следующая