section.sidebar
	.sidebar__wrap.scrollbar
		.logotype.logotype--manager
			a.logotype__link(href='dashboard.html')
				img.logotype__image(src="img/logotype__manager.png", width="151", height="43", title="Перейти на главную страницу Личного кабинета", alt="")

		.menu.menu--manager
			ul.menu__list
				li.menu__item
					a.menu__link.menu__link--dashboard(href='#') Рабочий стол
				li.menu__item
					a.menu__link.menu__link--orders.active(href='#') Агенты
				li.menu__item
					a.menu__link.menu__link--profile(href='#') Заявки
				li.menu__item
					a.menu__link.menu__link--finance(href='#') Статистика
				li.menu__item
					a.menu__link.menu__link--support(href='#') Техподдержка