section.sidebar
	.sidebar__wrap.scrollbar
		.logotype
			a.logotype__link(href='dashboard.html')
				img.logotype__image(src="img/logotype.png", width="151", height="43", title="Перейти на главную страницу Личного кабинета", alt="")

			.create
				a.create__link.btn.btn__create(href="order__add.html") Создать заявку

		.menu
			ul.menu__list
				li.menu__item
					a.menu__link.menu__link--dashboard(href='dashboard.html') Рабочий стол
				li.menu__item
					a.menu__link.menu__link--orders.active(href='order__list.html') Заявки
				li.menu__item
					a.menu__link.menu__link--profile(href='profile.html') Мой профиль
				li.menu__item
					a.menu__link.menu__link--finance(href='finance.html') Финансы
				li.menu__item
					a.menu__link.menu__link--base(href='base.html') База знаний
				li.menu__item
					a.menu__link.menu__link--support(href='tickets__list.html') Техподдержка

		.manager
			img.manager__image(src="img/manager__avatar.png", width="60", height="60", title="", alt="")
			.manager__name Елена Сон
			.manager__title Ваш менеджер
			.manager__phone 8 (315) 525-31-63
			.manager__email elena@naviportal.ru

		.support
			.support__title Служба технической поддержки
			.support-b
				.support-b__phone 8-800-500-43-69
				.support-b__email support@naviportal.ru