/* responsive.scss (START) */

/* Large Devices, Wide Screens */

@media only screen and (max-width : 1920px) {
 
}

@media only screen and (max-width : 1600px) {

  

}

@media only screen and (max-width : 1500px) {
 
}

@media only screen and (max-width : 1450px) {

}

@media only screen and (max-width : 1380px) {


}

/* Medium Devices, Desktops */

@media only screen and (max-width : 1000px) {

	// Sidebar

	body,
	html {
		min-width: auto !important;
	}

	.sidebar {
	    width: 65px !important;
	}

	.content {
	    padding-left: 65px !important;
	}

	.manager,
	.support,
	.logotype__image {
		display: none;
	}

	.menu__link {
		font-size: 0;
		padding: 20px 0 30px 0 !important;
		background-position: 15px 7px !important;
	}

	.btn__create {
		font-size: 0;
		padding: 32px 35px 17px 15px !important;

		&:before {
			top: 12px !important;
    		left: 13px !important;
		}
	}

	// Navigation

	.navigation {
		.s4 {
			width: 8.33333333% !important;
			min-width: 85px;
		}
		.s2 {
			width: 16.66666667% !important;
		}
	}

	.navigation__item--support {
		.navigation__link {
			font-size: 0 !important;
		}
	}

	.navigation__item--name {

	}

	// Header

	.section__header {
		padding: 30px 0 80px 25px  !important;

		.section__title {
			width: 100% !important;
		}
		.section__action {
			position: relative;
			top: 37px;
    		right: 12px;
		}
	}

	// Content

	.block {
		margin-right: 25px !important;
	}

	.data__field {
    	width: 100% !important;
	}

}

/* Small Devices, Tablets */

@media only screen and (max-width : 768px) {

}

/* Extra Small Devices, Phones */

@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */

@media only screen and (max-width : 320px) {

}

/* responsive.scss (END) */