/* sidebar.scss (START) */

@import '../config';

.sidebar {
	background: #272c36 url("../img/sidebar__bg.png");
	background-repeat: repeat-y;
	background-position: right;
	height: 100%;

	&__wrap {
		height: 100vh;
	}

	.logotype {
		background-repeat: no-repeat;
		background-position: top center;
		background: url("../img/logo__bg.png");
		padding: 17px 0 15px 0;

		&--manager {
			padding-bottom: 60px
		}

		&__link {
			margin-left: 34px;
		}
	}

	.create {
		margin-top: 42px;
		text-align: center;
	}

	.menu {
		border-top: 1px solid #1e2128;
		border-bottom: 1px solid #353842;
		margin-bottom: 20px;

		&__item {
			border-top: 1px solid #353842;
			border-bottom: 1px solid #1e2128;
		}

		&--manager {

			.menu__link--dashboard {
				&:hover, &.active {
					color: #fff;
					background-image: url('../img/icons/icon__home--hover--manager.png');
				}
			}

			.menu__link--orders {
				&:hover, &.active {
					color: #fff;
					background-image: url('../img/icons/icon__orders--hover--manager.png');
				}
			}

			.menu__link--profile {
				&:hover, &.active {
					color: #fff;
					background-image: url('../img/icons/icon__profile--hover--manager.png');
				}
			}

			.menu__link--finance {

				background-image: url('../img/icons/icon__statistic--manager.png');

				&:hover, &.active {
					color: #fff;
					background-image: url('../img/icons/icon__statistic--hover--manager.png');
				}

			}

			.menu__link--support {

				&:hover, &.active {
					color: #fff;
					background-image: url('../img/icons/icon__support--hover--manager.png');
				}
			}

		}

		&__link {
			color: #8f9093;
			padding: 19px 0 17px 90px;
			font-weight: bold;
			display: block;
			position: relative;
 			background-repeat: no-repeat;
    		background-position: 32px 7px;

    		&:hover, &.active {
    			background-color: #232832;
    		}

			&--dashboard {
				background-image: url('../img/icons/icon__home.png');

				&:hover, &.active {
					color: #fff;
					background-image: url('../img/icons/icon__home--hover.png');
				}

			}

			&--orders {

				background-image: url('../img/icons/icon__orders.png');

				&:hover, &.active {
					color: #fff;
					background-image: url('../img/icons/icon__orders--hover.png');
				}

			}

			&--profile {

				background-image: url('../img/icons/icon__profile.png');

				&:hover, &.active {
					color: #fff;
					background-image: url('../img/icons/icon__profile--hover.png');
				}
			}

			&--finance {

				background-image: url('../img/icons/icon__finance.png');

				&:hover, &.active {
					color: #fff;
					background-image: url('../img/icons/icon__finance--hover.png');
				}

			}

			&--base {

				background-image: url('../img/icons/icon__base.png');

				&:hover, &.active {
					color: #fff;
					background-image: url('../img/icons/icon__base--hover.png');
				}
			}

			&--support {

				background-image: url('../img/icons/icon__support.png');

				&:hover, &.active {
					color: #fff;
					background-image: url('../img/icons/icon__support--hover.png');
				}
			}
		}
	}

	.manager {
		background: #2f333d;
		color: #fff;
		padding: 40px 40px 20px 40px;
		margin: 50px 15px 15px 15px;
		text-align: center;
		position: relative;
		border-radius: 5px;

		&__image {
			position: absolute;
			top: -20px;
		    left: 0;
		    right: 0;
		    margin: auto;
		    border-radius: 50%;
		}

		&__name {
			margin: 15px 0 10px 0;
			font-size: 1.6rem;
		}

		&__title {
			font-size: 1.4rem;
			color: #788288;
			margin-bottom: 20px;
		}

		&__phone {
			margin-bottom: 12px;
		}

		&__phone, &__email {
			font-size: 1.5rem;
		}
	}

	.support {
		color: #788288;
		text-align: center;
		margin: 50px 15px 50px 15px;

		&__title {
			font-size: 1.4rem;
			margin-bottom: 20px;
		}

		&-b {
			padding: 30px 0 30px 0;
			border: 2px dashed #3d414a;
			border-radius: 3px;

			&__phone {
				font-size: 2.2rem;
				font-weight: bold;
				margin-bottom: 20px;
				color: #fff;
			}

			&__email {
				font-size: 1.5rem;
			}
		}
	}
}

/* sidebar.scss (END) */